<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>
      {{lookupTitle | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeButtonClick()">
        <h2>
          <ion-icon name="close"></ion-icon>
        </h2>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-searchbar (ionInput)="setFilteredItems($event)" (ionCancel)="onCancel()" [animated]="true"></ion-searchbar>
  <div *ngIf='items.length <= 0' class="cs-tc" style="margin-top:16%;">
    <img src='assets/img/no_record_found.png'>
  </div>
  <ion-virtual-scroll [items]="items" *ngIf="lookupColumnDetails.length == 1">
    <ion-item *virtualItem="let item" (click)="itemClick(item)" lines="none" class="main-list-items">

      <ion-label>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Timestamp'">
          {{item[lookupColumnDetails[0].columnName] | date:appUtilityConfig.userDateTimeFormat:appUtilityConfig.userZoneOffsetValue}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Date'">
          {{item[lookupColumnDetails[0].columnName] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Radio' || lookupColumnDetails[0]['fieldType'] == 'Dropdown'">
          {{lookupColumnDetails[0]['mappingValues'][item[lookupColumnDetails[0].columnName]]}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Checkbox' || lookupColumnDetails[0]['fieldType'] == 'Multiselect'">
          <ng-container *ngFor="let columnValues of item[lookupColumnDetails[0].columnName];let j = index">
            <div *ngIf="j == item[lookupColumnDetails[0].columnName].length - 1;then last_content else content">
            </div>
            <ng-template #last_content> {{lookupColumnDetails[0]['mappingValues'][columnValues]}}</ng-template>
            <ng-template #content>{{lookupColumnDetails[0]['mappingValues'][columnValues]}},</ng-template>
          </ng-container>
        </h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Text' || lookupColumnDetails[0]['fieldType'] == 'Autonumber' || lookupColumnDetails[0]['fieldType'] == 'Primary' || lookupColumnDetails[0]['fieldType'] == 'Textarea' || lookupColumnDetails[0]['fieldType'] == 'Url' || lookupColumnDetails[0]['fieldType'] == 'Email' || lookupColumnDetails[0]['fieldType'] == 'Multilinetextbox' || lookupColumnDetails[0]['fieldType'] == 'Number' || lookupColumnDetails[0].fieldType == 'Boolean' || lookupColumnDetails[0].fieldType == 'Decimal'">
          {{item[lookupColumnDetails[0].columnName]}}</h2>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

  <ion-virtual-scroll [items]="items" *ngIf="lookupColumnDetails.length == 2">
    <ion-item *virtualItem="let item" (click)="itemClick(item)" lines="none" class="main-list-items">

      <ion-label>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Timestamp'">
          {{item[lookupColumnDetails[0].columnName] | date:appUtilityConfig.userDateTimeFormat:appUtilityConfig.userZoneOffsetValue}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Date'">
          {{item[lookupColumnDetails[0].columnName] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Radio' || lookupColumnDetails[0]['fieldType'] == 'Dropdown'">
          {{lookupColumnDetails[0]['mappingValues'][item[lookupColumnDetails[0].columnName]]}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Checkbox' || lookupColumnDetails[0]['fieldType'] == 'Multiselect'">
          <ng-container *ngFor="let columnValues of item[lookupColumnDetails[0].columnName];let j = index">
            <div *ngIf="j == item[lookupColumnDetails[0].columnName].length - 1;then last_content else content">
            </div>
            <ng-template #last_content> {{lookupColumnDetails[0]['mappingValues'][columnValues]}}</ng-template>
            <ng-template #content>{{lookupColumnDetails[0]['mappingValues'][columnValues]}},</ng-template>
          </ng-container>
        </h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Text' || lookupColumnDetails[0]['fieldType'] == 'Autonumber' || lookupColumnDetails[0]['fieldType'] == 'Primary' || lookupColumnDetails[0]['fieldType'] == 'Textarea' || lookupColumnDetails[0]['fieldType'] == 'Url' || lookupColumnDetails[0]['fieldType'] == 'Email' || lookupColumnDetails[0]['fieldType'] == 'Multilinetextbox' || lookupColumnDetails[0]['fieldType'] == 'Number' || lookupColumnDetails[0].fieldType == 'Boolean' || lookupColumnDetails[0].fieldType == 'Decimal'">
          {{item[lookupColumnDetails[0].columnName]}}</h2>


        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Timestamp'">
          {{item[lookupColumnDetails[1].columnName] | date:appUtilityConfig.userDateTimeFormat:appUtilityConfig.userZoneOffsetValue}}</h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Date'">
          {{item[lookupColumnDetails[1].columnName] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Radio' || lookupColumnDetails[1]['fieldType'] == 'Dropdown'">
          {{lookupColumnDetails[1]['mappingValues'][item[lookupColumnDetails[1].columnName]]}}</h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Checkbox' || lookupColumnDetails[1]['fieldType'] == 'Multiselect'">
          <ng-container *ngFor="let columnValues of item[lookupColumnDetails[1].columnName];let j = index">
            <div *ngIf="j == item[lookupColumnDetails[1].columnName].length - 1;then last_content else content">
            </div>
            <ng-template #last_content> {{lookupColumnDetails[1]['mappingValues'][columnValues]}}</ng-template>
            <ng-template #content>{{lookupColumnDetails[1]['mappingValues'][columnValues]}},</ng-template>
          </ng-container>
        </h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Text' || lookupColumnDetails[1]['fieldType'] == 'Autonumber' || lookupColumnDetails[1]['fieldType'] == 'Primary' || lookupColumnDetails[1]['fieldType'] == 'Textarea' || lookupColumnDetails[1]['fieldType'] == 'Url' || lookupColumnDetails[1]['fieldType'] == 'Email' || lookupColumnDetails[0]['fieldType'] == 'Multilinetextbox' || lookupColumnDetails[1]['fieldType'] == 'Number' || lookupColumnDetails[1].fieldType == 'Boolean' || lookupColumnDetails[1].fieldType == 'Decimal'">
          {{item[lookupColumnDetails[1].columnName]}}</h3>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

  <ion-virtual-scroll [items]="items" *ngIf="lookupColumnDetails.length == 3">
    <ion-item *virtualItem="let item" (click)="itemClick(item)" lines="none" class="main-list-items">

      <ion-label>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Timestamp'">
          {{item[lookupColumnDetails[0].columnName] | date:appUtilityConfig.userDateTimeFormat:appUtilityConfig.userZoneOffsetValue}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Date'">
          {{item[lookupColumnDetails[0].columnName] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Radio' || lookupColumnDetails[0]['fieldType'] == 'Dropdown'">
          {{lookupColumnDetails[0]['mappingValues'][item[lookupColumnDetails[0].columnName]]}}</h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Checkbox' || lookupColumnDetails[0]['fieldType'] == 'Multiselect'">
          <ng-container *ngFor="let columnValues of item[lookupColumnDetails[0].columnName];let j = index">
            <div *ngIf="j == item[lookupColumnDetails[0].columnName].length - 1;then last_content else content">
            </div>
            <ng-template #last_content> {{lookupColumnDetails[0]['mappingValues'][columnValues]}}</ng-template>
            <ng-template #content>{{lookupColumnDetails[0]['mappingValues'][columnValues]}},</ng-template>
          </ng-container>
        </h2>
        <h2 *ngIf="lookupColumnDetails[0]['fieldType'] == 'Text' || lookupColumnDetails[0]['fieldType'] == 'Autonumber' || lookupColumnDetails[0]['fieldType'] == 'Primary' || lookupColumnDetails[0]['fieldType'] == 'Textarea' || lookupColumnDetails[0]['fieldType'] == 'Url' || lookupColumnDetails[0]['fieldType'] == 'Email' || lookupColumnDetails[0]['fieldType'] == 'Multilinetextbox' || lookupColumnDetails[0]['fieldType'] == 'Number' || lookupColumnDetails[0].fieldType == 'Boolean' || lookupColumnDetails[0].fieldType == 'Decimal'">
          {{item[lookupColumnDetails[0].columnName]}}</h2>


        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Timestamp'">
          {{item[lookupColumnDetails[1].columnName] | date:appUtilityConfig.userDateTimeFormat:appUtilityConfig.userZoneOffsetValue}}</h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Date'">
          {{item[lookupColumnDetails[1].columnName] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Radio' || lookupColumnDetails[1]['fieldType'] == 'Dropdown'">
          {{lookupColumnDetails[1]['mappingValues'][item[lookupColumnDetails[1].columnName]]}}</h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Checkbox' || lookupColumnDetails[1]['fieldType'] == 'Multiselect'">
          <ng-container *ngFor="let columnValues of item[lookupColumnDetails[1].columnName];let j = index">
            <div *ngIf="j == item[lookupColumnDetails[1].columnName].length - 1;then last_content else content">
            </div>
            <ng-template #last_content> {{lookupColumnDetails[1]['mappingValues'][columnValues]}}</ng-template>
            <ng-template #content>{{lookupColumnDetails[1]['mappingValues'][columnValues]}},</ng-template>
          </ng-container>
        </h3>
        <h3 *ngIf="lookupColumnDetails[1]['fieldType'] == 'Text' || lookupColumnDetails[1]['fieldType'] == 'Autonumber' || lookupColumnDetails[1]['fieldType'] == 'Primary' || lookupColumnDetails[1]['fieldType'] == 'Textarea' || lookupColumnDetails[1]['fieldType'] == 'Url' || lookupColumnDetails[1]['fieldType'] == 'Email' || lookupColumnDetails[0]['fieldType'] == 'Multilinetextbox' || lookupColumnDetails[1]['fieldType'] == 'Number' || lookupColumnDetails[1].fieldType == 'Boolean' || lookupColumnDetails[1].fieldType == 'Decimal'">
          {{item[lookupColumnDetails[1].columnName]}}</h3>


        <p *ngIf="lookupColumnDetails[2]['fieldType'] == 'Timestamp'">
          {{item[lookupColumnDetails[2].columnName] | date:appUtilityConfig.userDateTimeFormat:appUtilityConfig.userZoneOffsetValue}}</p>
        <p *ngIf="lookupColumnDetails[2]['fieldType'] == 'Date'">
          {{item[lookupColumnDetails[2].columnName] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</p>
        <p *ngIf="lookupColumnDetails[2]['fieldType'] == 'Radio' || lookupColumnDetails[2]['fieldType'] == 'Dropdown'">
          {{lookupColumnDetails[2]['mappingValues'][item[lookupColumnDetails[2].columnName]]}}</p>
        <p *ngIf="lookupColumnDetails[2]['fieldType'] == 'Checkbox' || lookupColumnDetails[2]['fieldType'] == 'Multiselect'">
          <ng-container *ngFor="let columnValues of item[lookupColumnDetails[2].columnName];let j = index">
            <div *ngIf="j == item[lookupColumnDetails[2].columnName].length - 1;then last_content else content">
            </div>
            <ng-template #last_content> {{lookupColumnDetails[2]['mappingValues'][columnValues]}}</ng-template>
            <ng-template #content>{{lookupColumnDetails[2]['mappingValues'][columnValues]}},</ng-template>
          </ng-container>
        </p>
        <p *ngIf="lookupColumnDetails[2]['fieldType'] == 'Text' || lookupColumnDetails[2]['fieldType'] == 'Autonumber' || lookupColumnDetails[2]['fieldType'] == 'Primary' || lookupColumnDetails[2]['fieldType'] == 'Textarea' || lookupColumnDetails[2]['fieldType'] == 'Url' || lookupColumnDetails[2]['fieldType'] == 'Email' || lookupColumnDetails[2]['fieldType'] == 'Multilinetextbox' || lookupColumnDetails[2]['fieldType'] == 'Number' || lookupColumnDetails[2].fieldType == 'Boolean' || lookupColumnDetails[2].fieldType == 'Decimal'">
          {{item[lookupColumnDetails[2].columnName]}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
<ion-footer>

</ion-footer>