<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button [disabled]="isSkeletonLoading" slot="start" (click)="backButtonOnclick()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'crmcustomer_d_m_view.Layout.crmcustomer_d_m_view'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" slot="end" (click)="editButton_elementId_Onclick()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="detailview-page-content" padding="">
    <ion-list class="hl-detailscroll-list-text" *ngIf="!isSkeletonLoading">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_name']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_name']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_customername']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_customername']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_customercontact']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_customercontact']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_customernumber']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_customernumber']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_annualrevenue']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_annualrevenue']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_customerrisktype']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_customerrisktype']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_phone']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_phone']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_billtolocation']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_billtolocation']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_customerstatus']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_customerstatus']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_email']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_email']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_shiptolocation']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_shiptolocation']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{'crmcustomer_d_m_view.Element.crmcustomer.website'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <div *ngIf="obj_pfm141093['website']!==null">
                            <div *ngIf="obj_pfm141093['website'] != undefined && obj_pfm141093['website'].indexOf('http') == 0"><a color="secondary" href="{{obj_pfm141093['website']}}" target="_blank">{{obj_pfm141093['website']}}</a></div>
                            <div *ngIf="obj_pfm141093['website'] != undefined && obj_pfm141093['website'].indexOf('http') != 0"><a color="secondary" href="http://{{obj_pfm141093['website']}}" target="_blank">{{obj_pfm141093['website']}}</a></div>
                        </div>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm141093_userid']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm141093 | cspfm_data_display: gridFieldInfo['pfm141093_userid']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>