
  <ion-toolbar *ngIf="appUtils.isMobile == false && appUtils.isAppSyncCompleted" class="cs-tool-web">
    <div class="cs-tool-web-div1">
      <ion-buttons slot="start" class="cs-tool-web-button cs-cur" (click)="triggerMenuEvents()">
        <ion-icon name="menu"></ion-icon>
      </ion-buttons>
      <!-- <img src="assets/img/chainsys-platform-logo.png" class="mar cs-tool-web-img1"> -->
      <img alt="" src="../../../logo/org_logo.png" onerror="this.src='assets/img/chainsys-platform-logo.png'" class="mar cs-tool-web-img1">
      <span class="cs-tool-web-span"></span>
      <!-- Dynamic application name show -->
      <p no-margin no-padding class="cs-tool-web-p">{{appUtils.applicationName}}</p>
    </div>
    <div class="cs-tool-web-div2 cs-positionrel">
      <ion-avatar slot="start" margin class="cs-tool-web-avatar cs-cur" (click)="userInfoClick($event)">
      <img src="{{profilePicSrc}}" onError="this.src='assets/img/user_icon.png'">
      </ion-avatar>
      <ion-col class="cs-tool-web-icon cs-cur">
      <ion-icon (click)="AnouncementAction()" name="notifications"></ion-icon>
      <ion-badge *ngIf="announcementList.length > 0" color="danger" class="cs-danger-badge">{{announcementList_length}}</ion-badge>
      </ion-col>
      <ion-icon (click)="appExitAction()" class="icon-mat-apps cs-tool-switch-icon cs-cur"></ion-icon>
      <img class="mar cs-tool-web-img1" onError="this.style.display = 'none';" src="{{appIcon}}">
      </div>
  </ion-toolbar>
<ion-content class="cs-user-info" *ngIf="userInfoActive">
  <ion-avatar class="cs-popover-avatar">
    <img src="{{ profilePicSrc }}" onerror="this.src='assets/img/user_icon.png'">
  </ion-avatar>
  <!-- Display logged user name  -->
  <h6 class="cs-user-name">{{loggedUserDetail['first_name']}}</h6>
  <!-- Display Logged user mail id -->
  <p class="cs-user-mailid">{{loggedUserDetail['email_id']}}</p>
  <div class="cs-user-borderset"></div>
  <p class="cs-user-manage">This account is manages by</p>
  <ion-row class="cs-user-manage-logo">
    <img src="assets/img/chainsys_logo.png">
  </ion-row>
  <ion-row class="cs-user-sel-option">
      <ion-icon class="icon-mat-settings cs-user-sel-option-icon cs-cur"(click) = "openSettingPage()"></ion-icon>
      <span class="cs-user-sel-option-icon-divider"></span>
      <ion-icon class="icon-mat-exit_to_app cs-user-sel-option-icon cs-cur"(click) = "logoutAction()"></ion-icon>
  </ion-row>
</ion-content>

<ion-app [ngClass]="appUtils.isMobile == false ? 'cs-tool-web-mov-top' : ''">
  <ion-router-outlet main [swipeGesture]="false" class="styleLight">
    <div class="validation-announcement" style="z-index:999;position:absolute;" (click)="AnouncementAction()">
      <ion-item *ngIf="announcementList.length>0 && appUtils.isMobile">
        <ion-icon class="icon-mat-notifications"></ion-icon>
        <ion-label >{{announcementList_length}}</ion-label>
      </ion-item>
    </div>
  </ion-router-outlet>
</ion-app>
<div class="cs-validate-announce" [hidden]="!isValidateOption">

  <ion-list class="cs-va-block cs-pr">
    <div class="cs-va-metatitle">
      <ion-title>Meta Validation Announcement</ion-title>
      <ion-label class="cs-pa cs-am-close">
        <ion-icon class="cs-cur" name="close" (click)="AnnouncementCloseButton()"></ion-icon>

      </ion-label>

      <ion-row padding-horizontal class="cs-va-ver-nd-applist">


        <ion-col *ngFor="let object of announcementList let i= index" class="main-list-items" class="new-version" size="12" sizeMd="6"
          sizeLg="4" sizeXl="3">
          <div no-padding class="new-ver-block">
            <ion-label *ngIf="object['annoucementType']=='newVersion'">


              New Version {{ object['newVersion']}}
            </ion-label>
            <ion-label *ngIf="object['annoucementType']=='newApp'">


                New app available
              </ion-label>
            <div class="new-ver-detail new-ver-vis-img">
              <p class="ver-name">{{object['appName']}}</p>
              <p *ngIf="object['annoucementType']=='newVersion'" class="ver-info"> {{object['oldVersion']}}</p>
              <ion-img [src]="imagesrc" (ionImgDidLoad)="setApplicationDefaultImage($event)"></ion-img>
            </div>
          </div>
        </ion-col>

      </ion-row>
      <ion-row class="announce-sync">
        <ion-button expand="block" (click)="callSyncAction()">{{callSyncActionButton}}</ion-button>
      </ion-row>
    </div>
  </ion-list>
</div>