<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'crmcustomer_d_m_entry.Layout.crmcustomer_d_m_entry'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="entry-page-content">
    <ion-list *ngIf="isParentObjectShow">
        <h5 no-margin="" padding-start="" padding-top="" margin-start="">{{parentObjValue}}</h5>
        <p no-margin="" padding-start="" margin-start="">{{parentObjLabel | translate}}</p>
        <ion-item-divider lines="none"></ion-item-divider>
    </ion-list>
    <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading">
        <ion-list no-padding="">
            <ion-row padding-horizontal="" padding-bottom="">
                <ion-col formGroupName="pfm141093" id="pfm141093_name" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.name'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" disabled="disabled">{{obj_pfm141093['name']}}</ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_customername" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['customername'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.customername'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm141093['customername']" formControlName="customername" required=""></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('customername').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Customer Name</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_customercontact" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['customercontact'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.customercontact'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm141093['customercontact']" formControlName="customercontact"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('customercontact').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Customer Contact</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_customernumber" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['customernumber'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.customernumber'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm141093['customernumber']" formControlName="customernumber" required=""></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('customernumber').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Customer Number</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_annualrevenue" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['annualrevenue'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.annualrevenue'| translate}}
                            <ion-text>in INR</ion-text>
                        </ion-label><span style="margin:0px 5px -27px 1px" slot="start" class="currencysymbolpreffix">₹</span>
                        <ion-input type="number" [(ngModel)]="obj_pfm141093['annualrevenue']" formControlName="annualrevenue" class="currencysymbolfield"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_customerrisktype" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['customerrisktype'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'crmcustomer_d_m_entry.Element.crmcustomer.customerrisktype'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['customerrisktype']" class="cs-dep-alert-no">{{dependentNumberCount['customerrisktype']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="customerrisktype_284133 != ''" [(ngModel)]="obj_pfm141093['customerrisktype']" formControlName="customerrisktype" multiple="false">
                            <ion-select-option value="None" [selected]=true>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerrisktype.Option.None' | translate}}</ion-select-option>
                            <ion-select-option value="High" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerrisktype.Option.High' | translate}}</ion-select-option>
                            <ion-select-option value="Medium" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerrisktype.Option.Medium' | translate}}</ion-select-option>
                            <ion-select-option value="Low" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerrisktype.Option.Low' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_phone" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['phone'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.phone'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm141093['phone']" formControlName="phone"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('phone').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Phone</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_billtolocation" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['billtolocation'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.billtolocation'| translate}}</ion-label>
                        <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="billtolocation" [(ngModel)]="obj_pfm141093.billtolocation"></ion-textarea>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('billtolocation').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Bill To Location</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_customerstatus" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['customerstatus'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'crmcustomer_d_m_entry.Element.crmcustomer.customerstatus'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['customerstatus']" class="cs-dep-alert-no">{{dependentNumberCount['customerstatus']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="customerstatus_284116 != ''" [(ngModel)]="obj_pfm141093['customerstatus']" formControlName="customerstatus" multiple="false">
                            <ion-select-option value="None" [selected]=true>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerstatus.Option.None' | translate}}</ion-select-option>
                            <ion-select-option value="Active" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerstatus.Option.Active' | translate}}</ion-select-option>
                            <ion-select-option value="Inactive" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerstatus.Option.Inactive' | translate}}</ion-select-option>
                            <ion-select-option value="Duplicate" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerstatus.Option.Duplicate' | translate}}</ion-select-option>
                            <ion-select-option value="Blacklisted" [selected]=false>{{'crmcustomer_d_m_entry.Element.crmcustomer.customerstatus.Option.Blacklisted' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_email" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['email'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.email'| translate}}</ion-label>
                        <ion-input type="email" [(ngModel)]="obj_pfm141093['email']" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('email').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Email</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_shiptolocation" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['shiptolocation'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.shiptolocation'| translate}}</ion-label>
                        <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="shiptolocation" [(ngModel)]="obj_pfm141093.shiptolocation"></ion-textarea>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('shiptolocation').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Ship To Location</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_website" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['website'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.website'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm141093.website" formControlName="website" required=""></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('website').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Website</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm141093" id="pfm141093_userid" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm141093['userid'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmcustomer_d_m_entry.Element.crmcustomer.userid'| translate}}</ion-label>
                        <ion-input type="number" [(ngModel)]="obj_pfm141093['userid']" formControlName="userid"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm141093').get('userid').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Userid</p>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>
    <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>