<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-title>{{'crmsaleorders_d_m_search_list.Layout.crmsaleorders_d_m_search_list'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="clearAction()">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="applyAction()">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="closeAction()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="appUtility.isMobileResolution">
        <ion-searchbar margin-start="" style="width:calc(100% - 32px)" (ionInput)="getSearchedItems($event.target.value)" (ionCancel)="onCancel()" [animated]="true"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding="" class="cs-org-filter-form">
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.orderid'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144373']['orderid']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="" class="entry-o-info-loc-item" (dblclick)="showLookup_301933(pfm147213_301933['object'], 'crmsaleorders_d_m_search_list.Element.crmsaleorders.customername')">
                <ion-label position="stacked" style="display: inline-table;">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.customername'| translate}}</ion-label>
                <ion-input type="text" *ngIf="!pfm147213_301933['label']" [(ngModel)]="pfm147213_301933['searchKey']">{{pfm147213_301933['label']}}</ion-input>
                <ion-input type="text" *ngIf="pfm147213_301933['label']" [(ngModel)]="pfm147213_301933['searchKey']">{{pfm147213_301933['label']}}</ion-input>
                <ion-icon *ngIf="!pfm147213_301933['label'] || pfm147213_301933['label'] == ''" (click)="showLookup_301933(pfm147213_301933['object'], 'crmsaleorders_d_m_search_list.Element.crmsaleorders.customername')" class="cs-side-icon" name="search" color="dark" slot="end"></ion-icon>
                <ion-icon *ngIf="pfm147213_301933['label'] && pfm147213_301933['label'] != ''" (click)="lookupClearAction(pfm147213_301933['object'])" class="cs-side-icon" name="close" color="dark" slot="end"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row style="align-items:flex-start">
        <ion-col size="12" sizeMd="6" sizeLg="4" sizeX="4" padding-bottom="">
            <ion-item no-padding="" class="cs-entry-item-disabled">
                <ion-label position="stacked">Customer Name</ion-label>
                <ion-input type="text" [readonly]="true">{{obj_pfm147213_301933['accountname']}}</ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.customercontact'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144373']['customercontact']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.customernumber'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144373']['customernumber']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,orderstatus)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'crmsaleorders_d_m_search_list.Element.crmsaleorders.orderstatus' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of orderstatus['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,orderstatus['selected'],item,orderstatus, filterFieldWithValues['pfm144373']['orderstatus'],'pfm144373','orderstatus')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.orderconfirmeddate'| translate}}</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-datetime max="2050" (click)="initializedatetime($event,'pfm144373','orderconfirmeddate',0)" (ionChange)="initializedatetime($event,'pfm144373','orderconfirmeddate',0)" (ionCancel)="initializedatetime($event,'pfm144373','orderconfirmeddate',0)" displayFormat="{{appUtility.userDatePickerFormat}}" [(ngModel)]="filterFieldWithValues['pfm144373']['orderconfirmeddate'][filterFieldWithValues['pfm144373']['orderconfirmeddate']['betweenfields'][0]]" pickerFormat="{{appUtility.userDatePickerFormat}}"></ion-datetime>
            </ion-item>
            <ion-icon name="searchbar-clear-icon" color="dark" slot="end"></ion-icon>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-datetime max="2050" (click)="initializedatetime($event,'pfm144373','orderconfirmeddate',1)" (ionChange)="initializedatetime($event,'pfm144373','orderconfirmeddate',1)" (ionCancel)="initializedatetime($event,'pfm144373','orderconfirmeddate',1)" displayFormat="{{appUtility.userDatePickerFormat}}" [(ngModel)]="filterFieldWithValues['pfm144373']['orderconfirmeddate'][filterFieldWithValues['pfm144373']['orderconfirmeddate']['betweenfields'][1]]" pickerFormat="{{appUtility.userDatePickerFormat}}"></ion-datetime>
            </ion-item>
            <ion-icon name="searchbar-clear-icon" color="dark" slot="end"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.ordercompleteddate'| translate}}</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-datetime max="2050" (click)="initializedatetime($event,'pfm144373','ordercompleteddate',0)" (ionChange)="initializedatetime($event,'pfm144373','ordercompleteddate',0)" (ionCancel)="initializedatetime($event,'pfm144373','ordercompleteddate',0)" displayFormat="{{appUtility.userDatePickerFormat}}" [(ngModel)]="filterFieldWithValues['pfm144373']['ordercompleteddate'][filterFieldWithValues['pfm144373']['ordercompleteddate']['betweenfields'][0]]" pickerFormat="{{appUtility.userDatePickerFormat}}"></ion-datetime>
            </ion-item>
            <ion-icon name="searchbar-clear-icon" color="dark" slot="end"></ion-icon>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-datetime max="2050" (click)="initializedatetime($event,'pfm144373','ordercompleteddate',1)" (ionChange)="initializedatetime($event,'pfm144373','ordercompleteddate',1)" (ionCancel)="initializedatetime($event,'pfm144373','ordercompleteddate',1)" displayFormat="{{appUtility.userDatePickerFormat}}" [(ngModel)]="filterFieldWithValues['pfm144373']['ordercompleteddate'][filterFieldWithValues['pfm144373']['ordercompleteddate']['betweenfields'][1]]" pickerFormat="{{appUtility.userDatePickerFormat}}"></ion-datetime>
            </ion-item>
            <ion-icon name="searchbar-clear-icon" color="dark" slot="end"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.shiptoaddress'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144373']['shiptoaddress']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorders_d_m_search_list.Element.crmsaleorders.billtoaddress'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144373']['billtoaddress']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
<div class="cs-info-alert-org" *ngIf="orderstatus['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'crmsaleorders_d_m_search_list.Element.crmsaleorders.orderstatus' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(orderstatus)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of orderstatus['input']" (click)="toggleSelectedItem(orderstatus['selected'],item,orderstatus, filterFieldWithValues['pfm144373']['orderstatus'],'pfm144373','orderstatus')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>