<ion-header no-border>
  <ion-toolbar color="primary" *ngIf="apputilityObject.isMobile == true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class=" homepage-content ">
  <ion-img src="assets/img/logo-bg-image.png"></ion-img> 
  <div class="homepage-logo">
  <ion-header no-border>
      <h6 *ngIf="apputilityObject.isMobile == true" padding-start>{{currentObject[0]['appDisplayName']}}</h6>
  </ion-header>
<div>
  <div class="homepage-image">
  <img onError="this.src='assets/img/chainsys_platform.png';"
    src="{{appIcon}}">
  </div>
    <div text-center class="homepage-ver">
      <ion-label slot="fixed">V {{currentObject[0]['versionNumber']}}</ion-label>
    </div>
  </div>
</div>
</ion-content>