<ion-list>
  <ion-item *ngFor="let item of items" style="padding-left: 12px !important;">
    <ion-avatar slot="start">
      <img src={{item.icon}} onerror="this.src='assets/img/user_icon.png';">
    </ion-avatar>
    <ion-label>
      <p>{{item['label1']}}</p>
      <h3 style="white-space: pre-wrap;">{{item['label2']}}</h3>
      <h2 style="white-space: pre-wrap;">{{item['label3']}}</h2>
    </ion-label>
  </ion-item>
</ion-list>