<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-title>{{'crmcustomer_d_m_search_list.Layout.crmcustomer_d_m_search_list'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="clearAction()">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="applyAction()">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="closeAction()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="appUtility.isMobileResolution">
        <ion-searchbar margin-start="" style="width:calc(100% - 32px)" (ionInput)="getSearchedItems($event.target.value)" (ionCancel)="onCancel()" [animated]="true"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding="" class="cs-org-filter-form">
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.name'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['name']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.customername'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['customername']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.customercontact'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['customercontact']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.customernumber'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['customernumber']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmcustomer_d_m_search_list.Element.crmcustomer.annualrevenue'| translate}} in INR</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm141093']['annualrevenue']['betweenfields'][1]" inputmode="numeric"></ion-input>
            </ion-item>
            <ion-label>
                <p>{{filterFieldWithValues['pfm141093']['annualrevenue']['betweenfields'][1] | currency:'₹':true:'1.1-2':'en-IN'}}</p>
            </ion-label>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm141093']['annualrevenue']['betweenfields'][0]" inputmode="numeric"></ion-input>
            </ion-item>
            <ion-label>
                <p>{{filterFieldWithValues['pfm141093']['annualrevenue']['betweenfields'][0] | currency:'₹':true:'1.1-2':'en-IN'}}</p>
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,customerrisktype)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'crmcustomer_d_m_search_list.Element.crmcustomer.customerrisktype' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of customerrisktype['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,customerrisktype['selected'],item,customerrisktype, filterFieldWithValues['pfm141093']['customerrisktype'],'pfm141093','customerrisktype')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.phone'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['phone']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.billtolocation'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['billtolocation']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,customerstatus)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'crmcustomer_d_m_search_list.Element.crmcustomer.customerstatus' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of customerstatus['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,customerstatus['selected'],item,customerstatus, filterFieldWithValues['pfm141093']['customerstatus'],'pfm141093','customerstatus')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.email'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['email']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.shiptolocation'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['shiptolocation']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmcustomer_d_m_search_list.Element.crmcustomer.website'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm141093']['website']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmcustomer_d_m_search_list.Element.crmcustomer.userid'| translate}}</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm141093']['userid']['betweenfields'][1]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm141093']['userid']['betweenfields'][0]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
<div class="cs-info-alert-org" *ngIf="customerrisktype['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'crmcustomer_d_m_search_list.Element.crmcustomer.customerrisktype' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(customerrisktype)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of customerrisktype['input']" (click)="toggleSelectedItem(customerrisktype['selected'],item,customerrisktype, filterFieldWithValues['pfm141093']['customerrisktype'],'pfm141093','customerrisktype')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>
<div class="cs-info-alert-org" *ngIf="customerstatus['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'crmcustomer_d_m_search_list.Element.crmcustomer.customerstatus' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(customerstatus)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of customerstatus['input']" (click)="toggleSelectedItem(customerstatus['selected'],item,customerstatus, filterFieldWithValues['pfm141093']['customerstatus'],'pfm141093','customerstatus')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>