<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button [disabled]="isSkeletonLoading" slot="start" (click)="backButtonOnclick()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'AddressView_MOBILE_Grid.Layout.AddressView_MOBILE_Grid'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" slot="end" (click)="editButton_elementId_Onclick()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header padding="" class="cs-list-preview hl-header-text cs-detail-bor-bottom detail-view-sub-header">
    <div class="cs-badge-nd-search">
        <ion-badge color="medium" margin-start="">
            <ion-row align-items-center="">
                <ion-col no-padding=""></ion-col>
                <ion-col>
                    <ion-label>{{parentTitle}} Header</ion-label>
                </ion-col>
            </ion-row>
        </ion-badge><span *ngIf="navigationHistoryProperties['navigatedPagesLength'] - 2 != 0; then navigationHistoryBlock"></span>
        <ng-template #navigationHistoryBlock="">
            <ion-list class="search-history-double-link">
                <ion-button [disabled]="this.navigationHistoryProperties['navigatedPagesNameArray'].length > 0 ? false : true" (click)="historyButtonAction($event)" size="small" shape="round" fill="clear">
                    <ion-icon class="icon-mat-access_time"></ion-icon>
                </ion-button><span class="ion-truncate routerlnksecprev" (click)="secondPreviousPageNavigation()">{{navigationHistoryProperties['secondPreviousPageName']}}</span>
                <ion-icon class="icon-mat-keyboard_arrow_right"></ion-icon><span class="ion-truncate routerlnkprev" (click)="previousPageNavigation()">{{navigationHistoryProperties['previousPageName']}}</span>
            </ion-list>
        </ng-template>
    </div>
    <h5 no-margin="" padding-start="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147213_accountno']}}</h5>
    <ion-label>
        <ion-item lines="none">
            <p no-margin="" padding-bottom="">{{gridFieldInfo['pfm147213_accountno']['label'] | translate}}</p>
        </ion-item>
    </ion-label>
</ion-header>
<ion-content style="height:100%;" padding="" class="cs-list-preview scrollHeight">
    <ion-list *ngIf="(headerDocItem | json) != '{}'" no-padding="" class="hl-scroll-list-text" [ngClass]="{'cs-scroll-height-dockerstate' : drawerComponentCurrentState == 1 , 'cs-scroll-height-minimumstate' : drawerComponentCurrentState == 0 }">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_accountname']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147213_accountname']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_accounttype']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147213_accounttype']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_businessunits']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147213_businessunits']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_taxregistrationnumber']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147213_taxregistrationnumber']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_region']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147213_region']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-bottom-drawer [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="150" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="dockerButtonOnClick()" margin-bottom=""></ion-icon>
    </div>
    <ion-content color="light" [ngClass]="drawerComponentCurrentState == 1 ? 'h1-detail-content-view scroll-height-btm-small' : 'h1-detail-content-view scroll-height-btm-big'">
        <ion-list no-padding="" class="hl-detail-content-list" *ngIf="!isSkeletonLoading">
            <ion-item no-padding="" no-border="" class="hl-detail-content header-list-content">
                <ion-col size="12">
                    <ion-row justify-content-between="" class="header-listtitle-card-item">
                        <ion-col size="10">
                            <h3 no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_sitenumber']}}</h3>
                            <h4 no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_addressid']}}</h4>
                            <p no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_country']}}</p>
                        </ion-col>
                        <ion-col text-right="">
                            <h1 no-margin="">
                                <ion-row justify-content-end="" align-items-center="" class="detail_view_upload">
                                    <ion-icon *ngIf="headerenable" class="icon-mat-file_upload" (click)="makeAsHeaderOnClick()"></ion-icon>
                                </ion-row>
                            </h1>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>
            <ion-list class="hl-full-detail-content">
                <ion-list-header>{{gridFieldInfo['pfm147233_sitenumber']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_sitenumber']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_addressid']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_addressid']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_addresstype']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_addresstype']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_address1']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_address1']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_address2']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_address2']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_city']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_city']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_stateprovince']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_stateprovince']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_country']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_country']}}</ion-item>
                <ion-list-header>{{gridFieldInfo['pfm147233_postalcode']['label'] | translate}}</ion-list-header>
                <ion-item lines="none" no-margin="">{{obj_pfm147233 | cspfm_data_display: gridFieldInfo['pfm147233_postalcode']}}</ion-item>
            </ion-list>
        </ion-list>
        <ion-list no-padding="" class="hl-detail-content-list" *ngIf="isSkeletonLoading">
            <ion-item no-padding="" no-border="" class="hl-detail-content header-list-content">
                <ion-col size="12">
                    <ion-row justify-content-between="" class="header-listtitle-card-item">
                        <ion-col size="10">
                            <ion-label>
                                <h4>
                                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                </h4>
                                <h5>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                </h5>
                                <h6>
                                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                                </h6>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>
            <ion-list class="hl-full-detail-content" *ngFor="let a of 'skel'.split('')">
                <ion-list-header>
                    <ion-label style="width: 100%;">
                        <h4>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h4>
                    </ion-label>
                </ion-list-header>
                <ion-item lines="none" no-margin="">
                    <ion-label>
                        <h5>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h5>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-bottom-drawer>
<ion-list class="cs-search-hist cs-sh-dd-double-link" id="cs-search" [hidden]="!showNavigationHistoryPopUp">
    <div>
        <ion-item ion-item padding-start="" no-margin="" lines="none">
            <ul id="cs-search-Ldata">
                <li class="ion-truncate pageTitle" *ngFor="let a of navigationHistoryProperties['navigatedPagesNameArray']; let i = index" [attr.data-index]="navigationHistoryProperties['navigatedPagesPathArray'][i]" (click)="histListNav($event)"><span class="pageTitleText">{{a}}</span></li>
            </ul>
        </ion-item>
    </div>
</ion-list>