<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button [disabled]="isSkeletonLoading" slot="start" (click)="backButtonOnclick()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'Saleorderview_MOBILE_Grid_with_List.Layout.Saleorderview_MOBILE_Grid_with_List'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" slot="end" (click)="editButton_elementId_Onclick()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header no-border="" padding="" class="cs-list-preview hl-header-text">
    <div class="cs-badge-nd-search"><span *ngIf="navigationHistoryProperties['navigatedPagesLength'] - 2 != 0; then navigationHistoryBlock"></span>
        <ng-template #navigationHistoryBlock="">
            <ion-list class="search-history-double-link">
                <ion-icon class="icon-mat-access_time" (click)="historyButtonAction($event)"></ion-icon><span class="ion-truncate routerlnksecprev" (click)="secondPreviousPageNavigation()">{{navigationHistoryProperties['secondPreviousPageName']}}</span>
                <ion-icon class="icon-mat-keyboard_arrow_right"></ion-icon><span class="ion-truncate routerlnkprev" (click)="previousPageNavigation()">{{navigationHistoryProperties['previousPageName']}}</span>
            </ion-list>
        </ng-template>
    </div>
    <h5 no-margin="" padding-start="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm144373_orderid']}}</h5>
    <ion-list no-margin="">
        <p no-margin="" padding-start="">{{gridFieldInfo['pfm144373_orderid']['label'] | translate}}</p>
    </ion-list>
</ion-header>
<ion-content padding="" class="cs-list-preview scrollHeight">
    <ion-list class="hl-scroll-list-text" no-padding="" [ngClass]="drawerComponentCurrentState == 1 ? 'ion-header-content-docked' : 'ion-header-content-closed'">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_customername']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm144373_customername']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_customercontact']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm147213_customercontact']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_accountname']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm147213_accountname']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_customernumber']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm147213_customernumber']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <cs-status-workflow [cscomponentField]="'orderstatus'" [fieldId]="289221" [inputPage]="'view'" [data]="orderstatus_289221_swList" [currentStatus]="orderstatus_289221_defaultStatus" [(cscomponentSelectedObject)]="obj_pfm144373" [label]="'orderstatus'" [csstatusworkflow_fieldId]="orderstatus_289221" (onStatusChanged)="statusChange($event,orderstatus_289221_status)" (getApprovalState)="getApprovalState($event)"></cs-status-workflow>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_orderconfirmeddate']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm144373_orderconfirmeddate']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_ordercompleteddate']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm144373_ordercompleteddate']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_shiptoaddress']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm144373_shiptoaddress']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_billtoaddress']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm144373 | cspfm_data_display: gridFieldInfo['pfm144373_billtoaddress']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-bottom-drawer [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="125" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="dockerButtonOnclick()" margin-bottom=""></ion-icon>
    </div>
    <div *ngIf="offlineDbIndexCreation.isIndexCreated && childObjectsInfo && childObjectsInfo.length === 0" class="cs-tc" style="margin-top:16%;"><img src='assets/img/no_record_found.png'></div>
    <ion-content color="light" [ngClass]="{'my-ion-list-top-inner' : drawerComponentCurrentState!=1 && isBrowser==false,'my-ion-list-docked' : drawerComponentCurrentState==1,'my-ion-list-top-browser-inner':isBrowser==true && drawerComponentCurrentState != 1}" class="hl-card-content">
        <div *ngIf="childObjectsInfo && childObjectsInfo.length > 0 && !isSkeletonLoading">
            <ion-card margin-vertical="" *ngFor="let childObject of childObjectsInfo" (click)="onItemTap(childObject)">
                <ion-card-content no-padding="">
                    <ion-item lines="none" class="hl-card-content-item">
                        <ion-label class="hl-card-content" no-margin="">{{childObject['displayName']}}</ion-label>
                        <ion-label no-margin="" text-right="" class="hl-card-content-count" *ngIf="layoutDBName!='JsonDB'"><span>{{childObject['childDocsArray'].length}}</span></ion-label>
                        <ion-label no-margin="" text-right="" class="hl-card-content-onendmany-info">
                            <ng-template *ngIf="childObject['relationshipType'] == 'one_to_one'; then oneToOne; else oneToMany"></ng-template>
                            <ng-template #oneToOne=""><span class="hl-one-one">1:1</span></ng-template>
                            <ng-template #oneToMany=""><span class="hl-one-many">1:n</span></ng-template>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngIf="isSkeletonLoading && offlineDbIndexCreation.isIndexCreated">
            <ion-card margin-vertical="" *ngFor="let a of 'skel'.split('')">
                <ion-card-content no-padding="">
                    <ion-item lines="none" class="hl-card-content-item">
                        <ion-label no-margin="">
                            <h5>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </h5>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </div>
        <div class="indexNotComplete" *ngIf="!offlineDbIndexCreation.isIndexCreated && isSkeletonLoading">
            <ion-text>
                <h3>{{offlineDbIndexCreation.indexCreationProcessingMsg}}</h3>
            </ion-text>
        </div>
    </ion-content>
</ion-bottom-drawer>
<ion-list class="cs-search-hist cs-sh-dd-double-link" id="cs-search" [hidden]="!showNavigationHistoryPopUp">
    <div>
        <ion-item ion-item padding-start="" no-margin="" lines="none">
            <ul id="cs-search-Ldata">
                <li class="ion-truncate pageTitle" *ngFor="let a of navigationHistoryProperties['navigatedPagesNameArray']; let i = index" [attr.data-index]="navigationHistoryProperties['navigatedPagesPathArray'][i]" (click)="histListNav($event)"><span class="pageTitleText">{{a}}</span></li>
            </ul>
        </ion-item>
    </div>
</ion-list>