<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'crmsaleorderlines_d_m_entry.Layout.crmsaleorderlines_d_m_entry'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="entry-page-content">
    <ion-list *ngIf="isParentObjectShow">
        <h5 no-margin="" padding-start="" padding-top="" margin-start="">{{parentObjValue}}</h5>
        <p no-margin="" padding-start="" margin-start="">{{parentObjLabel | translate}}</p>
        <ion-item-divider lines="none"></ion-item-divider>
    </ion-list>
    <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading">
        <ion-list no-padding="">
            <ion-row padding-horizontal="" padding-bottom="">
                <ion-col formGroupName="pfm144393" id="pfm144393_olineid" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.olineid'| translate}}</ion-label>
                        <ion-input type="text" disabled="disabled">{{obj_pfm144393['olineid']}}</ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm144393" [ngClass]="objResultMap.has('pfm144393') && objResultMap.get('pfm144393').status=='SUCCESS'? 'remove-Bottom-line' : ''" id="pfm144393_product" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                    <ion-item no-padding="" class="entry-o-info-loc-item" (dblclick)="(objResultMap.has('pfm144393') && objResultMap.get('pfm144393').status!='SUCCESS') ||objResultMap.size==0 ? showLookup_289353('pfm142973_289353','crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.product',['itemno','listprice','name']) : '' ">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.product'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" *ngIf="!obj_pfm142973_289353['product']" [(ngModel)]="pfm142973_289353_searchKey" formControlName="pfm142973_289353_searchKey">{{obj_pfm142973_289353['name']}}</ion-input>
                        <ion-input type="text" *ngIf="obj_pfm142973_289353['product']" [(ngModel)]="pfm142973_289353_searchKey" formControlName="pfm142973_289353_searchKey">{{obj_pfm142973_289353['name']}}</ion-input>
                        <ion-icon *ngIf="obj_pfm144393['pfm142973_289353'] == null" slot="end" name="search" (click)="showLookup_289353('pfm142973_289353','crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.product',['itemno','listprice','name'])" color="dark" item-right=""></ion-icon>
                        <ion-icon *ngIf="obj_pfm144393['pfm142973_289353'] != null" slot="end" name="close" (click)="lookupClearAction(obj_pfm144393,'pfm142973_289353',obj_pfm142973_289353,'name','obj_pfm144393_pfm142973_289353')" color="dark" item-right=""></ion-icon>
                    </ion-item>
                    <ion-row padding-horizontal="" class="entry-o-info-loc-row" *ngIf="!obj_pfm142973_289353['name'] && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Product</p>
                    </ion-row>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                    <ion-item no-padding="" class="cs-entry-item-disabled">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmproduct.listprice'| translate}}</ion-label>
                        <ion-input type="text" [readonly]="true" *ngIf="obj_pfm144393['pfm142973_289353'] || obj_pfm144393['pfm142973']">{{obj_pfm142973_289353['listprice']}}</ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_partno" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['partno'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.partno'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm144393['partno']" formControlName="partno" required=""></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144393').get('partno').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Part No</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_productdescription" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['productdescription'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.productdescription'| translate}}</ion-label>
                        <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="productdescription" [(ngModel)]="obj_pfm144393.productdescription"></ion-textarea>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144393').get('productdescription').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Product Description</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_listprice" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['listprice'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.listprice'| translate}} in INR<ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label><span style="margin:0px 5px -27px 1px" slot="start" class="currencysymbolpreffix">₹</span>
                        <ion-input type="number" [(ngModel)]="obj_pfm144393['listprice']" formControlName="listprice" class="currencysymbolfield" required=""></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144393').get('listprice').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Selling Price</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_quantity" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['quantity'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.quantity'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="number" [(ngModel)]="obj_pfm144393['quantity']" formControlName="quantity" required=""></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144393').get('quantity').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Quantity</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_taxpercentage" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['taxpercentage'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.taxpercentage'| translate}}</ion-label>
                        <ion-input type="number" [(ngModel)]="obj_pfm144393['taxpercentage']" formControlName="taxpercentage"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144393').get('taxpercentage').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Tax Percentage</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_discountpercentage" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['discountpercentage'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorderlines_d_m_entry.Element.crmsaleorderlines.discountpercentage'| translate}}</ion-label>
                        <ion-input type="number" [(ngModel)]="obj_pfm144393['discountpercentage']" formControlName="discountpercentage"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144393').get('discountpercentage').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Discount Percentage</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144393" id="pfm144393_totalamount" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['totalamount'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item lines="none">
                        <cspfmformula [csformulaFieldLabel]="'Total Amount'" [csformulaField]="'totalamount'" [csformuladefaultValue]="0" [csformulaprecisionValue]="3" [csformuladataSource]="dbServiceProvider" [(csformulaConfig)]="formulaConfigJSON['pfm144393']['totalamount']" [(csformulaObject)]="formulaObject"></cspfmformula>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>
    <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>