<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="backButtonOnclick()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Attachment & Document Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical class="cs-am-attdoc">
  <ion-item>
    <input type="file" color="light" round #imgUploader (change)="imageSelected()" id="myFile">
  </ion-item>

  <ion-item>
    <ion-button round outline *ngIf="appUtilityConfig.isMobile" (click)="previewButtonPressed()">Preview</ion-button>
    <ion-button round outline [disabled]="disableUploadButton" (click)="uploadButtonPressed()">Upload</ion-button>
    <ion-button round outline *ngIf="appUtilityConfig.isMobile" (click)="cancelButtonPressed()">Cancel</ion-button>
  </ion-item>
  </ion-content>



