<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-title>{{'AccountList_MOBILE_Grid_with_List.Layout.AccountList_MOBILE_Grid_with_List'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="clearAction()">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="applyAction()">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="closeAction()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="appUtility.isMobileResolution">
        <ion-searchbar margin-start="" style="width:calc(100% - 32px)" (ionInput)="getSearchedItems($event.target.value)" (ionCancel)="onCancel()" [animated]="true"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding="" class="cs-org-filter-form">
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'AccountList_MOBILE_Grid_with_List.Element.customermaster.accountno'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm147213']['accountno']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'AccountList_MOBILE_Grid_with_List.Element.customermaster.accountname'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm147213']['accountname']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,businessunits)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.businessunits' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of businessunits['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,businessunits['selected'],item,businessunits, filterFieldWithValues['pfm147213']['businessunits'],'pfm147213','businessunits')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,region)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.region' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of region['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,region['selected'],item,region, filterFieldWithValues['pfm147213']['region'],'pfm147213','region')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,status)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.status' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of status['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,status['selected'],item,status, filterFieldWithValues['pfm147213']['status'],'pfm147213','status')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,accounttype)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.accounttype' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of accounttype['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,accounttype['selected'],item,accounttype, filterFieldWithValues['pfm147213']['accounttype'],'pfm147213','accounttype')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'AccountList_MOBILE_Grid_with_List.Element.customermaster.taxregistrationnumber'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm147213']['taxregistrationnumber']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-locationrow-height" (click)="openMultiSelect($event,paymentterms)">
        <ion-col padding-horizontal="" padding-bottom="" padding-top="">
            <ion-label position="stacked" style="margin-top: 10px !important;">{{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.paymentterms' | translate}}</ion-label>
            <ion-item no-padding="" class="cs-headingheight">
                <ion-item class="cs-noboarder">
                    <ion-list class="cs-inlistbnomargin">
                        <ion-col no-padding="" *ngFor="let item of paymentterms['selected']">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon color="" class="cs-locationclose" name="close-circle" (click)="removeSelectedItem($event,paymentterms['selected'],item,paymentterms, filterFieldWithValues['pfm147213']['paymentterms'],'pfm147213','paymentterms')"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
                <ion-icon color="" slot="end" class="md-arrow-dropdown" name="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
<div class="cs-info-alert-org" *ngIf="businessunits['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.businessunits' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(businessunits)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of businessunits['input']" (click)="toggleSelectedItem(businessunits['selected'],item,businessunits, filterFieldWithValues['pfm147213']['businessunits'],'pfm147213','businessunits')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>
<div class="cs-info-alert-org" *ngIf="region['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.region' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(region)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of region['input']" (click)="toggleSelectedItem(region['selected'],item,region, filterFieldWithValues['pfm147213']['region'],'pfm147213','region')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>
<div class="cs-info-alert-org" *ngIf="status['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.status' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(status)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of status['input']" (click)="toggleSelectedItem(status['selected'],item,status, filterFieldWithValues['pfm147213']['status'],'pfm147213','status')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>
<div class="cs-info-alert-org" *ngIf="accounttype['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.accounttype' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(accounttype)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of accounttype['input']" (click)="toggleSelectedItem(accounttype['selected'],item,accounttype, filterFieldWithValues['pfm147213']['accounttype'],'pfm147213','accounttype')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>
<div class="cs-info-alert-org" *ngIf="paymentterms['visible']">
    <div class="cs-ani-alert-org">
        <ion-item class="cs-headingheight">
            <ion-label>Select {{ 'AccountList_MOBILE_Grid_with_List.Element.customermaster.paymentterms' | translate}}</ion-label>
            <ion-icon class="cs-popclose" color="dark" slot="end" name="close" (click)="closeMultiSelect(paymentterms)"></ion-icon>
        </ion-item>
        <ion-row no-padding="">
            <ion-col no-padding="">
                <ion-item class="cs-popsecmain">
                    <ion-list class="cs-poplistmain">
                        <ion-col no-padding="" *ngFor="let item of paymentterms['input']" (click)="toggleSelectedItem(paymentterms['selected'],item,paymentterms, filterFieldWithValues['pfm147213']['paymentterms'],'pfm147213','paymentterms')">
                            <ion-chip>
                                <ion-label>{{ item.label }}</ion-label>
                                <ion-icon [color]="item.isChecked ? 'primary' : 'light'" class="cs-locationclose" name="checkmark-circle"></ion-icon>
                            </ion-chip>
                        </ion-col>
                    </ion-list>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
</div>