<ion-content padding>
    <ion-row class="cs-theme-set-web cs-web-contents-align" margin>
        <ion-col class="cs-yellow-color-theme cs-cur" (click)="changeTheme('yellow')"></ion-col>
        <ion-col class="cs-red-color-theme cs-cur"  (click)="changeTheme('red')"></ion-col>
        <ion-col class="cs-teal-color-theme cs-cur" (click)="changeTheme('teal')"></ion-col>
        <ion-col class="cs-blue-color-theme cs-cur" (click)="changeTheme('indigo')"></ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-row style="border-bottom: 1px solid lightgray;">
                <ion-label class="cs-theme-divider">OR</ion-label>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align cs-cur">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-item lines="none" class="cs-colors-padiing-set" margin-top [(ngModel)]="primary_color" [ngModelOptions]="{standalone: true}">
                <ion-label class="cs-ts-14">Primary Color</ion-label>
                <ion-icon name="color-palette" slot="end"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align cs-cur">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-item lines="none" class="cs-colors-padiing-set" [(ngModel)]="secondary_color" [ngModelOptions]="{standalone: true}">
                <ion-label class="cs-ts-14">Secondary Color</ion-label>
                <ion-icon name="color-palette" slot="end"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align cs-cur">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-item lines="none" class="cs-colors-padiing-set"  [(ngModel)]="tertiary_color" [ngModelOptions]="{standalone: true}">
                <ion-label class="cs-ts-14">Tertiary Color</ion-label>
                <ion-icon name="color-palette" slot="end"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-button expand="block" class="cs-appytheme-block">Apply Theme</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-row style="border-bottom: 1px solid lightgray;" class="cs-colors-padiing-set">
                <ion-label class="cs-theme-divider">STYLE
                </ion-label>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-card class="cs-updated-setting-page-card">
                <ion-item (click)='changeToStyleTwo()'lines="none" >
                    <!-- <ion-icon name="notifications" class="cs-updated-setting-page-cardicon"></ion-icon> -->
                    <ion-label class="cs-updated-setting-page-cardlabel">Light</ion-label>
                    <!-- <ion-toggle slot="end" color="primary" (ionChange)="toggleClick($event, 0)"></ion-toggle> -->
                    <ion-toggle  style="z-index:0 !important;" slot="end" color="primary"></ion-toggle>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="cs-web-contents-align">
        <ion-col size="12" sizeMd="4" sizeLg="5" sizeXl="5">
            <ion-card class="cs-updated-setting-page-card">
                <ion-item (click)='changeToStyleOne()' lines="none">
                    <ion-label class="cs-updated-setting-page-cardlabel">Default</ion-label>
                    <!-- <ion-toggle slot="end" color="primary" (ionChange)="toggleClick($event, 1)"></ion-toggle> -->
                    <ion-toggle  style="z-index:0 !important;" slot="end" color="primary"></ion-toggle>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>

<lib-ionic-pullup *ngIf="appUtilityObj.isMobileResolution" (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState"
    [toolbarTopMargin]="400" [minBottomVisible]="10">

    <ion-toolbar class="toolbar" (click)="toggleFooter()" #ionDragFooter>
        <div class="handle">
            <div class="bar"></div>
        </div>
    </ion-toolbar>
    <ion-content>
        <ion-row padding-bottom class="cs-cspfmsetting-tab-bar">
            <ion-tab-button (click)="openSettingsPage(0)">
                <ion-label class="cs-cspfmsetting-label">About Us</ion-label>
                <ion-icon class=" icon-mat-group" [ngClass]="changestyles[0]"></ion-icon>
            </ion-tab-button>
            <ion-tab-button (click)="openSettingsPage(1)">
                <ion-label class="cs-cspfmsetting-label">Contact Us</ion-label>
                <ion-icon class="icon-mat-person" [ngClass]="changestyles[1]"></ion-icon>
            </ion-tab-button>
            <ion-tab-button (click)="openSettingsPage(2)">
                <ion-label class="cs-cspfmsetting-label">Feedback</ion-label>
                <ion-icon class="icon-mat-email" [ngClass]="changestyles[2]"></ion-icon>
            </ion-tab-button>
            <ion-tab-button (click)="openSettingsPage(3)">
                <ion-label class="cs-cspfmsetting-label">Share</ion-label>
                <ion-icon class="icon-mat-share" [ngClass]="changestyles[3]"></ion-icon>
            </ion-tab-button>
        </ion-row>
        <ion-row padding-bottom>
            <ion-col class="cs-ta-c">
                <img src="./assets/img/appstoreimg.png" (click)="goToAppStoreAction()">
            </ion-col>
            <ion-col>
                <img src="./assets/img/googleplaystoreimg.png" (click)="goToPlayStoreAction()">
            </ion-col>
        </ion-row>
        <div style="display: block;"></div>
    </ion-content>
</lib-ionic-pullup>

<ion-toolbar *ngIf="!appUtilityObj.isMobileResolution" slot="bottom" style="--background: var(--ion-color-popupblue);">
    <ion-row color="primary">
        <ion-col class="cs-web-setting-toolbar" (click)="fotterSettingPage(0)">
            <ion-icon class="cs-pullup-icon-color icon-mat-group" margin-start></ion-icon>
            <ion-label class="cs-cspfmsetting-label cs-ts-14" padding-start>About Us</ion-label>
        </ion-col>
        <ion-col class="cs-web-setting-toolbar" (click)="fotterSettingPage(1)">
            <ion-icon class="cs-pullup-icon-color icon-mat-person"></ion-icon>
            <ion-label class="cs-cspfmsetting-label cs-ts-14" padding-start>Contact Us</ion-label>
        </ion-col>
        <ion-col class="cs-web-setting-toolbar" (click)="fotterSettingPage(2)">
            <ion-icon class="cs-pullup-icon-color icon-mat-email"></ion-icon>
            <ion-label class="cs-cspfmsetting-label cs-ts-14 " padding-start>Feedback</ion-label>
        </ion-col>
        <ion-col class="cs-web-setting-toolbar" (click)="fotterSettingPage(3)">
            <ion-icon class="cs-pullup-icon-color icon-mat-share"></ion-icon>
            <ion-label class="cs-cspfmsetting-label cs-ts-14" padding-start>Share</ion-label>
        </ion-col>
        <ion-col class="cs-web-footer-logo-set">
            <img src="./assets/img/appstoreimg.png" (click)="goToAppStoreAction()">
        </ion-col>
        <ion-col class="cs-web-footer-logo-set">
            <img src="./assets/img/googleplaystoreimg.png" (click)="goToPlayStoreAction()">
        </ion-col>
    </ion-row>
</ion-toolbar>