<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'ContactEntry_MOBILE_Grid.Layout.ContactEntry_MOBILE_Grid'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header no-border="" padding-top="" padding-start="" class="header-listpreview-sub-header">
    <h5 no-margin="" padding-start="">{{parentObjValue}}</h5>
    <ion-label>
        <ion-item lines="none">
            <P no-margin="" padding-bottom="">{{parentObjLabel | translate}}
                <ion-text color="danger" class="cs-mandatory">*</ion-text>
            </P>
        </ion-item>
    </ion-label>
</ion-header>
<ion-content #parentContent="" padding="" class="cs-list-preview scrollHeight" style="height:100%;">
    <ion-list no-padding="" class="hl-scroll-list-text" [ngClass]="{'cs-scroll-height-dockerstatelistpreview' : drawerComponentCurrentState == 1 , 'cs-scroll-height-minimumstate' : drawerComponentCurrentState == 0 }">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_addressid']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147233_addressid']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_sitenumber']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147233_sitenumber']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_country']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147233_country']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_addresstype']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147233_addresstype']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_postalcode']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147233_postalcode']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <P>{{'undefined'| translate}}</P>
                        <ion-label no-margin="" *ngIf="parentObject['pfm0_0']">{{parentObject['pfm0_0']['undefined']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <P>{{'undefined'| translate}}</P>
                        <ion-label no-margin="" *ngIf="parentObject['pfm0_0']">{{parentObject['pfm0_0']['undefined']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-bottom-drawer [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="150" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="dockerButtonOnClick()" margin-bottom=""></ion-icon>
    </div>
    <ion-content #childContent="" class="entry-page-content" [ngClass]="{ 'cs-scroll-height-dockerstate-hl_listpreviewpage' : drawerComponentCurrentState == 1 , 'cs-scroll-height-topstate-hl_listpreviewpage' : drawerComponentCurrentState == 2 }">
        <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading" style="margin-top: 20px !important; margin-left: 16px;width: calc(100% - 32px);border: 1px solid #d7d8da;padding-top: 0px !important;">
            <ion-list no-padding="">
                <ion-row padding-horizontal="" padding-bottom="">
                    <ion-col formGroupName="pfm147274" [ngClass]="objResultMap.has('pfm147274') && objResultMap.get('pfm147274').status=='SUCCESS'? 'remove-Bottom-line' : ''" id="pfm147274_address" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                        <ion-item no-padding="" class="entry-o-info-loc-item" (dblclick)="(objResultMap.has('pfm147274') && objResultMap.get('pfm147274').status!='SUCCESS') ||objResultMap.size==0 ? showLookup_293833('pfm147233_293833','ContactEntry_MOBILE_Grid.Element.contactdetails.address',['sitenumber','addressid']) : '' ">
                            <ion-label position="stacked">{{'ContactEntry_MOBILE_Grid.Element.contactdetails.address'| translate}}
                                <ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label>
                            <ion-input type="text" *ngIf="!obj_pfm147233_293833['address']" [(ngModel)]="pfm147233_293833_searchKey" formControlName="pfm147233_293833_searchKey">{{obj_pfm147233_293833['addressid']}}</ion-input>
                            <ion-input type="text" *ngIf="obj_pfm147233_293833['address']" [(ngModel)]="pfm147233_293833_searchKey" formControlName="pfm147233_293833_searchKey">{{obj_pfm147233_293833['addressid']}}</ion-input>
                            <ion-icon *ngIf="obj_pfm147274['pfm147233'] == null" slot="end" name="search" (click)="showLookup_293833('pfm147233_293833','ContactEntry_MOBILE_Grid.Element.contactdetails.address',['sitenumber','addressid'])" color="dark" item-right=""></ion-icon>
                            <ion-icon *ngIf="obj_pfm147274['pfm147233'] != null" slot="end" name="close" (click)="lookupClearAction(obj_pfm147274,'pfm147233',obj_pfm147233_293833,'addressid','obj_pfm147274_pfm147233_293833')" color="dark" item-right=""></ion-icon>
                        </ion-item>
                        <ion-row padding-horizontal="" class="entry-o-info-loc-row" *ngIf="!obj_pfm147233_293833['addressid'] && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Address</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147274" id="pfm147274_name" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'ContactEntry_MOBILE_Grid.Element.contactdetails.name'| translate}}</ion-label>
                            <ion-input type="text" disabled="disabled">{{obj_pfm147274['name']}}</ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col formGroupName="pfm147274" id="pfm147274_contactname" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147274['contactname'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" class="mandatory-field">
                            <ion-label position="stacked">{{'ContactEntry_MOBILE_Grid.Element.contactdetails.contactname'| translate}}
                                <ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147274['contactname']" formControlName="contactname" required=""></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147274').get('contactname').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Contact Name</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147274" id="pfm147274_phonenumber" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147274['phonenumber'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'ContactEntry_MOBILE_Grid.Element.contactdetails.phonenumber'| translate}}</ion-label>
                            <ion-input type="number" [(ngModel)]="obj_pfm147274['phonenumber']" formControlName="phonenumber"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147274').get('phonenumber').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Phone Number</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147274" id="pfm147274_email" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147274['email'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'ContactEntry_MOBILE_Grid.Element.contactdetails.email'| translate}}</ion-label>
                            <ion-input type="email" [(ngModel)]="obj_pfm147274['email']" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147274').get('email').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Email</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147274" id="pfm147274_responsibility" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147274['responsibility'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'ContactEntry_MOBILE_Grid.Element.contactdetails.responsibility'| translate}}</ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147274['responsibility']" formControlName="responsibility"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147274').get('responsibility').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Responsibility</p>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-list>
        </form>
        <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
            <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                    <ion-item lines="none">
                        <ion-label no-margin="">
                            <h5>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h5>
                            <h6>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </h6>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-content>
</ion-bottom-drawer>