
<ion-list lines="none" class="swf_popover" >

  <ion-item *ngFor="let item of selectedItems" (click)="itemClick(item)">
    <!-- Previous status icon -->
     <ion-label>
        {{item.statusLabel}}
      </ion-label>
   
      <!-- <ion-text *ngIf="(item.statusValue==previousStatusValue && previousStatusValue!=selectedStatusValue)" class="swf_proceed" slot="end">
        <span>P</span>
      </ion-text> -->

      <ion-text *ngIf="(item.statusValue==previousStatusValue) || (item.statusValue==previousStatusValue && previousStatusValue!=selectedStatusValue)" class="swf_proceed" slot="end">
        <span>P</span>
      </ion-text>

      <!-- <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue!=selectedStatusValue)" name="information-circle" slot="start" color='primary'> </ion-icon> -->

      <!-- <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue!=selectedStatusValue)" name="radio-button-on" slot="start" color='primary'> </ion-icon> -->
        <!-- Selected a previous status icon -->
      <!-- <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue==selectedStatusValue)" name="radio-button-on" slot="start" color='primary'> </ion-icon> -->
        <!-- Selected status icon -->
      <ion-icon *ngIf="(previousStatusValue!=selectedStatusValue && item.statusValue==selectedStatusValue)" name="radio-button-on" slot="start" color='primary'> </ion-icon>
      <!-- Non selected status icon -->
      <ion-icon *ngIf="(item.statusValue!=previousStatusValue && item.statusValue!=selectedStatusValue)" name="radio-button-off" slot="start" color='primary'> </ion-icon>
  </ion-item>
</ion-list>



 