<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button [disabled]="isSkeletonLoading" slot="start" (click)="backButtonOnclick()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{pageTitle}}</ion-title>
        <ion-buttons slot="end">
            <ion-button ion-button="" icon-only="" (click)="addButton_elementId_Onclick()" [disabled]="isSkeletonLoading">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header no-border="" padding-top="" padding-start="" class="header-listpreview-sub-header">
    <div class="cs-badge-nd-search">
        <ion-badge color="medium" margin-start="">
            <ion-row align-items-center="">
                <ion-col no-padding=""></ion-col>
                <ion-col>
                    <ion-label>{{parentTitle}} Header</ion-label>
                </ion-col>
            </ion-row>
        </ion-badge><span *ngIf="navigationHistoryProperties['navigatedPagesLength'] - 2 != 0; then navigationHistoryBlock"></span>
        <ng-template #navigationHistoryBlock="">
            <ion-list class="search-history-double-link">
                <ion-button [disabled]="this.navigationHistoryProperties['navigatedPagesNameArray'].length > 0 ? false : true" (click)="historyButtonAction($event)" size="small" shape="round" fill="clear">
                    <ion-icon class="icon-mat-access_time"></ion-icon>
                </ion-button><span class="ion-truncate routerlnksecprev" (click)="secondPreviousPageNavigation()">{{navigationHistoryProperties['secondPreviousPageName']}}</span>
                <ion-icon class="icon-mat-keyboard_arrow_right"></ion-icon><span class="ion-truncate routerlnkprev" (click)="previousPageNavigation()">{{navigationHistoryProperties['previousPageName']}}</span>
            </ion-list>
        </ng-template>
    </div>
    <h5 no-margin="" padding-start="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_sitenumber']}} </h5>
    <ion-label>
        <ion-item lines="none">
            <p no-margin="" padding-bottom="">{{gridFieldInfo['pfm147233_sitenumber']['label'] | translate}}
                <ion-text color="danger" class="cs-mandatory">*</ion-text>
            </p>
        </ion-item>
    </ion-label>
</ion-header>
<ion-content class="cs-list-preview scrollHeight" padding="" style="height:100%;">
    <ion-list class="hl-scroll-list-text" no-padding="" [ngClass]="{'cs-scroll-height-dockerstatelistpreview' : drawerComponentCurrentState == 1 , 'cs-scroll-height-minimumstate' : drawerComponentCurrentState == 0 }">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_addressid']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_addressid']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_addresstype']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_addresstype']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_address1']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_address1']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_address2']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_address2']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_city']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_city']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_stateprovince']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_stateprovince']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_country']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_country']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147233_postalcode']['label'] | translate}}</p>
                        <ion-label no-margin="">{{headerDocItem | cspfm_data_display: gridFieldInfo['pfm147233_postalcode']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-bottom-drawer *ngIf="appUtilityConfig.isMobileResolution" [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="150" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="drawerButtonOnclick()" margin-bottom=""></ion-icon>
    </div>
    <ion-content color="light" class="header-list-content" [ngClass]="{ 'cs-scroll-height-dockerstate-hl_listpreviewpage' : drawerComponentCurrentState == 1 , 'cs-scroll-height-topstate-hl_listpreviewpage' : drawerComponentCurrentState == 2 }">
        <div *ngIf="offlineDbIndexCreation.isIndexCreated && childObjectsInfo && childObjectsInfo.length === 0 && !isSkeletonLoading" class="cs-tc" style="margin-top:16%;"><img src='assets/img/no_record_found.png'></div>
        <div *ngIf="childObjectsInfo && childObjectsInfo.length>0 && !isSkeletonLoading">
            <ion-grid>
                <ion-virtual-scroll [items]="childObjectsInfo" *ngIf="!isSkeletonLoading">
                    <ion-col size="12" sizeMd="6" sizeLg="6" sizeXl="6" *virtualItem="let childItem" (click)="onItemTap(childItem)" lines="none" class="main-list-items">
                        <ion-card *ngIf="'pfm147274' == selectedObjectName">
                            <ion-list no-padding="">
                                <ion-item lines="none" class="header-listtitle-card-item">
                                    <ion-text no-padding="">
                                        <h3 no-margin="">{{childItem[prominentDataArray[1]]}}</h3>
                                        <h4 no-margin="">{{childItem[prominentDataArray[2]]}}</h4>
                                        <p no-margin="">{{childItem[prominentDataArray[3]]}}</p>
                                    </ion-text>
                                </ion-item>
                            </ion-list>
                        </ion-card>
                    </ion-col>
                </ion-virtual-scroll>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="fetchSelectedObject($event)" *ngIf="!isSkeletonLoading">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-grid>
        </div>
        <div *ngIf="isSkeletonLoading && offlineDbIndexCreation.isIndexCreated">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" sizeMd="6" sizeLg="6" sizeXl="6" *ngFor="let a of 'skeletons'.split('')">
                        <ion-card>
                            <ion-list no-padding="">
                                <ion-item lines="none" class="header-listtitle-card-item">
                                    <ion-label>
                                        <h4>
                                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                        </h4>
                                        <h5>
                                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                        </h5>
                                        <h6>
                                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                                        </h6>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="indexNotComplete" *ngIf="!offlineDbIndexCreation.isIndexCreated && isSkeletonLoading">
            <ion-text>
                <h3>{{offlineDbIndexCreation.indexCreationProcessingMsg}}</h3>
            </ion-text>
        </div>
    </ion-content>
</ion-bottom-drawer>
<ion-bottom-drawer *ngIf="!appUtilityConfig.isMobileResolution  " [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="150" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="drawerButtonOnclick()" margin-bottom=""></ion-icon>
    </div>
    <ion-content color="light" class="header-list-content">
        <div *ngIf="!isSkeletonLoading" style="height:100%;margin-left: 16px;margin-right: 16px;">
            <ngx-datatable id="table" class="material server-scrolling-demo cs-ngx-datatable" [rows]="childObjectsInfo" [columnMode]="columnMode.force" [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="false" [scrollbarV]="true" [scrollbarH]="true" (scroll)="onScroll($event)" (activate)="onTableEventChanged($event)" style="height: 100%;">
                <ngx-datatable-column *ngFor="let gridTableFieldInfo of gridTableFieldInfoArray" name="{{gridTableFieldInfo['label'] | translate}}" prop="{{gridTableFieldInfo['prop']}}">
                    <ng-template let-row="row" ngx-datatable-cell-template="">{{ row | cspfm_data_display: gridTableFieldInfo}}</ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <ion-progress-bar style="margin-top: 5px; margin-bottom: 5px;" *ngIf="isLoading && !isSkeletonLoading" type="indeterminate"></ion-progress-bar>
        <div *ngIf="isSkeletonLoading   && offlineDbIndexCreation.isIndexCreated">
            <ion-list>
                <ion-item *ngFor="let a of 'skeletonssss'.split('')">
                    <ion-label>
                        <h4>
                            <ion-skeleton-text animated="" style="width: 50%"></ion-skeleton-text>
                        </h4>
                        <h5>
                            <ion-skeleton-text animated="" style="width: 80%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated="" style="width: 100%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-bottom-drawer>
<ion-list class="cs-search-hist cs-sh-dd-double-link" id="cs-search" [hidden]="!showNavigationHistoryPopUp">
    <div>
        <ion-item ion-item padding-start="" no-margin="" lines="none">
            <ul id="cs-search-Ldata">
                <li class="ion-truncate pageTitle" *ngFor="let a of navigationHistoryProperties['navigatedPagesNameArray']; let i = index" [attr.data-index]="navigationHistoryProperties['navigatedPagesPathArray'][i]" (click)="histListNav($event)"><span class="pageTitleText">{{a}}</span></li>
            </ul>
        </ion-item>
    </div>
</ion-list>