<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button [disabled]="isSkeletonLoading" slot="start" (click)="backButtonOnclick()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'InventoryDetails_MOBILE_Grid.Layout.InventoryDetails_MOBILE_Grid'| translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="detailview-page-content" padding="">
    <ion-list class="hl-detailscroll-list-text" *ngIf="!isSkeletonLoading">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_name']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_name']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_product']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_product']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_availablestatus']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_availablestatus']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_totalquantity']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_totalquantity']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_availablequantity']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_availablequantity']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_itemcreateddate']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_itemcreateddate']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm151994_inventorydescription']['label'] | translate}}</p>
                        <ion-label no-margin="">{{obj_pfm151994 | cspfm_data_display: gridFieldInfo['pfm151994_inventorydescription']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>