<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile"> 
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'AccountEntry_MOBILE_Grid.Layout.AccountEntry_MOBILE_Grid'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="entry-page-content">
    <ion-list *ngIf="isParentObjectShow">
        <h5 no-margin="" padding-start="" padding-top="" margin-start="">{{parentObjValue}}</h5>
        <p no-margin="" padding-start="" margin-start="">{{parentObjLabel | translate}}</p>
        <ion-item-divider lines="none"></ion-item-divider>
    </ion-list>
    <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading">
        <ion-list no-padding="">
            <ion-row padding-horizontal="" padding-bottom="">
                <ion-list-header>
                    <h6>{{'AccountEntry_MOBILE_Grid.Header.Customer Information'| translate}}</h6>
                </ion-list-header>
                <ion-col formGroupName="pfm147213" id="pfm147213_accountno" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.accountno'| translate}}</ion-label>
                        <ion-input type="text" disabled="disabled">{{obj_pfm147213['accountno']}}</ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_accountname" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['accountname'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.accountname'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm147213['accountname']" formControlName="accountname"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm147213').get('accountname').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Customer Name</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_dunsnumber" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['dunsnumber'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.dunsnumber'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm147213['dunsnumber']" formControlName="dunsnumber"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm147213').get('dunsnumber').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid DUNS Number</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_accounttype" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['accounttype'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'AccountEntry_MOBILE_Grid.Element.customermaster.accounttype'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['accounttype']" class="cs-dep-alert-no">{{dependentNumberCount['accounttype']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="accounttype_293667 != ''" [(ngModel)]="obj_pfm147213['accounttype']" formControlName="accounttype" multiple="false">
                            <ion-select-option value="None" [selected]=true>{{'AccountEntry_MOBILE_Grid.Element.customermaster.accounttype.Option.None' | translate}}</ion-select-option>
                            <ion-select-option value="Personal" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.accounttype.Option.Personal' | translate}}</ion-select-option>
                            <ion-select-option value="Business" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.accounttype.Option.Business' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_accountcurrency" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['accountcurrency'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'AccountEntry_MOBILE_Grid.Element.customermaster.accountcurrency'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['accountcurrency']" class="cs-dep-alert-no">{{dependentNumberCount['accountcurrency']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="accountcurrency_293715 != ''" [(ngModel)]="obj_pfm147213['accountcurrency']" formControlName="accountcurrency" multiple="false">
                            <ion-select-option value="USD" [selected]=true>{{'AccountEntry_MOBILE_Grid.Element.customermaster.accountcurrency.Option.USD' | translate}}</ion-select-option>
                            <ion-select-option value="EURO" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.accountcurrency.Option.EURO' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_region" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['region'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'AccountEntry_MOBILE_Grid.Element.customermaster.region'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['region']" class="cs-dep-alert-no">{{dependentNumberCount['region']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="region_293668 != ''" [(ngModel)]="obj_pfm147213['region']" formControlName="region" multiple="false">
                            <ion-select-option value="None" [selected]=true>{{'AccountEntry_MOBILE_Grid.Element.customermaster.region.Option.None' | translate}}</ion-select-option>
                            <ion-select-option value="Western USA" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.region.Option.Western USA' | translate}}</ion-select-option>
                            <ion-select-option value="Southern USA" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.region.Option.Southern USA' | translate}}</ion-select-option>
                            <ion-select-option value="Midwestern USA" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.region.Option.Midwestern USA' | translate}}</ion-select-option>
                            <ion-select-option value="Northeastern USA" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.region.Option.Northeastern USA' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_businessunits" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['businessunits'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'AccountEntry_MOBILE_Grid.Element.customermaster.businessunits'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['businessunits']" class="cs-dep-alert-no">{{dependentNumberCount['businessunits']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="businessunits_293693 != ''" [(ngModel)]="obj_pfm147213['businessunits']" formControlName="businessunits" multiple="false">
                            <ion-select-option value="None" [selected]=true>{{'AccountEntry_MOBILE_Grid.Element.customermaster.businessunits.Option.None' | translate}}</ion-select-option>
                            <ion-select-option value="Sole proprietorship" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.businessunits.Option.Sole proprietorship' | translate}}</ion-select-option>
                            <ion-select-option value="Partnership" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.businessunits.Option.Partnership' | translate}}</ion-select-option>
                            <ion-select-option value="Joint Stock Company" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.businessunits.Option.Joint Stock Company' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_accountdescription" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['accountdescription'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.accountdescription'| translate}}</ion-label>
                        <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="accountdescription" [(ngModel)]="obj_pfm147213.accountdescription"></ion-textarea>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm147213').get('accountdescription').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Account Description</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_status" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['status'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'AccountEntry_MOBILE_Grid.Element.customermaster.status'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['status']" class="cs-dep-alert-no">{{dependentNumberCount['status']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="status_293810 != ''" [(ngModel)]="obj_pfm147213['status']" formControlName="status" multiple="false">
                            <ion-select-option value="New" [selected]=true>{{'AccountEntry_MOBILE_Grid.Element.customermaster.status.Option.New' | translate}}</ion-select-option>
                            <ion-select-option value="InRview" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.status.Option.InReview' | translate}}</ion-select-option>
                            <ion-select-option value="Approved" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.status.Option.Approved' | translate}}</ion-select-option>
                            <ion-select-option value="Rejected" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.status.Option.Rejected' | translate}}</ion-select-option>
                            <ion-select-option value="Active" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.status.Option.Active' | translate}}</ion-select-option>
                            <ion-select-option value="In Active" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.status.Option.In Active' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-list-header>
                    <h6>{{'AccountEntry_MOBILE_Grid.Header.Additional Information'| translate}}</h6>
                </ion-list-header>
                <ion-col formGroupName="pfm147213" id="pfm147213_taxregistrationnumber" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['taxregistrationnumber'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.taxregistrationnumber'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm147213['taxregistrationnumber']" formControlName="taxregistrationnumber"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm147213').get('taxregistrationnumber').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Tax Registration Number</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_taxexempted" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['taxexempted'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.taxexempted'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm147213['taxexempted']" formControlName="taxexempted"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm147213').get('taxexempted').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Tax Exempted</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_creditlimitrequested" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['creditlimitrequested'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'AccountEntry_MOBILE_Grid.Element.customermaster.creditlimitrequested'| translate}}
                            <ion-text>in USD</ion-text>
                        </ion-label><span style="margin:0px 5px -27px 1px" slot="start" class="currencysymbolpreffix">$</span>
                        <ion-input type="number" [(ngModel)]="obj_pfm147213['creditlimitrequested']" formControlName="creditlimitrequested" class="currencysymbolfield"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm147213" id="pfm147213_paymentterms" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147213['paymentterms'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" (click)="('')" class="gender-margin">
                        <ion-label position="stacked"><label class="cs-label-blok">{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['paymentterms']" class="cs-dep-alert-no">{{dependentNumberCount['paymentterms']}}</ion-badge>
                            </label></ion-label>
                        <ion-select interface="popover" (ionChange)="('')" *ngIf="paymentterms_293717 != ''" [(ngModel)]="obj_pfm147213['paymentterms']" formControlName="paymentterms" multiple="false">
                            <ion-select-option value="None" [selected]=true>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.None' | translate}}</ion-select-option>
                            <ion-select-option value="Net 30" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.Net 30' | translate}}</ion-select-option>
                            <ion-select-option value="Net 45" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.Net 45' | translate}}</ion-select-option>
                            <ion-select-option value="Net 60" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.Net 60' | translate}}</ion-select-option>
                            <ion-select-option value="Net 90" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.Net 90' | translate}}</ion-select-option>
                            <ion-select-option value="CND" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.CND' | translate}}</ion-select-option>
                            <ion-select-option value="COD" [selected]=false>{{'AccountEntry_MOBILE_Grid.Element.customermaster.paymentterms.Option.COD' | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>
    <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>