.validation-announcement {
    position: absolute;
    bottom: 32px;
    left:20px;

    ion-item {
        position: relative;
        --border-style: none;
        --background: transparent;
         --inner-padding-end: 0px;
         --padding-start:0px;
         box-shadow: 0px 2px 16px 3px rgba(0, 0, 0, 0.22);
         border-radius: 50%;
        ion-icon {
            color: #fff;
            background: #ff4f4d;
            padding: 12px;
            font-size: 32px !important;
            border-radius: 50%;
        }

        ion-label{
            position: absolute;
            top: 3px;
            right:5px;
            background: #f8e71c;
            padding: 1px 6px;
            color: #000;
            font-size: 10px!important;
            font-weight: 700;
            border-radius: 12px;
            &.sc-ion-label-ios-h {
                right:-2px;
            }
        }
    }
}

.cs-validate-announce {
    .cs-va-block {
        // padding    : 0px;
        width: 100%;
        height: 540px;
        position: fixed;
        bottom: 0;
        border-radius: 10px;
        background: #fff;
        z-index: 10000;
        font-size: 14px;
        color: #3e3e3e;
        padding: 12px 0px 0px 0px;
        box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.22);
        --border-color: #fff;
        --padding-start:0px;
        --inner-padding-end:0px;
        .cs-am-close {
            z-index: 99;
            right: 14px;
            top: 13px;

            ion-icon {
                font-size: 18px !important;
            }
        &.sc-ion-label-ios-h {
            top:8px;
            ion-icon{
                font-size: 24px !important;
            }
        }
        }

        .cs-va-metatitle {
            ion-title{
                font-size: 16px;
                text-align: center;
                font-weight:500;
            }
            .title-ios{
                height: 39px;
                padding: 0;
            }
           .cs-va-ver-nd-applist{
                margin: 30px 10px 0 10px;
                max-height: 432px;
                overflow-y: auto;
                padding: 0;
            }

        }
        &.list-ios{
            height: 539px;
            margin: 0;
            padding-top: 20px;
        }
    }

    ion-row {
        ion-col {
            &.new-version {
                padding-bottom: 10px;
                .new-ver-block{
                    background: #eef8ff;
                    border-radius: 6px;
                    border:1px solid #e3f1fd;
                    min-height: 92px;
                    ion-label {
                        background : #1294ff;
                        border-radius: 6px 6px 0 0;
                        color:#fff;
                        padding: 4px 10px;
                        display: inline-block;
                    }
                }
                .new-ver-detail{
                    position: relative;
                    padding: 13px 13px;
                    ion-img{
                        position: absolute;
                        right: 14px;
                        width: 54px;
                        height: 54px;
                        top: -4px;
                        box-shadow: 0px 0px 11px -1px #dfe3e6;
                        border-radius: 50%;
                        overflow: hidden;
                        background: #fff;
                    }
                    .ver-name{
                        margin:0;
                        font-weight: bold;
                        padding-bottom:6px;
                    }
                    .ver-info{
                        margin:0;
                        color:#6e7174;
                    }
                }
                .new-ver-vis-img{
                    ion-img{
                    position: absolute;
                    width: 55px;
                    height: 55px;
                    padding: 9px;
                    top: -4px;
                    box-shadow: 0px 0px 11px -1px #dfe3e6;
                    border-radius: 50%;
                    overflow: hidden;
                    background: #fff;
                    }
                }
            }

            &.new-app {
                padding-bottom: 10px;
                .new-app-block{
                    background: #f6fffc;
                    border-radius: 6px;
                    border:1px solid  #e0f2ec;
                    min-height: 92px;
                    ion-label{
                        background: #0cac74;
                        color:#fff;
                        border-radius: 6px 6px 0 0;
                        padding: 4px 10px;
                        display: inline-block;
                    }
                    .new-app-detail{
                        position: relative;
                        padding: 13px 13px;
                        ion-img{
                            position: absolute;
                            right: 14px;
                            width: 54px;
                            height: 54px;
                            top: -4px;
                            box-shadow: 0px 0px 11px -1px #dfe3e6;
                            border-radius: 50%;
                            overflow: hidden;
                            background: #fff;
                        }
                        .app-name{
                            font-weight: bold;
                            margin:0;
                            padding-bottom:6px;
                        }
                        .app-ver{
                            margin:0;
                            color:#6e7174;
                        }
                    }
                }
            }
        }
    }
    .announce-sync{
        margin:0 14px;
        position: absolute;
        bottom: 10px;
        display: flex;
        width:calc(100% - 28px);
        align-items: center;
        justify-content: center;
        ion-button{
            height:34px;
            --box-shadow:none;
            text-transform:capitalize;
            background: var(--ion-color-primary);
            color:#fff;
            width:335px;
            border-radius: 2px;
            &.activated{
                --color-activated: #fff;
             }
        }
    }
}