.cs-am-attdoc{
    // .sc-ion-searchbar-ios-h {
    //     padding-right        : 0px !important;
    //     padding-left         : 0px !important;
    //     -webkit-padding-start: 0px !important;
    //     padding-inline-start : 0px !important;
    //     -webkit-padding-end  : 0px !important;
    //     padding-inline-end   : 0px !important;
    // }
    
    // .sc-ion-searchbar-md-h {
    //     padding-right        : 0px !important;
    //     padding-left         : 0px !important;
    //     -webkit-padding-start: 0px !important;
    //     padding-inline-start : 0px !important;
    //     -webkit-padding-end  : 0px !important;
    //     padding-inline-end   : 0px !important;
    // }
    .cs-am-att-nd-doc-buttons{
        .cs-am-att{
          padding:7px 0;
          background: #424242;
          color:#fff;
          text-align: center;
          position: relative;
        //   height: 100px;
          width: 200px;
          float: left;
          &.active{
            box-shadow: 1px 6px 6px -2px #b3abab;
          }
          &:hover{
            box-shadow: 1px 6px 6px -2px #b3abab;
          }
        //   &:after{
        //     content: '';
        //     line-height: 0;
        //     font-size: 0;
        //     width: 0;
        //     height: 0;
        //     // border-top: 34px solid #424242;
        //     border-bottom: 50px solid #424242;
        //     // border-left: 0px solid transparent;
        //     border-right: 35px solid transparent;
        //     position: absolute;
        //     top: 0;
        //     right: -33px;
        //   }
        }

        .cs-am-doc{
        padding:7px 0;
        background: #dabc56;
        color:#333;
        text-align: center;
        position: relative;
        // height: 100px;
        // width: 200px;
        float: left;
        // margin-left: 60px;
        width: 100px;
        &.active{
            box-shadow: 1px 6px 6px -2px #b3abab;
        }
        &:hover{
            .cs-am-doc{
                &:before{
                    box-shadow: 1px 6px 6px -2px #b3abab;
                }
            }
            box-shadow: 1px 6px 6px -2px #b3abab;
        }
        &::before{
            content: '';
            line-height: 0;
            font-size: 0;
            width: 0;
            height: 0;
            border-top: 33px solid #dabc56;
            border-left: 29px solid transparent;
            position: absolute;
            top: 0px;
            left: -29px;
            // border-bottom: 33px solid #dabc56;
            // border-right: 0px solid #dabc56;
          
        }
        }
    }
    .cs-am-attachlist-slide{
        margin-bottom:6px;
    }
    }
    .cs-am-header-attdoc.sc-ion-buttons-ios-s {
        ion-icon[slot=icon-only] {
            font-size: 20px !important;
        }
    }
    
    .cs-block {
        display: block;
    }
    .cs-none{
        display: none;
    }
    .cs-jc-sb {
        justify-content: space-between;
    }
    
    .cs-flex {
        display: flex;
    }
    
    .cs-pr {
        position: relative;
    }
    
    .cs-pa {
        position: absolute;
    }
    
    
    // .cs-am-atdoc_active {
    //     background   : white;
    //     color        : black;
    //     border-radius: 50%;
    //     width        : 30px;
    //     height       : 30px;
    //     font-size    : 11px !important;
    // }
    
    // .cs-am-docattfont {
    //     --padding-start: 0px !important;
    //     --padding-end  : 0px !important;
    // }
    
    // .cs-am-atdoc_inactive {
    //     background-color: rgba(255, 255, 255, 0.18);
    //     border-radius   : 50%;
    //     width           : 30px;
    //     height          : 30px;
    //     font-size       : 11px !important;
    // }
    
    .cs-am-borderline {
        // border-style              : solid;
        // border-width              : 0px 1px 1px 1px;
        // border-color              : #d6d6d6;
        // border-bottom-left-radius : 2px;
        // border-bottom-right-radius: 2px;
        // line-height               : 23px !important;
    
        ion-label {
            margin-top   : 5px !important;
            margin-bottom: 5px !important;
        }
    
    }
    .cs-am-selectcheckbox{
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        background-color: #f5f6f7;
        padding: 5px!important;
        .cs-am-checkboxsel{
            color      : var(--ion-color-primary);
            font-size  : 22px !important;
            margin-left: 1px !important;
            float: left;
        }
        .cs-am-margin8{
            margin-left:9px;
            font-size: 12px;
            font-weight: 500;
        }
        .cs-am-checkboxcancle{
            color: var(--ion-color-primary);
            float: right;
            font-weight: 500;
            font-size: 12px;
            margin-top: 3px;
            margin-right: 5px;
        }    
    }
    .cs-am-marginzero{
        padding-top: 0px!important;
        ion-item-sliding{
            box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.22);
            margin: 14px 2px;
        }
    }
    .cs-am-attachlistcontrol {
        display: flex !important;
         ion-buttons{
             margin-left:18px;
         }
        .sc-ion-buttons-ios-s {
            ion-icon[slot=icon-only] {
                font-size  : 20px !important;
                margin-left: 3px !important;
            }
        }
        .cs-am-filname-header{
            display: flex;
            align-items: center;
            text-align:left;
        }
        .cs-am-file-size{
            text-align:center;
        }
        .cs-am-filename {
            color        : #3e3e3e;
            font-size    : 14px !important;
            font-weight  : 500 !important;
            margin-bottom: 6px !important;
        }
    
        .cs-am-date {
            color        : #969595;
            font-size    : 13px !important;
            font-weight  : 500 !important;
            margin-bottom: 6px !important;
        }
    
        .cs-am-size {
            font-weight: 500 !important;
            font-size  : 12px !important;
        }
    
        .cs-am-grey {
            background: #eaeaea!important;
        }
        .sc-ion-buttons-ios-h{
            .cs-am-checkboxcoloractive {
                color      : var(--ion-color-primary);
                font-size  : 12px !important;
                margin-left: -8px !important;
                ion-icon{
                    font-size: 32px !important;
                    padding: 2px;
                }
            }
        } 
        .cs-am-checkboxcoloractive {
            width:48px;
            height:48px;
            color      : var(--ion-color-primary);
            font-size  : 12px !important;
            margin-left: -8px !important;
            ion-icon{
                font-size: 20px !important;
                background: #dabc56;
                padding: 6px;
                color: #000;
                border-radius: 50px;
            }
        }
        .sc-ion-buttons-ios-h{
            .cs-am-checkboxcolor{
                ion-icon{
                    &.cs-am-grey{
                        font-size: 32px !important;
                        padding: 2px;
                  }
                }
            }
        }
        .cs-am-checkboxcolor{
            font-size  : 12px !important;
            color      : grey!important;
            margin-left: -8px !important;
            width:48px;
            height:48px;
            ion-icon{
                &.cs-am-grey{
                    font-size: 20px !important;
                    color: #c7c7c5;;
                    padding: 6px;
                    border-radius: 50px;
              }
            }
        }
        ion-grid{
            ion-row{
                display: flex;
            ion-img{
                width: 33px;
                height: 33px;
            }
            ion-col:first-child{
                padding-left:15px;
            }
            ion-col{
                display: flex;
                align-items: center;
                justify-content: center;
                div{
                    h3{
                      margin-top: 6px;
                    }
                }
            }
        }
        }
    }
    
    .cs-am-deldown {
        width               : 49.7% !important;
        -webkit-margin-start: 0px !important;
        margin-inline-start : 0px !important;
        -webkit-margin-end  : 0px !important;
        margin-inline-end   : 0px !important;
        background-color    : #f6f6f6;
        color               : #3e3e3e;
        height              : 45px !important;
        font-size           : 12px !important;
    }
    
    
    .cs-am-deldownparent {
        display        : flex !important;
        justify-content: space-between !important;
    }
    
    .cs-am-toolbar {
        --min-height    : 0px;
        --padding-top   : 0px !important;
        --padding-bottom: 0px !important;
        --padding-start : 0px !important;
        --padding-end   : 0px !important;
        --min-height    : 0px !important;
    }
    
    .cs-am-btnheight {
        height      : 100% !important;
        --background: #54B340 !important;
        color       : white !important;
        margin:0;
    }
    .cs-btn-delete{
        --background: #e35858 !important;
        color       : white !important;
    }
    .cs-am-doclistcontrol {
        margin-top:6px!important; 
        display:flex!important;
        justify-content:space-between;
    
        .cs-am-filename {
            font-size  : 14px !important;
            font-weight: 500 !important;
            padding-left:14px;
        }
    
        .cs-am-date {
            font-size: 13px !important;
            color    : #22A7F0;
        }
    
        .cs-am-size {
            font-size: 12px !important;
            color    : var(--ion-color-primary);
        }
    }
    
    .cs-am-singlemultiicon {
        background-color: #efefef;
        border-radius   : 50%;
        width           : 20px;
        height          : 20px;
        padding         : 7px;
        margin-right    : 5%;
    
    }
    
    .cs-am-doc-icon-single {
        color: #d95354;
    }
    
    .cs-am-doc-icon-multiple {
        color: #22A7F0;
    }
    
    .cs-am-attachlist {
        --padding-start: 0px !important;
        --border-style: none;
        --background:#f2f9ff;
    }
    
    .cs-am-attach-paddingstart {
        --inner-padding-end: 0px;
        --padding-start: 0px !important;
    }

    
    .cs-am-docsublistcontrol {
        box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.22);
        margin: 15px 9px!important;
    
        .cs-am-docsubnamesize {
            margin: 14px 0;
    
            .cs-am-filename {
                // margin-left: 50px !important;
                font-size     : 15px;
                color         : #3e3e3e !important;
                font-weight   : 500 !important;
            }
    
            .cs-am-size {
                // margin-right : 50px !important;
                font-size       : 11px !important;
                font-weight     : bold !important;
    
            }
            .cs-am-date {
                color      : #868686;
                font-size  : 12px !important;
                font-weight: 500 !important;
                margin: 7px 0;
    
            }
    
        }
    
    
        .cs-am-leftarrow {
            color: #c3c3c3;
            top: 38px;
            font-size: 20px;
            left     : 12px;
            ion-icon{
                font-size: 22px!important;
            }
        }
    
        .cs-am-rightarrow {
            color: #c3c3c3;
            top: 38px;
            right    : 12px;
            ion-icon{
                font-size: 22px!important;
            }
        }
    
        .cs-am-contentalignleft {
            width: 54%;
            text-align: left;
            border-right: 1px solid #ececec;
            margin-left: 0px;
        }
        }
    
        .cs-am-contentalignright {
            margin-right: 67px;
            margin-top: 6px;
            ion-img{
                width:33px;
                height:33px;
            }
            .cs-am-count {
                color    : #868686;
                font-size: 11px !important;
                margin-right:0;
                margin-top:6px;

    
                .cs-am-strong {
                    color      : #000;
                    font-weight: bold !important;
                }
            }
        }
    
    
    .cs-am-paddingdisovle {
        --padding-start    : 0px;
        --inner-padding-end: 0px;
        margin       : 0 5px;
        width              : 100% !important;
    }
    
    .cs-am-badge {
        font-size: 13px!important;
        margin-left: 10px;
        font-weight: 500!important;
        display            : inline-block;
        min-width          : 25px;
        padding            : 2px 6px;
        // font-weight     : 600;
        // color           : #3e3e3e;
        line-height        : 1;
        vertical-align     : baseline;
        white-space        : nowrap;
        text-align         : center;
        // background-color: #bfbfbf;
        border-radius      : 7px;
    }
    .cs-doc-alert{
        position: relative;
    .cs-top-alert {
        padding      : 0px;
        border-radius: 10px;
        border       : none !important;
        position     : fixed;
        right        : 8px;
        height       : 0px !important;
        top          : 8%;
        background   : #fff;
        z-index      : 999;
        // box-shadow   : 0px 0px 27px -1px rgba(0, 0, 0, 0.22);
        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: 34%;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }
    
        ion-item {
            -webkit-padding-start: 0px !important;
            padding-inline-start : 0px !important;
            --min-height         : 10px !important;
            font-size            : 14px !important;
            // margin-top           : 10px !important;
            // margin-bottom        : 10px !important;
        }
    
        .cs-am-doc-scroll {
            position:relative;
            min-height: 47px !important;
            max-height: 128px !important;
            overflow-y: auto;
            padding:9px 0;
            box-shadow   : 0px 0px 27px -1px rgba(0, 0, 0, 0.22);
            ion-item{
                padding: 6px 8px!important;
                color:#969595;
                --inner-padding-end:0px;
                --padding-start:0;
                span{
                    width:100%;
                    padding:0 5px;
                }
                &:hover{
                    span{
                        background:#ededed;
                        color:#000;
                    }
                    background:#ededed;
                    color:#000;
                }
            }
        }
    }
   }
    
    .cs-am-filter {
        // padding    : 0px;
        width         : 172px;
        height        : 272px;
        position      : fixed;
        right         : 56px;
        top           : 8%;
        background    : #fff;
        z-index       : 10000;
        font-size     : 14px;
        line-height   : 31px;
        color         : #3e3e3e;
        padding       : 15px 0px 0px 0px;
        box-shadow    : 0px 0px 27px -1px rgba(0, 0, 0, 0.22);
        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: 34%;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }
    
        .cs-am-close {
            z-index: 99;
            right  : 14px;
            top    : 4px;
            ion-icon{
                font-size:20px!important;
            }

        }
    
        .cs-am-checkalignparent {
            display        : flex;
            justify-content: space-between;
            width          : 100%;
            color:#969595;
            ion-icon.cs-am-checkalign {
                margin-top: 7px;
                font-size: 18px!important;
                margin-right: 10px;
                color: #22A7F0;
            }
            &.sc-ion-label-ios-h{
                ion-icon.cs-am-checkalign {
                    margin-top: 2px;
                    font-size: 28px!important;
                }
            }
        }
        .cs-am-width{
            width: 100%;
            &.sc-ion-label-ios-h{
                ion-icon.cs-am-checkalign {
                    margin-top: 2px;
                    font-size: 28px!important;
                }
            }
        }
        .cs-am-checkalignparentsm {
            display        : flex;
            justify-content: space-between;
            // width          : 155%;
    
            ion-icon.cs-am-checkalign {
                margin-top: 7px;
                font-size: 18px!important;
                margin-right: 10px;
                color: #22A7F0;
            }

            .cs-am-emp-doc{
    
                font-size:13px;
                span{
                    color:#969595;
                }
                ion-icon{
                    color:#22A7F0;
                    margin-right:2px;
                    font-size:16px!important;
              }
            }
        }
        .freqSelectedItem{
            color:#000;
        }
    }    
    .cs-am-rmar-icon {
        margin-right: 15px !important;
    }
    
    .cs-am-titletext {
          font-size      : 15px!important;
        --padding-start: 0px !important;
        font-weight:500;
    }
    
    .cs-am-title-align {
        // --padding-start: 0;
        padding: 6px 0;    
        // --min-height: 61px;
    
        ion-label {
            -webkit-padding-start: 0px !important;
            padding-inline-start : 0px !important;
            &.cs-am-topdetail {
                --color: #969595;
                font-size: 15px!important;
                margin: 5px 0;
                font-weight: normal;
            }
            &.cs-am-bottomdetail{
                font-size:15px!important;
                font-weight:500;
            }
        
        }
    
        .sc-ion-buttons-ios-s {
            ion-icon[slot=icon-only] {
                font-size: 20px !important;
            }
     }
    }
    
    .cs-am-singlec {
        color       : #d95354;
        margin-right: 2px;
        font-size   : 16px !important;
    }
    
    .cs-am-multic {
        color       : #22A7F0;
        margin-right: 2px;
        font-size   : 16px !important;
    }
    
    .cs-am-singlemultiple-alignmiddle {
        display    : inline-flex;
        align-items: center;
        color:#969595;
    }
    
    .cs-am-bline {
        border-bottom: 1px solid #eee;
    }
    
    .cs-am-capitalize {
        text-transform: capitalize !important;
        margin-left   : 5px;
        color         : #747474 !important;
    }
    
    ion-list {
        margin-top: 0px !important;
    }
    
    
    .swiper-container {
        width : 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size : 18px;
        background: #fff;
        /* Center slide text vertically */
        display                : -webkit-box;
        display                : -ms-flexbox;
        display                : -webkit-flex;
        display                : flex;
        -webkit-box-pack       : center;
        -ms-flex-pack          : center;
        -webkit-justify-content: center;
        justify-content        : center;
        -webkit-box-align      : center;
        -ms-flex-align         : center;
        -webkit-align-items    : center;
        align-items            : center;
    }
    
    .div-slides{    
        bottom: 0;
        width: 100%;    
        display: block;        
        background-color: #e6e6e6;
        img{
            width: auto;
            height: 80px;
            object-fit: contain;
        }
    }
    .cs-am-multisel-fab{
        ion-icon{
            color:#fff;
            padding:9px;
            width: 30px;
            height: 30px;
            font-size:21px!important;
        }
        >ion-fab-button:first-child{
            --background:#424242;
            width:50px;
            height:50px;
            --color:#fff;
          }
        ion-fab-list[side="top"]{
            ion-fab-button{
                margin:6px 0;
            }
            ion-fab-button:first-child{
                ion-icon{
                    background:#f99522;
                }
            }
            ion-fab-button:nth-child(2){
                ion-icon{
                    background:#47a101;
                }
            }
            ion-fab-button:nth-child(3){
                ion-icon{
                    background:#e35858;
                }
            }
            ion-fab-button:nth-child(4){
                ion-icon{
                    background:#0096e3;
                }
            }
            
        }
        ion-fab-list[side="start"]{
            ion-fab-button{
                margin:2px 0;
            }
            ion-fab-button:first-child{
                ion-icon{
                    background:#dabc56;
                }
            }
        }

    }
    .ion-truncate{
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    @media screen and (min-width: 350px) and (max-width: 668px) { 
        /* STYLES HERE */
        .cs-am-attachlistcontrol{
            .cs-am-filname-header{
                width:146px;
            }
        .cs-am-size{
            width:88px;
        }
        }
    }
    @media screen and (min-width: 668px) and (max-width: 768px) { 
        /* STYLES HERE */
        .cs-am-attachlistcontrol{
            .cs-am-filname-header{
                width:143px;
            }
        .cs-am-file-size{
            width:88px;
        }
        }
    }
    @media screen and (min-width: 769px) and (max-width: 992px) { 
        /* STYLES HERE */
        .cs-am-attachlistcontrol{
            .cs-am-filname-header{
                width:200px;
            }
        .cs-am-file-size{
            width:68px;
        }
        }
    }
    @media screen and (min-width: 992px) and  (max-width: 1054px){ 
        /* STYLES HERE */
        .cs-am-attachlistcontrol{
            .cs-am-filname-header{
                width:90px;
            }
        .cs-am-file-size{
            width:40px;
        }
        }
    }
    @media screen and (min-width: 1055px){ 
        /* STYLES HERE */
        .cs-am-attachlistcontrol{
            .cs-am-filname-header{
                width:143px;
            }
        .cs-am-file-size{
            width:40px;
        }
        }
    }

    // .cs-am-icontransform {
    //     transform: rotate(45deg);
    // }