// .menu-content{
//     .menu_icons{
//         width: 30px;
//         margin-right: 14px;
//         color:var(--ion-color-primary);
//         }
// }
// .menu-toolbar{
//        ion-title{
//         text-align: left;
//         padding-left: 24px; 
//         font-size:20px; 
//        }
//        .title-md{
//         padding-left: 20px;
//         font-size:20px; 
//      }
//    }
// .menu-list-header{
//     .title-ios{
//         text-align: left;
//         font-size: 21px;
//         padding-left: 24px;
//         font-weight: 400;
//         text-transform: capitalize;
//     }
//     .title-md{
//         padding-left: 0;
//         font-size: 21px;
//         font-weight: 400;
//     }
// }
// .menu-content-list.list-ios,.menu-content-list.list-md{
//     margin-bottom:6px;
// .menu-content-item.in-list{
//     text-transform:capitalize;
//     padding-left:6px;
//     padding-bottom:0;
//     font-size: 18px;
//     font-weight:300;
//     ion-icon{
//         margin: 12px 10px 12px 0;
//         font-size:22px;
//         color:var(--ion-color-primary);
//     }
// }
// }
// ion-icon{
//     font-size:26px!important;
// }
// .sc-ion-buttons-ios-s ion-icon[slot=icon-only] {
//     padding-top:10px;
// }


.styleLight {
    ion-toolbar:not(.set-footer-toolbar):not(.menu-toolbar) {
        --ion-color-primary: #fff;
        --ion-color-primary-contrast: #333;

        ion-icon[name="arrow-back"] {
            padding-top: 6px;
            font-size: 24px;
        }

        ion-icon[name="create"] {
            margin-bottom: 5px;
            font-size: 25px;
        }

        ion-icon[name="save"] {
            margin-bottom: 6px;
            font-size: 25px;
        }

        .title-md {
            padding-left: 0px;
            font-size: 18px;
        }

        .title-ios {
            width: auto;
            font-size: 19px;
            font-weight: 450;
            padding-left: 56px;
        }

        h2 {

            // margin:0;
            ion-icon,
            ion-icon[slot=icon-only] {
                margin-bottom: 0;
                font-size: 24px;

                svg {
                    --fill: #000;
                }
            }
        }
    }

    .menu-list-item {
        .list-ios {
            margin-bottom: -1px !important;
            padding-bottom: 3px !important;
        }
    }

    .menu-toolbar {
        ion-title {
            padding-right: 145px;
            font-size: 20px;
        }

        .title-md {
            padding-left: 20px;
        }

        .title-ios {
            padding-left: 24px;
        }
    }

    .menu-toolbar:after {
        content: '';
        display: block;
        width: 220px;
        margin: auto;
        border-bottom: none;
    }

    .menu-content {
        .ion-page {
            background: #fff;
        }

        .mc-header-list {
            &.list-md {
                background: transparent;
            }

            &.list-ios {
                background: transparent;
            }
        }

        .menu-list-header {
            background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }

        // .menu-content-list{
        //         padding-top: 4px;
        //     margin-bottom:-1px!important; 
        // }
        // .list-md {
        //     padding-top: 0;
        // }

        .menu-content-item.in-list {

            // border:none!important;
            // color: var(--ion-color-primary-contrast);
            // background:var(--ion-color-primary);
            &.active {
                background: rgba(192, 192, 192, 0.3);
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                width: 265px;
            }

            // ion-icon{
            //     font-size:18px;
            //     color: var(--ion-color-primary-contrast);
            //     margin-right: 13px;
            //     margin-left:13px;
            // }
        }
    }
}

.set-footer-toolbar {
    ion-header {
        position: static;
    }
}

.menu-content {
    background: #fff;

    .list-md:not(.hl-full-detail-content) {
        // margin-bottom: -1px;
        // padding-bottom: 0;
    }

    // background:var(--ion-color-primary);
    .menu-content-list {
        margin-top: -1px !important;
    }
}










//nis white theme
.cs-bg-whitemenu {
    .menu-toolbar {
        .cs-tool-label {
            h2 {
                font-size: 20px !important;
                margin-bottom: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                font-weight: 300;
                font-size: 18px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .divider {
                border-top: 1px solid #ffffff69;
                margin-left: 32px;
                width: calc(100% - 64px);
                margin-top: 26px;
                margin-bottom: 26px;
            }
        }

        .menu-content {
            background: #fff;
            color: var(--ion-color-light-contrast, #000) !important;
        }

        .cs-tool-avatar {
            width: 75px !important;
            height: 75px !important;
            border: 2px solid #fff;
            border-radius: 50%;
        }

        ion-title {
            padding-right: 145px;
            font-size: 20px;
        }

        .title-md {
            padding-left: 20px;
        }

        .title-ios {
            padding-left: 24px;
        }

        .divider {
            border-top: 1px solid #ffffff69;
            margin-left: 32px;
            width: calc(100% - 64px);
            margin-top: 26px;
            margin-bottom: 26px;
        }
    }

    .menu-content {
        .menu-list-header {
            background: #fff;
            color: var(--ion-color-light-contrast, #000) !important;
            margin-top: 9px;
            cursor: pointer;

            ion-icon {
                color: var(--ion-color-primary);
            }

            .icon-mat-keyboard_arrow_down {
                color: var(--ion-color-light-contrast, #000) !important;
            }

            .icon-mat-keyboard_arrow_up {
                color: var(--ion-color-light-contrast, #000) !important;
            }

        }

        .menu-content-list {
            padding-top: 4px;
            margin-bottom: -1px !important;
            margin-top: -1px !important;
            background: #fff;

            ion-title {
                &.title-md {
                    margin-left: 0px;
                    margin-top: 0px;
                }

                margin-left:31px;
            }

            .cs-arrow-down {
                margin-left: auto;
                margin-right: 16px;
                margin-top: 5px;
                font-size: 19px !important;
            }
        }
    }

    .menu-content-list {
        .menu-list-header {
            ion-icon {
                margin-right: 16px;
            }
        }

    }

    .menu-list-item {
        .list-ios {
            margin-bottom: -1px !important;
            padding-bottom: 3px !important;
        }
    }
    .menu-content-item:active,
    .menu-content-item:hover {
        --background: var(--ion-color-light);
        background: var(--ion-color-light);
    }
    .menu-content-item.cs-menu-active {
        --background: var(--ion-color-primary-tint);
        background: var(--ion-color-primary-tint);
    }
    .menu-content-item.in-list {
        text-transform: capitalize;
        padding-left: 6px;
        padding-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        ion-icon {
            margin: 12px 10px 12px 0;
            font-size: 22px;
            color: var(--ion-color-primary);
        }
    }

    .menu-content-item.in-list {
        border: none !important;
        color: var(--ion-color-light-contrast, #000) !important;
        background: #fff;

        &.active {
            background: rgba(192, 192, 192, 0.3);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            width: 265px;
        }

        ion-icon {
            color: var(--ion-color-primary);
            margin-right: 13px;
            margin-left: 13px;
            font-size: 23px;
        }
    }

    .menu-list-header {
        .title-ios {
            text-align: left;
            font-size: 21px;
            padding-left: 24px;
            font-weight: 400;
            text-transform: capitalize;
        }

        .title-md {
            padding-left: 0;
            font-size: 18px;
            font-weight: 400;
        }
    }
}


//nis blue theme
.cs-bg-bluemenu {
    .menu-toolbar {
        .cs-tool-avatar {
            width: 75px !important;
            height: 75px !important;
            border: 2px solid #fff;
            border-radius: 50%;
        }

        .cs-tool-label {
            h2 {
                font-size: 20px !important;
                margin-bottom: 9px;
            }

            p {
                font-weight: 300;
                font-size: 18px !important;
            }

            .divider {
                border-top: 1px solid #ffffff69;
                margin-left: 32px;
                width: calc(100% - 64px);
                margin-top: 26px;
                margin-bottom: 26px;
            }
        }

        .cs-tool-content-center {
            .cs-tool-avatar {
                width: 75px !important;
                height: 75px !important;
            }
        }

        ion-title {
            padding-right: 145px;
            font-size: 20px;
        }

        .title-md {
            padding-left: 20px;
        }

        .title-ios {
            padding-left: 24px;
        }

        .divider {
            border-top: 1px solid #ffffff69;
            margin-left: 32px;
            width: calc(100% - 64px);
            margin-top: 26px;
            margin-bottom: 26px;
        }
    }

    .menu-content {
        .menu-list-header {
            background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }

        .menu-content-list {
            padding-top: 4px;
            margin-bottom: -1px !important;
            margin-top: -1px !important;

            ion-title {
                &.title-md {
                    margin-left: 0px;
                    margin-top: 6px;
                }

                margin-left:31px;
            }

            .cs-arrow-down {
                margin-left: auto;
                margin-right: 16px;
                margin-top: 5px;
                font-size: 19px !important;
            }
        }
    }

    .menu-content-list {
        .menu-list-header {
            ion-icon {
                margin-right: 16px;
            }
        }
    }

    .menu-list-item {
        .list-ios {
            margin-bottom: -1px !important;
            padding-bottom: 3px !important;
        }
    }

    .menu-content-item.in-list {
        text-transform: capitalize;
        padding-left: 6px;
        padding-bottom: 0;
        font-size: 16px;
        font-weight: 400;

        ion-icon {
            margin: 12px 10px 12px 0;
            font-size: 22px;
            color: var(--ion-color-primary);
        }
    }

    .menu-content-item.in-list {
        border: none !important;
        color: var(--ion-color-primary-contrast);
        background: var(--ion-color-primary);

        &.active {
            background: rgba(192, 192, 192, 0.3);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            width: 265px;
        }

        ion-icon {
            color: var(--ion-color-primary-contrast);
            margin-right: 13px;
            margin-left: 13px;
            font-size: 23px;
        }
    }

    .menu-list-header {
        .title-ios {
            text-align: left;
            font-size: 21px;
            padding-left: 24px;
            font-weight: 400;
            text-transform: capitalize;
        }

        .title-md {
            padding-left: 0;
            font-size: 18px;
            font-weight: 400;
        }
    }
}






//change in blue

// .menu-content{
//     background: var(--ion-color-primary);
// }

/// Web View Toolbar///
.cs-tool-web {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 3px #e0e0e0;

    .cs-tool-web-div1 {
        width: 49%;
        display: inline-block;

        .cs-tool-web-img1 {
            max-width: 100px;
            max-height:54px;
            margin-left: 20px;
            position: relative;
        }

        .cs-tool-web-span {
            margin-left: 9px;
            height: 20px;
            width: 1px;
            margin-top: 20px;
            display: inline-block;
            vertical-align: top;
            background: lightgray;
        }

        .cs-tool-web-p {
            display: inline-block;
            vertical-align: top;
            padding-top: 20px;
            padding-left: 10px;
        }

        .cs-tool-web-button {
            width: 30px;
            display: inline-block;
            vertical-align: top;
            padding-top: 12px;
            padding-left: 13px;
            font-size: 33px;
        }
    }

    .cs-tool-web-div2 {
        width: 50%;
        direction: rtl;
        display: inline-block;

        .cs-tool-web-avatar {
            display: inline-block;
            width: 33px;
            height: 33px;
            margin: 0;
            margin-right: 12px;
            margin-left: 1px;
            position: relative;
            bottom: 9px;
        }

        .cs-tool-web-icon {
            position: relative;
            top: -14px;
            margin-left: 14px;
            margin-right: 14px;
            font-size: 23px;
        }

        .cs-tool-web-img2 {
            width: 68px !important;
        }
    }

}

.cs-tool-web-mov-top {
    top: 68px !important;
}

.cs-tool-web-img1 {
    max-width: 100px;
    max-height: 54px;
}

ion-header.webHeader {
    height: 65px;
}

.cs-tool-switch-icon {
    position: relative;
    top: -14px;
    margin-left: 14px;
    font-size: 23px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cs-cur {
    cursor: pointer;
}
.cs-positionrel {
    position: relative;
    
    .cs-danger-badge {
    position: absolute;
    top: -6px;
    left: 17px;
    font-size: 10px;
    border-radius: 500px;
    }
}
    