.status_wrk_flow_item{
    padding-top:0;
    &.list-ios{
        margin-bottom:0;
    }
    .swf_prev_label{
        display:flex!important;
        ion-label{
            margin-top:0;
            margin-left:5px;
            width:100%;
            font-style:italic;
        }
    }
    ion-button{
        color:#fff;
        border-radius:4px;
        text-transform:capitalize;
        height: 28px;
    }
    .swf_approve{
        background:#00a651;
    }
    .swf_reject{
        background: #ff4747;  
        margin: 4px 6px 4px 4px;
    }
    .swf_popover_apprej{
        border-right:1px solid #e4e4e4;
        border-left:1px solid #e4e4e4;
        border-bottom:1px solid #e4e4e4;
        background: #f8f8f8;
        padding-left:10px;
        ion-col{
            width:100px;
            flex-grow:0;
        }
    }
    ion-item{
        .swf_close{
          font-size:15px!important;
          margin-top: 36px;
        }
        .swf_arrow_down{
            font-size: 21px!important;
            margin-top: 36px;
            margin-left:6px;
            --ion-color-base: #b5b5b5 !important;
        }
    }
}
.swf_popover{
    border-right:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    background:#fff;
    // padding: 0px 5px 20px 5px;
    // display:inline-block;
    width:100%;
    text-align:left;
    &.list-ios{
        margin-bottom:0;
    }
    ion-item{
        position: relative;
        // min-width:120px;
        --background: #fff;
        --min-height: 28px;
        --border-radius: 50px;
        border-radius:50%;
        display:inline-block;
        box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.22);
        margin:7px 5px;
        ion-icon{
            position: absolute;
            right: 9px;
            top: 5px;
            margin: 0;
            font-size: 20px!important;
        }
        ion-label{
            margin:5px 22px 5px 2px;
        }
    }
}
.cs-ani-alert-org{
    .swf-popover{
        padding: 0px 5px 20px 5px;
    }
}
.popover-content{
    transform:inherit!important;
}
.swf_proceed{
    margin-left: 5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #31baf1;
    color: #fff;
    padding: -7px;
    display: flex;
    font-weight: bold;
    span{
      font-size:14px;
    }
}
.swf-alert-heading{
    
}

ion-list{
    ion-item{
        ion-img{
        border: 1px solid #82C6FF;
        border-radius: 50%;
        background-color: #E7F2FF;
        border-style: dashed;
        padding: 3px;
        margin-left: 8px;
        width:27px;
        height:27px;
        }
    }
}