<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'AddressEntry_MOBILE_Grid.Layout.AddressEntry_MOBILE_Grid'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header no-border="" padding-top="" padding-start="" class="header-listpreview-sub-header">
    <h5 no-margin="" padding-start="">{{parentObjValue}}</h5>
    <ion-label>
        <ion-item lines="none">
            <P no-margin="" padding-bottom="">{{parentObjLabel | translate}}
                <ion-text color="danger" class="cs-mandatory">*</ion-text>
            </P>
        </ion-item>
    </ion-label>
</ion-header>
<ion-content #parentContent="" padding="" class="cs-list-preview scrollHeight" style="height:100%;">
    <ion-list no-padding="" class="hl-scroll-list-text" [ngClass]="{'cs-scroll-height-dockerstatelistpreview' : drawerComponentCurrentState == 1 , 'cs-scroll-height-minimumstate' : drawerComponentCurrentState == 0 }">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_accountno']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_accountno']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_accountname']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_accountname']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_dunsnumber']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_dunsnumber']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_status']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_status']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_businessunits']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_businessunits']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_taxregistrationnumber']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_taxregistrationnumber']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm147213_accounttype']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm147213_accounttype']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-bottom-drawer [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="150" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="dockerButtonOnClick()" margin-bottom=""></ion-icon>
    </div>
    <ion-content #childContent="" class="entry-page-content" [ngClass]="{ 'cs-scroll-height-dockerstate-hl_listpreviewpage' : drawerComponentCurrentState == 1 , 'cs-scroll-height-topstate-hl_listpreviewpage' : drawerComponentCurrentState == 2 }">
        <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading" style="margin-top: 20px !important; margin-left: 16px;width: calc(100% - 32px);border: 1px solid #d7d8da;padding-top: 0px !important;">
            <ion-list no-padding="">
                <ion-row padding-horizontal="" padding-bottom="">
                    <ion-col formGroupName="pfm147233" id="pfm147233_addressid" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.addressid'| translate}}</ion-label>
                            <ion-input type="text" disabled="disabled">{{obj_pfm147233['addressid']}}</ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_sitenumber" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['sitenumber'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" class="mandatory-field">
                            <ion-label position="stacked">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.sitenumber'| translate}}
                                <ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147233['sitenumber']" formControlName="sitenumber" required=""></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147233').get('sitenumber').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Site Number</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_country" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['country'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" (click)="('')" class="gender-margin">
                            <ion-label position="stacked"><label class="cs-label-blok">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.country'| translate}}
                                    <ion-badge item-end="" *ngIf="dependentNumberCount['country']" class="cs-dep-alert-no">{{dependentNumberCount['country']}}</ion-badge>
                                </label></ion-label>
                            <ion-select interface="popover" (ionChange)="updateChildList(country_293719,obj_pfm147233['country'],false,'country')" *ngIf="country_293719 != ''" [(ngModel)]="obj_pfm147233['country']" formControlName="country" multiple="false">
                                <ion-select-option value="None" [selected]=true>{{'AddressEntry_MOBILE_Grid.Element.addressdetails.country.Option.None' | translate}}</ion-select-option>
                                <ion-select-option value="USA" [selected]=false>{{'AddressEntry_MOBILE_Grid.Element.addressdetails.country.Option.USA' | translate}}</ion-select-option>
                                <ion-select-option value="Canada" [selected]=false>{{'AddressEntry_MOBILE_Grid.Element.addressdetails.country.Option.Canada' | translate}}</ion-select-option>
                                <ion-select-option value="India" [selected]=false>{{'AddressEntry_MOBILE_Grid.Element.addressdetails.country.Option.India' | translate}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_address1" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['address1'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.address1'| translate}}</ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147233['address1']" formControlName="address1"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147233').get('address1').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Address 1</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_address2" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['address2'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.address2'| translate}}</ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147233['address2']" formControlName="address2"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147233').get('address2').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Address 2</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_stateprovince" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['stateprovince'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" (click)="checkIsParentSelected('country', 'stateprovince', country_293674)" class="gender-margin">
                            <ion-label position="stacked"><label class="cs-label-blok">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.stateprovince'| translate}}
                                    <ion-badge item-end="" *ngIf="dependentNumberCount['stateprovince']" class="cs-dep-alert-no">{{dependentNumberCount['stateprovince']}}</ion-badge>
                                </label>
                                <ion-text *ngIf="obj_pfm147233['country'] == ''" class="cs-dep-alert">country</ion-text>
                            </ion-label>
                            <ion-select interface="popover" (ionChange)="('')" *ngIf="obj_pfm147233['country'] != ''  && pickListValues['stateprovince'] && pickListValues['stateprovince'].length > 0" [(ngModel)]="obj_pfm147233['stateprovince']" formControlName="stateprovince" multiple="false">
                                <ion-select-option *ngFor="let item of pickListValues['stateprovince']" value="{{item.choiceValue}}" [selected]=false>{{item.choice}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_city" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['city'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.city'| translate}}</ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147233['city']" formControlName="city"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147233').get('city').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid City</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm147233" id="pfm147233_postalcode" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm147233['postalcode'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.postalcode'| translate}}</ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm147233['postalcode']" formControlName="postalcode"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm147233').get('postalcode').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Postal Code</p>
                        </ion-row>
                    </ion-col>
                    <ion-col id="pfm147233_addresstype" size="12" sizeMd="6" sizeLg="4" sizeXl="4" [ngClass]="obj_pfm147233['addresstype'] == ''? 'cs-dep-alert-block' : ''">
                        <ion-label><label class="cs-label-blok">{{'AddressEntry_MOBILE_Grid.Element.addressdetails.addresstype'| translate}}
                                <ion-badge item-end="" *ngIf="dependentNumberCount['addresstype']" class="cs-dep-alert-no">{{dependentNumberCount['addresstype']}}</ion-badge>
                            </label></ion-label>
                        <ion-list lines="none">
                            <ion-item *ngFor="let item of pickListValues['addresstype']">
                                <ion-label>{{item.displayName | translate}}</ion-label>
                                <ion-checkbox slot="start" checked="{{item.isChecked}}" (ionChange)="onChangeCheckbox(pickListValues['addresstype'], item, '', 'addresstype', obj_pfm147233)"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-list>
        </form>
        <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
            <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                    <ion-item lines="none">
                        <ion-label no-margin="">
                            <h5>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h5>
                            <h6>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </h6>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-content>
</ion-bottom-drawer>