<ion-list *ngIf="inputPageName=='view' && approverType=='approver' && selectedObject['systemAttributes']"
   class="status_wrk_flow_item">
   <ion-item no-padding lines="none"> 
      <ion-label class="swf_prev_label" position="stacked">
         {{labelValue}}
         <ion-label position="stacked" *ngIf="previousStatus['statusValue']!=selectedStatus['statusValue']">
            ({{previousStatus['statusLabel']}} )
      </ion-label>
               <!-- <ion-text color="danger" class="cs-mandatory">**</ion-text> -->
               <ion-img src="assets/img/workflow-img.png"></ion-img>
      </ion-label>
      <ion-input class="cs_ab_icon" readonly="true">
         {{statusDisplayString}}
         <ion-icon name="checkmark-circle" class="checkmark-circle" slot="icon-only" *ngIf="circlecheck" color="success">
         </ion-icon>
         <ion-icon name="close-circle" class="close-circle" slot="icon-only" *ngIf="circleclose" color="danger"></ion-icon>
      </ion-input>
      <ion-icon class="swf_close" name="close" slot="end" (click)="onPrev()" *ngIf="controlclose"></ion-icon>
      <ion-icon class="swf_arrow_down" (click)="countCheck($event,item)"
      [color]="(items[previousStatus['statusValue']]
      && items[previousStatus['statusValue']].length > 1 && previousStatus['isApproveInitiateEnabled']!='Y') ? 'dark' : 'medium'" name="arrow-dropdown" slot="end">
      </ion-icon>
   </ion-item>
   <ion-row class="swf_popover_apprej swf_popover_apprej_zero_leftp" *ngIf="activeforlessthenthree">
      <ion-list lines="none" class="swf_popover cs_ad_tbpad">
         <ion-item *ngFor="let item of selectedItems" (click)="itemClick(item)">
         <ion-label>{{item.statusLabel}}</ion-label>
         <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue!=selectedStatusValue)"
            name="radio-button-off" slot="start" color='primary'> </ion-icon>
         <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue==selectedStatusValue)"
            name="radio-button-on" slot="start" color='primary'> </ion-icon>
         <ion-icon *ngIf="(previousStatusValue!=selectedStatusValue && item.statusValue==selectedStatusValue)"
            name="radio-button-on" slot="start" color='primary'> </ion-icon>
         <ion-icon *ngIf="(item.statusValue!=previousStatusValue && item.statusValue!=selectedStatusValue)"
            name="radio-button-off" slot="start" color='primary'> </ion-icon>
         </ion-item>
      </ion-list>
   </ion-row>
   <ion-row class="swf_popover_apprej" *ngIf="approvereject && allowApproveAction && selectedObject['systemAttributes']
      && selectedObject['systemAttributes']['fieldId'] == fieldIdValue">
      <ion-col>
         <ion-button fill="clear" class="swf_approve" (click)="approveAction(previousStatus)">
            <ion-label>Approve</ion-label>
         </ion-button>
      </ion-col>
      <ion-col>
         <ion-button fill="clear" class="swf_reject" (click)="rejectAction(previousStatus)">
            <ion-label>Reject</ion-label>
         </ion-button>
      </ion-col>
   </ion-row>
   <ion-row style="padding: 5px;color: green">
      <ion-label *ngIf="approvereject && !allowApproveAction && selectedObject['systemAttributes']
         && selectedObject['systemAttributes']['fieldId'] == fieldIdValue">{{approveActionMessage}}</ion-label>
   </ion-row>
</ion-list>


<ion-list *ngIf="inputPageName=='view' && approverType=='non approver' && selectedObject['systemAttributes']">
   <ion-item no-padding lines="none">
      <ion-label no-margin="">
         <p>{{labelValue}} <ion-img src="assets/img/workflow-img.png"></ion-img></p>
         <ion-label no-margin="" style="display:flex;align-items: center;">
            <span style="margin-right: 5px">{{statusworkflow_fieldId[selectedObject[statusWorkFlowFieldId]]}}</span>
            <ion-icon *ngIf="selectedStatus['statusType'] && selectedStatus['statusType']=='Approved'
               && selectedObject['systemAttributes'] &&
               selectedObject['systemAttributes']['fieldId'] == fieldIdValue" position="stacked" name="checkmark-circle"
               class="checkmark-circle" slot="icon-only" color="success"></ion-icon>
            <ion-icon *ngIf="selectedStatus['statusType'] && selectedStatus['statusType']=='Reject'
               && selectedObject['systemAttributes'] &&
               selectedObject['systemAttributes']['fieldId'] == fieldIdValue" position="stacked" name="close-circle"
               class="checkmark-circle" slot="icon-only" color="danger"></ion-icon>
         </ion-label>
         <ion-label position="stacked" style="color: green;margin-top: 3px"
            *ngIf="selectedObject['systemAttributes'] && 
            selectedObject['systemAttributes']['fieldId'] == fieldIdValue && selectedStatus['statusType'] && selectedStatus['statusType']!=='Reject'">Workflow process initiated
         </ion-label>
      </ion-label>
   </ion-item>
</ion-list>


<ion-list *ngIf="inputPageName=='view' && selectedObject['systemAttributes'] == undefined">
   <ion-item no-padding lines="none">
      <ion-label no-margin="">
         <p>{{labelValue}} <ion-img src="assets/img/workflow-img.png"></ion-img></p>
         <ion-label no-margin="" style="display:flex;align-items: center;">
            <span style="margin-right: 5px">{{statusworkflow_fieldId[selectedObject[statusWorkFlowFieldId]]}}</span>
            <ion-icon *ngIf="selectedStatus['statusType'] && selectedStatus['statusType']=='Approved'" position="stacked" name="checkmark-circle"
            class="checkmark-circle" slot="icon-only" color="success"></ion-icon>
         <ion-icon *ngIf="selectedStatus['statusType'] && selectedStatus['statusType']=='Reject'" position="stacked" name="close-circle"
            class="checkmark-circle" slot="icon-only" color="danger"></ion-icon>
         </ion-label>
      </ion-label>
   </ion-item>
</ion-list>


<ion-list *ngIf="inputPageName=='entry'" class="status_wrk_flow_item">
   <ion-item no-padding lines="none">
      <ion-label class="swf_prev_label" position="stacked">
         {{labelValue}}
         <ion-label position="stacked" *ngIf="previousStatus['statusValue']!=selectedStatus['statusValue']">
            ({{previousStatus['statusLabel']}} )
         </ion-label>
         <!-- <ion-text color="danger" class="cs-mandatory">**</ion-text> -->
         <ion-img src="assets/img/workflow-img.png"></ion-img>
      </ion-label>
      <ion-input class="cs_ab_icon" readonly="true">
         {{selectedStatus['statusLabel']}}
         <ion-icon name="checkmark-circle" class="checkmark-circle" slot="icon-only" *ngIf="circlecheck" color="success">
         </ion-icon>
         <ion-icon name="close-circle" class="close-circle" slot="icon-only" *ngIf="circleclose" color="danger"></ion-icon>
      </ion-input>
      <ion-icon class="swf_close" name="close" slot="end" (click)="onPrev()" *ngIf="controlclose"></ion-icon>
      <ion-icon class="swf_arrow_down" (click)="countCheck($event,item)"
      [color]="(items[previousStatus['statusValue']]
      && items[previousStatus['statusValue']].length > 1 && previousStatus['isApproveInitiateEnabled']!='Y') ? 'dark' : 'medium'" name="arrow-dropdown" slot="end">
      </ion-icon>
   </ion-item>
   <ion-row class="swf_popover_apprej swf_popover_apprej_zero_leftp" *ngIf="activeforlessthenthree">
      <ion-list lines="none" class="swf_popover cs_ad_tbpad">
         <ion-item *ngFor="let item of selectedItems" (click)="itemClick(item)">
         <ion-label>{{item.statusLabel}}</ion-label>
         <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue!=selectedStatusValue)"
            name="radio-button-off" slot="start" color='primary'> </ion-icon>
         <ion-icon *ngIf="(item.statusValue==previousStatusValue && previousStatusValue==selectedStatusValue)"
            name="radio-button-on" slot="start" color='primary'> </ion-icon>
         <ion-icon *ngIf="(previousStatusValue!=selectedStatusValue && item.statusValue==selectedStatusValue)"
            name="radio-button-on" slot="start" color='primary'> </ion-icon>
         <ion-icon *ngIf="(item.statusValue!=previousStatusValue && item.statusValue!=selectedStatusValue)"
            name="radio-button-off" slot="start" color='primary'> </ion-icon>
         </ion-item>
      </ion-list>
   </ion-row>
   <ion-row class="swf_popover_apprej" *ngIf="approvereject && allowApproveAction && selectedObject['systemAttributes']
      && selectedObject['systemAttributes']['fieldId'] == fieldIdValue">
      <ion-col>
         <ion-button fill="clear" class="swf_approve" (click)="approveAction(previousStatus)">
            <ion-label>Approve</ion-label>
         </ion-button>
      </ion-col>
      <ion-col>
         <ion-button fill="clear" class="swf_reject" (click)="rejectAction(previousStatus)">
            <ion-label>Reject</ion-label>
         </ion-button>
      </ion-col>
   </ion-row>
   <ion-row style="padding: 5px;color: green">
      <ion-label *ngIf="approvereject && !allowApproveAction && selectedObject['systemAttributes']
         && selectedObject['systemAttributes']['fieldId'] == fieldIdValue">{{approveActionMessage}}</ion-label>
   </ion-row>
</ion-list>