<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-title>{{'crmsaleorderlines_d_m_search_list.Layout.crmsaleorderlines_d_m_search_list'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="clearAction()">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="applyAction()">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="closeAction()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="appUtility.isMobileResolution">
        <ion-searchbar margin-start="" style="width:calc(100% - 32px)" (ionInput)="getSearchedItems($event.target.value)" (ionCancel)="onCancel()" [animated]="true"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding="" class="cs-org-filter-form">
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.olineid'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144393']['olineid']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="" class="entry-o-info-loc-item" (dblclick)="showLookup_289353(pfm142973_289353['object'], 'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.product')">
                <ion-label position="stacked" style="display: inline-table;">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.product'| translate}}</ion-label>
                <ion-input type="text" *ngIf="!pfm142973_289353['label']" [(ngModel)]="pfm142973_289353['searchKey']">{{pfm142973_289353['label']}}</ion-input>
                <ion-input type="text" *ngIf="pfm142973_289353['label']" [(ngModel)]="pfm142973_289353['searchKey']">{{pfm142973_289353['label']}}</ion-input>
                <ion-icon *ngIf="!pfm142973_289353['label'] || pfm142973_289353['label'] == ''" (click)="showLookup_289353(pfm142973_289353['object'], 'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.product')" class="cs-side-icon" name="search" color="dark" slot="end"></ion-icon>
                <ion-icon *ngIf="pfm142973_289353['label'] && pfm142973_289353['label'] != ''" (click)="lookupClearAction(pfm142973_289353['object'])" class="cs-side-icon" name="close" color="dark" slot="end"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.partno'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144393']['partno']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal="" padding-bottom="">
            <ion-item no-padding="">
                <ion-label position="stacked">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.productdescription'| translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="filterFieldWithValues['pfm144393']['productdescription']['fieldValue']"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.listprice'| translate}} in INR</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['listprice']['betweenfields'][1]" inputmode="numeric"></ion-input>
            </ion-item>
            <ion-label>
                <p>{{filterFieldWithValues['pfm144393']['listprice']['betweenfields'][1] | currency:'₹':true:'1.1-2':'en-IN'}}</p>
            </ion-label>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['listprice']['betweenfields'][0]" inputmode="numeric"></ion-input>
            </ion-item>
            <ion-label>
                <p>{{filterFieldWithValues['pfm144393']['listprice']['betweenfields'][0] | currency:'₹':true:'1.1-2':'en-IN'}}</p>
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.quantity'| translate}}</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['quantity']['betweenfields'][1]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['quantity']['betweenfields'][0]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.taxpercentage'| translate}}</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['taxpercentage']['betweenfields'][1]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['taxpercentage']['betweenfields'][0]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="cs-rowflex cs-twocol-clear">
        <ion-label position="stacked" class="cs-lable-seprate">{{'crmsaleorderlines_d_m_search_list.Element.crmsaleorderlines.discountpercentage'| translate}}</ion-label>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['discountpercentage']['betweenfields'][1]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
        <ion-item class="cs-noboarder">
            <ion-badge color="success" class="cs-filter-to">to</ion-badge>
        </ion-item>
        <ion-col padding-horizontal="" padding-bottom="" class="cs-org-number">
            <ion-item no-padding="">
                <ion-input type="number" [(ngModel)]="filterFieldWithValues['pfm144393']['discountpercentage']['betweenfields'][0]" inputmode="numeric"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>