<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtilityConfig.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtilityConfig.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'crmsaleorderlines_d_m_search_list.Layout.crmsaleorderlines_d_m_search_list'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="addButton_1571942_Onclick()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button (click)="filterAction()">
                <ion-icon [ngClass]="{'icon-mat-filter_list_alt': filterApplied, 'icon-mat-not-filtered_list': !filterApplied}"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding="" *ngIf="appUtilityConfig.isMobileResolution">
    <ion-list *ngIf="filteredEventTriggeredList.length >= 1  && !isSkeletonLoading" style="margin-bottom: 0px !important">
        <ion-header class="cs-list-tool-color cs-list-ion-header">
            <ion-label>Recent</ion-label>
        </ion-header>
        <ion-item *ngFor="let object of filteredEventTriggeredList; let i= index" (click)="onItemTap(object)" lines="none" class="main-list-items cs-list-ion-vitual-scroll">
            <ion-buttons slot="end">
                <cs-whocolumn-icon [setIcon]="" [setIconClass]="" [setInfo]="object"></cs-whocolumn-icon>
            </ion-buttons>
            <ion-label no-margin="">
                <h2>{{object | cspfm_data_display:listTableFieldInfoArray[0]}}</h2>
                <h3>{{object | cspfm_data_display:listTableFieldInfoArray[1]}}</h3>
                <p text-wrap="">{{object | cspfm_data_display:listTableFieldInfoArray[2]}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="filteredResultList && filteredResultList.length === 0 && eventsTriggeredList.length === 0 && !isSkeletonLoading" class="cs-tc" style="margin-top:16%;"><img src='assets/img/no_record_found.png'></div>
    <ion-virtual-scroll [items]="filteredResultList" *ngIf="!isSkeletonLoading">
        <ion-item *virtualItem="let object" (click)="onItemTap(object)" lines="none" class="main-list-items">
            <ion-buttons slot="end" class="cs-list-page-info-icon">
                <cs-whocolumn-icon [setIcon]="" [setIconClass]="" [setInfo]="object"></cs-whocolumn-icon>
            </ion-buttons>
            <ion-label no-margin="">
                <h2>{{object | cspfm_data_display:listTableFieldInfoArray[0]}}</h2>
                <h3>{{object | cspfm_data_display:listTableFieldInfoArray[1]}}</h3>
                <p text-wrap="">{{object | cspfm_data_display:listTableFieldInfoArray[2]}}</p>
            </ion-label>
        </ion-item>
    </ion-virtual-scroll>
    <div *ngIf="isSkeletonLoading && offlineDbIndexCreation.isIndexCreated">
        <ion-list>
            <ion-item *ngFor="let a of 'skeletonssss'.split('')">
                <ion-label>
                    <h4>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h4>
                    <h5>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h5>
                    <h6>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </h6>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div class="indexNotComplete" *ngIf="!offlineDbIndexCreation.isIndexCreated && isSkeletonLoading">
        <ion-text>
            <h3>{{offlineDbIndexCreation.indexCreationProcessingMsg}}</h3>
        </ion-text>
    </div>
</ion-content>
<ion-content *ngIf="!appUtilityConfig.isMobileResolution">
    <div *ngIf="!isSkeletonLoading" style="height:100%">
        <ngx-datatable id="table" class="material server-scrolling-demo cs-ngx-datatable" [rows]="filteredResultList" [columnMode]="columnMode.force" [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="false" [scrollbarV]="true" [scrollbarH]="true" (scroll)="onScroll($event)" (activate)="onTableEventChanged($event)" style="height: 100%;">
            <ngx-datatable-column *ngFor="let gridTableFieldInfo of gridTableFieldInfoArray" name="{{gridTableFieldInfo['label'] | translate}}" prop="{{gridTableFieldInfo['prop']}}">
                <ng-template let-row="row" ngx-datatable-cell-template="">{{ row | cspfm_data_display: gridTableFieldInfo}}</ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
    <ion-progress-bar style="margin-top: 5px; margin-bottom: 5px;" *ngIf="isLoading && !isSkeletonLoading" type="indeterminate"></ion-progress-bar>
    <div *ngIf="isSkeletonLoading   && offlineDbIndexCreation.isIndexCreated">
        <ion-list>
            <ion-item *ngFor="let a of 'skeletonssss'.split('')">
                <ion-label>
                    <h4>
                        <ion-skeleton-text animated="" style="width: 50%"></ion-skeleton-text>
                    </h4>
                    <h5>
                        <ion-skeleton-text animated="" style="width: 80%"></ion-skeleton-text>
                    </h5>
                    <h6>
                        <ion-skeleton-text animated="" style="width: 100%"></ion-skeleton-text>
                    </h6>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>