ion-icon {
    font-size: 25px;
}
.cs-box-menu-active.cs-box-menu{
    top:0;
    transition: .5s all;
}

.cs-box-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top:-100%;
    transition: .5s all;
    .cs-bx-mul{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .cs-bx-m-each{
        width: 250px;
        border: 1px solid #eee;
        border-radius: 3px;
        display: inline-block;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin: 10px;
        ion-list{
            width: 100%;
            padding:0;
            ion-list-header{
                padding: 0;
                justify-content: start;
                min-height: 38px;
                background-color:#eeeeee;
                .cs-bx-m-hico{
                    width: 38px;
                    height: 38px;
                    border: 1px solid #c1c1c1;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #c1c1c1;
                    border-color: #c1c1c1;
                    ion-icon{
                        color: #ffffff;
                    }
                }
                ion-label{
                    width: 78%;
                    margin-left: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    text-align: left;
                }
            }
            .cs-bx-m-sub-m{
                height: 210px;
                overflow: auto;
            }
            .cs-bx-m-subl{
                display: flex;
                align-items: center;
                padding: 10px;
                ion-icon{
                    font-size: 18px;
                }
                ion-label{
                    font-size: 14px;
                    margin: 0 0 0 10px;
                }
            }
        }
        &.cs-menu-c-one{
            ion-list{
                ion-list-header{
                    background-color: #f5f9ff;
                    .cs-bx-m-hico{
                        background-color: #84c2e9;
                        border-color:#68b6ea;
                    }
                }
            }
        }
        &.cs-menu-c-two{
            ion-list{
                ion-list-header{
                    background-color: #fff6f1;
                    .cs-bx-m-hico{
                        background-color: #efb596;
                        border-color:#deab8f;
                    }
                }
            }
        }
        &.cs-menu-c-three{
            ion-list{
                ion-list-header{
                    background-color: #f5fef3;
                    .cs-bx-m-hico{
                        background-color: #bee0b7;
                        border-color:#aadaa0;
                    }
                }
            }
        }
        &.cs-menu-c-four{
            ion-list{
                ion-list-header{
                    background-color: #f5f5ff;
                    .cs-bx-m-hico{
                        background-color: #9499ed;
                        border-color:#979aca;
                    }
                }
            }
        }
        &.cs-menu-c-five{
            ion-list{
                ion-list-header{
                    background-color: #fef5f5;
                    .cs-bx-m-hico{
                        background-color: #ef9394;
                        border-color:#e07677;
                    }
                }
            }
        }
        &.cs-menu-c-six{
            ion-list{
                ion-list-header{
                    background-color: #fff5fa;
                    .cs-bx-m-hico{
                        background-color: #f297c3;
                        border-color:#cca0b5;
                    }
                }
            }
        }
        &.cs-menu-c-seven{
            ion-list{
                ion-list-header{
                    background-color: #fef5ec;
                    .cs-bx-m-hico{
                        background-color: #fbc691;
                        border-color:#efbf8f;
                    }
                }
            }
        }
        &.cs-menu-c-eight{
            ion-list{
                ion-list-header{
                    background-color: #fff5cb;
                    .cs-bx-m-hico{
                        background-color: #fae591;
                        border-color:#f3d560;
                    }
                }
            }
        }
        &.cs-menu-c-nine{
            ion-list{
                ion-list-header{
                    background-color: #fef9f3;
                    .cs-bx-m-hico{
                        background-color: #d9c8b6;
                        border-color:#c7b5a2;
                    }
                }
            }
        }
    }
}
    
