<ion-split-pane when="xl">
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
        <!-- <ion-icon name=contact class="username-fontsize"></ion-icon> John Smith -->
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- Dynamic menu creation -->
      <ion-list *ngFor="let group of allMenuGroups">
        <ion-list *ngIf="this.activeMenuGroups.indexOf(group.menuGroupId)>-1" >
          <ion-list-header class="list-header" *ngIf="group.menuGroupDisplayName.length">{{group.menuGroupDisplayName | translate}}</ion-list-header>
          <button ion-item menuClose *ngFor="let p of group.menuItems" (click)="openPage(p)"  class="text-color">
            <ion-icon isActive ="false" class="sidemenu-fontsize {{p.icon}}"></ion-icon> 
            {{p.title | translate}}
          </button>
        </ion-list>
      </ion-list>

      <!-- Map menu creation -->
      <ion-list *ngIf="isRequiredToShowComponent && appConfig.configuration.defaultMenu.isMapEnable">
          <ion-list-header class="list-header">Map</ion-list-header>
          <button menuClose ion-item *ngFor="let p of map" (click)="openPage(p)" class="text-color">
            <ion-icon  isActive ="false" class="sidemenu-fontsize {{p.icon}}"></ion-icon> {{p.title}}
          </button>
        </ion-list>

        <!-- Calender menu creation -->
      <ion-list *ngIf="isRequiredToShowComponent && appConfig.configuration.defaultMenu.isCalendarEnable">
        <ion-list-header class="list-header">Calender</ion-list-header>
        <button menuClose ion-item *ngFor="let p of calender" (click)="openPage(p)" class="text-color">
          <ion-icon isActive ="false" class="sidemenu-fontsize {{p.icon}}"></ion-icon> {{p.title}}
        </button>
      </ion-list>

      <!-- Setting and exit menu creation -->
      <ion-list>
        <ion-list-header class="list-header" >Settings</ion-list-header>
        <button menuClose ion-item *ngFor="let p of defaultMenu" (click)="openPage(p)" class="text-color">
          <ion-icon isActive ="false"  class="sidemenu-fontsize {{p.icon}}"></ion-icon> {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
