<ion-split-pane  *ngIf="appUtilityConfig.isMobile">
    <ion-menu  class="cs-bg-whitemenu">
      <ion-header no-border>
        <ion-toolbar color="primary" class="menu-toolbar">
            <ion-avatar slot="start" margin class="cs-tool-avatar">
              <img src="{{mobileProfilePic}}" onerror="this.src='assets/img/user_icon.png'">
            </ion-avatar>
            <ion-label class="cs-tool-label">
              <h2 no-margin no-padding>{{loggedUserDetail['username']}}</h2>
              <p no-margin no-padding>{{loggedUserDetail['email_id']}}</p>
            </ion-label>
        </ion-toolbar>
      </ion-header> 
      <!-- <ion-toolbar class="menu-toolbar" color="primary">
        <div class="cs-tool-content-center">
          <ion-avatar slot="start" class="cs-tool-avatar">
            <img src="/assets/img/download.jpg">
          </ion-avatar>
        </div>
        <ion-label class="cs-tool-label">
          <h2 no-margin no-padding>Dhoni</h2>
          <p no-padding>dhoni@gmail.com</p>
        </ion-label>
        <div class="divider"></div>
      </ion-toolbar> -->
      <ion-content class="menu-content">
          <ion-list *ngFor="let group of allMenuGroups" no-padding class="menu-content-list">
            <ion-list-header [ngClass]="group['expand'] == true ? 'menu-list-header fadeIn animated' : 'menu-list-header fadeIn animated'" color="light" *ngIf="group.menuGroupDisplayName.length" (click) = "closeMenu(group)">
              <ion-icon *ngIf="group['icon']" class="{{group['icon']}}"></ion-icon>
              <ion-title>{{group.menuGroupDisplayName | translate}}</ion-title>
              <ion-icon  *ngIf="group['expand']" class="icon-mat-keyboard_arrow_up"></ion-icon>
              <ion-icon  *ngIf="!group['expand']" class="icon-mat-keyboard_arrow_down"></ion-icon>
            </ion-list-header>
            <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of group.menuItems;">
              <ion-list [ngClass]="group['expand'] == true ? 'menu-content-list fadeIn animated' : 'menu-content-list fadeIn animated'"  *ngIf="this.activeMenuGroups.indexOf(group.menuGroupId)>-1 && group['expand']" menuClose (click)="openPage(p)">
                <ion-item class="menu-content-item" ion-item slot="start" expand="full" lines="none" style="cursor: pointer;">
                  <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}"></ion-icon>
                  {{p.title | translate}}
                </ion-item>
              </ion-list>
            </ion-menu-toggle>
          </ion-list>
    
          <!-- Calendar Menu -->
          <ion-list class="mc-header-list" *ngIf="isRequiredToShowComponent && appConfig.configuration.defaultMenu.isCalendarEnable">
            <ion-list-header class="menu-list-header" color="light">
              <ion-title>Calendar</ion-title>
            </ion-list-header>
            <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of calender;">
              <ion-list class="menu-content-list">
                <ion-item ion-item class="menu-content-item" slot="start" expand="full" menuClose (click)="openPage(p)" lines="none">
                  <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}"></ion-icon>
                  {{p.title | translate}}
                </ion-item>
              </ion-list>
            </ion-menu-toggle>
          </ion-list>
    
          <!-- Map Menu -->
          <ion-list class="mc-header-list" *ngIf="isRequiredToShowComponent && appConfig.configuration.defaultMenu.isMapEnable">
            <ion-list-header class="menu-list-header" color="light">
              <ion-title>Map</ion-title>
            </ion-list-header>
            <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of map;">
              <ion-list class="menu-content-list">
                <ion-item ion-item class="menu-content-item" slot="start" expand="full" menuClose (click)="openPage(p)" lines="none">
                  <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}"></ion-icon>
                  {{p.title | translate}}
                </ion-item>
              </ion-list>
            </ion-menu-toggle>
          </ion-list>
    
          <!-- Setting and exit menu creation -->
          <ion-list class="menu-content-list">
            <ion-list-header [ngClass]="defaultGroupObj['expand'] == true ? 'menu-list-header fadeIn animated' : 'menu-list-header fadeIn animated'" color="light" (click) = "closeMenu(defaultGroupObj)">
              <ion-icon class="icon-mat-settings"></ion-icon>
              <ion-title>Settings</ion-title>
              <ion-icon  *ngIf="defaultGroupObj['expand']" class="icon-mat-keyboard_arrow_up"></ion-icon>
            <ion-icon  *ngIf="!defaultGroupObj['expand']" class="icon-mat-keyboard_arrow_down"></ion-icon>
            </ion-list-header>
            <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of defaultGroupObj['menuItems'];">
              <ion-list [ngClass]="defaultGroupObj['expand'] == true ? 'menu-content-list fadeIn animated' : 'menu-content-list fadeIn animated'"  *ngIf = "defaultGroupObj['expand']">
                <ion-item ion-item class="menu-content-item" slot="start" expand="full" menuClose (click)="openPage(p)" lines="none" style="cursor: pointer;">
                  <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}" class="icon-mat-home"></ion-icon>
                  {{p.title | translate}}
                </ion-item>
              </ion-list>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

  <ion-menu  *ngIf="appUtilityConfig.enableMenu && !appUtilityConfig.isMobile && appConfig.configuration.isGridMenuEnabled == false" class="cs-bg-whitemenu">
    <!-- <ion-header no-border>
      <ion-toolbar color="primary" class="menu-toolbar">
          <ion-avatar slot="start" margin class="cs-tool-avatar">
            <img src="assets/img/user_icon.png">
          </ion-avatar>
          <ion-label class="cs-tool-label">
            <h2 no-margin no-padding>{{loggedUserDetail['username']}}</h2>
            <p no-margin no-padding>{{loggedUserDetail['email_id']}}</p>
          </ion-label>
      </ion-toolbar>
    </ion-header>  -->
    <!-- <ion-toolbar class="menu-toolbar" color="primary">
      <div class="cs-tool-content-center">
        <ion-avatar slot="start" class="cs-tool-avatar">
          <img src="/assets/img/download.jpg">
        </ion-avatar>
      </div>
      <ion-label class="cs-tool-label">
        <h2 no-margin no-padding>Dhoni</h2>
        <p no-padding>dhoni@gmail.com</p>
      </ion-label>
      <div class="divider"></div>
    </ion-toolbar> -->
    <ion-content class="menu-content">
        <ion-list *ngFor="let group of allMenuGroups" no-padding class="menu-content-list">
          <ion-list-header [ngClass]="group['expand'] == true ? 'menu-list-header fadeIn animated' : 'menu-list-header fadeIn animated'" color="light" *ngIf="group.menuGroupDisplayName.length" (click) = "closeMenu(group)">
            <ion-icon *ngIf="group['icon']" class="{{group['icon']}}"></ion-icon>
            <ion-title>{{group.menuGroupDisplayName | translate}}</ion-title>
            <ion-icon  *ngIf="group['expand']"  class="icon-mat-keyboard_arrow_up"></ion-icon>
            <ion-icon  *ngIf="!group['expand']" class="icon-mat-keyboard_arrow_down"></ion-icon>
          </ion-list-header>
          <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of group.menuItems;">
            <ion-list [ngClass]="group['expand'] == true ? 'menu-content-list fadeIn animated' : 'menu-content-list fadeIn animated'"  *ngIf="this.activeMenuGroups.indexOf(group.menuGroupId)>-1 && group['expand']" menuClose (click)="openPage(p)">
              <ion-item class="menu-content-item" ion-item slot="start" expand="full" lines="none" style="cursor: pointer;">
                <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}"></ion-icon>
                {{p.title | translate}}
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-list>
  
        <!-- Calendar Menu -->
        <ion-list class="mc-header-list" *ngIf="isRequiredToShowComponent && appConfig.configuration.defaultMenu.isCalendarEnable">
          <ion-list-header class="menu-list-header" color="light">
            <ion-title>Calendar</ion-title>
          </ion-list-header>
          <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of calender;">
            <ion-list class="menu-content-list">
              <ion-item ion-item class="menu-content-item" slot="start" expand="full" menuClose (click)="openPage(p)" lines="none">
                <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}"></ion-icon>
                {{p.title | translate}}
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-list>
  
        <!-- Map Menu -->
        <ion-list class="mc-header-list" *ngIf="isRequiredToShowComponent && appConfig.configuration.defaultMenu.isMapEnable">
          <ion-list-header class="menu-list-header" color="light">
            <ion-title>Map</ion-title>
          </ion-list-header>
          <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of map;">
            <ion-list class="menu-content-list">
              <ion-item ion-item class="menu-content-item" slot="start" expand="full" menuClose (click)="openPage(p)" lines="none">
                <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}"></ion-icon>
                {{p.title | translate}}
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-list>
  
        <!-- Setting and exit menu creation -->
        <!-- <ion-list class="menu-content-list">
          <ion-list-header [ngClass]="defaultGroupObj['expand'] == true ? 'menu-list-header fadeIn animated' : 'menu-list-header fadeIn animated'" color="light" (click) = "closeMenu(defaultGroupObj)">
            <ion-icon class="icon-mat-settings"></ion-icon>
            <ion-title>Settings</ion-title>
            <ion-icon  *ngIf="defaultGroupObj['expand']"  class="icon-mat-keyboard_arrow_up"></ion-icon>
            <ion-icon  *ngIf="!defaultGroupObj['expand']" class="icon-mat-keyboard_arrow_down"></ion-icon>
          </ion-list-header>
          <ion-menu-toggle class="menu-list-item" auto-hide="false" *ngFor="let p of defaultGroupObj['menuItems'];">
            <ion-list [ngClass]="defaultGroupObj['expand'] == true ? 'menu-content-list fadeIn animated' : 'menu-content-list fadeIn animated'"  *ngIf = "defaultGroupObj['expand']">
              <ion-item ion-item class="menu-content-item" slot="start" expand="full" menuClose (click)="openPage(p)" lines="none" style="cursor: pointer;">
                <ion-icon slot="start" class="sidemenu-fontsize {{p.icon}}" class="icon-mat-home"></ion-icon>
                {{p.title | translate}}
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-list> -->
      </ion-content>
  </ion-menu>
  <div *ngIf="appUtilityConfig.isMobile == false && appConfig.configuration.isGridMenuEnabled == true  && appConfig.configuration.isGridMenuEnabled == true" id="cs-box-menu" class="cs-box-menu" [ngClass]="slidemenuopen ? 'cs-box-menu-active' : ''">
    <ion-list class="cs-bx-mul">
       <div *ngFor="let group of allMenuGroups; index as menucolorindex" class="cs-bx-m-each {{menuClasses[menucolorindex]}}">
          <ion-list>
              <ion-list-header *ngIf="group.menuGroupDisplayName.length">
                <div class="cs-bx-m-hico">
                    <ion-icon class="icon-mat-home"></ion-icon>
                </div>
                <ion-label>{{group.menuGroupDisplayName | translate}}</ion-label>
              </ion-list-header>
              <div class="cs-bx-m-sub-m">
                <div class="cs-bx-m-subl" *ngFor="let p of group.menuItems;" (click)="openPage(p)">
                    <div>
                        <ion-icon class="{{p.icon}}"></ion-icon>
                    </div>
                    <ion-label>{{p.title | translate}}</ion-label>
                </div>
            </div>
          </ion-list>
      </div>
  </ion-list>
  </div>
  <ion-router-outlet *ngIf="appUtilityConfig.isMobile == false" main></ion-router-outlet>