
  <ion-content padding *ngIf="isConfigurationFailed">
      <ion-grid>
          <ion-row>
            <ion-col text-center>
              <p>{{ failureMessage}}</p>
            </ion-col>
          </ion-row>
        
          <ion-row style="flex-grow: 1;">
            <ion-col text-center>
              <p>{{ failureDescription }}</p>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col text-center>
                <ion-button *ngIf="this.appUtilityObj.isMobile" (click)="gotoApplist()">Exit</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>