<ion-list class="cs-whocolumn">
  <div>
  <ion-item *ngFor="let value of values">
    <ion-avatar slot="start">
      <img src={{value.icon}} onerror="this.src='assets/img/user_icon.png';">
    </ion-avatar>
    <ion-label>
      <p>{{value['label1']}}</p>
      <h3 style="white-space: pre-wrap;">{{value['label2']}}</h3>
      <h2 style="white-space: pre-wrap;">{{value['label3']}}</h2>
    </ion-label>
  </ion-item>
</div>
</ion-list>

