// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import 'assets/styles/settingpage.scss';
@import 'assets/mat-icons/style.scss';
@import 'assets/styles/detail_view.scss';
@import 'assets/styles/listpreview.scss';
@import 'assets/styles/hl_list.scss';
@import 'assets/styles/entry.scss';
@import 'assets/styles/lookuppage.scss';
@import 'assets/styles/list.scss';
@import 'assets/styles/theme.scss';
@import 'assets/styles/menu.scss';
@import 'assets/styles/filter.scss';
@import 'assets/styles/attachment_document.scss';
@import 'assets/styles/whocolumn.scss';
@import 'assets/styles/status_work_flow.scss';
@import 'assets/styles/homepage.scss';
@import 'assets/styles/history.scss';
@import 'assets/styles/app.scss';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "assets/styles/grid_datatable.scss";
@import "assets/styles/web_list.scss";
@import 'assets/styles/bottomdrawer.scss';

// Slick-Grid css
// @import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/flatpickr/dist/flatpickr.css";
@import "../node_modules/angular-slickgrid/lib/multiple-select/multiple-select.css";
@import "../node_modules/angular-slickgrid/styles/css/slickgrid-theme-bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.my-ion-list-docked {
    max-height: calc(50vh - 30px);
    // overflow-y: scroll;
}
.my-ion-list-top {
    max-height: calc(100vh - 165px);
    overflow-y: scroll;
}
.my-ion-list-top-browser{
    max-height: calc(100vh - 205px);
    overflow-y: scroll;
}
.my-ion-list-top-inner {
    max-height: calc(100vh - 185px);
    overflow-y: scroll;
}
.my-ion-list-top-browser-inner{
    max-height: calc(100vh - 185px);
    overflow-y: scroll;
}
.cs-tc {
    text-align: center;
}
.popover-content.sc-ion-popover-ios {
    width: 220px !important;
}

.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 22%;
}
.sidemenu-fontsize {
    padding-right: 0px !important;
    margin-right: 10px
}
.custom-skeleton ion-skeleton-text { 
    line-height: 13px; 
} 
.custom-skeleton ion-skeleton-text:last-child { 
    margin-bottom: 5px; 
}
.skeleton-text-animated {
    border-radius: 25px;
}
    
.attachement_select {
    position: relative;
    height: 150;
    width: 200;
    top:100;
    right: 100;
}
.cs-doc-alert{
    .cs-ani-alert{
        padding: 15px;
        border-radius: 10px;
        width: 250px;
        height: 300px;
        border: solid 1px #ccc;
        position: fixed;
        right: 15px;
        top: 7%;
        background: #fff;
        z-index: 10000;
        p{
            font-size: 24px;
            
        }
    }

    .cs-ani-overlay{
        &:after{
            content: "";
            background: #000;
            opacity: 0.5;
            position: fixed;
            left:0;
            right:0;
            top: 0;
            bottom:0;
            z-index: 999;
        }
    }
}

.cs-filter-alert{
    .cs-ani-alert{
        padding: 15px;
        border-radius: 10px;
        width: 200px;
        height: 330px;
        border: solid 1px #ccc;
        position: fixed;
        right: 30px;
        top: 7%;
        background: #fff;
        z-index: 10000;
        p{
            font-size: 24px;
        
        }
    }

    .cs-ani-overlay {
        &:after {
            content: "";
            background: #000;
            opacity: 0.5;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 999;
        }
    }

}

.cs-radio-group-cl {
    ion-item:last-child {
        --border-style: none;
    }
}

.list-ios {
    .cs-radio-group-cl {
        ion-item:last-child {
            --border-style: none;
            border-bottom: 0.5px solid !important;
        }
    }
}

.entry-page-content cs-status-workflow {
    ion-list {
        ion-item {
            ion-label {
                display: inline-flex !important;
                align-items: center;
                margin-top: 0px;
            }
        }
    }
}

.server-scrolling-demo {
    height: calc(100vh - 110px);
}

.mobileShow {
    display: none;
  }
  
  /* Smartphone Portrait and Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileShow {
      display: inline;
    }
  }
  
  .mobileHide {
    display: inline;
  }
  
  /* Smartphone Portrait and Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileHide {
      display: none;
    }
  }

.datatable-header-cell {
    .datatable-header-cell-template-wrap {
        font-size: 15px;
        font-weight: 800;

        .resize-handle {
            border-right: 0px !important;
        }
    }
}


//new 26/02/2020
.mar {
    margin-right: 0px !important;
}


// .cs-tool-web-mov-top{
//     .popover-content{
//         top:9px!important;
//         width:220px;
//         overflow: inherit;
//         &:before{
//             content: "";
//             width: 0;
//             height: 0;
//             border-left: 5px solid transparent;
//             border-right: 5px solid transparent;
//             border-bottom: 5px solid #dbdbdb;
//             position: absolute;
//             z-index: 1;
//             left: 183px;
//             top: -6px; 
//         }
//         &:after{
//             content: "";
//             width: 0;
//             height: 0;
//             border-left: 5px solid transparent;
//             border-right: 5px solid transparent;
//             border-bottom: 5px solid #fff;
//             position: absolute;
//             z-index: 1;
//             left: 183px;
//             top: -6px; 
//         }
//     }
// }


// user info dropdown 

.cs-user-info {
    position: fixed;
    z-index: 99;
    width: 213px;
    right: 13px;
    height: 236px;
    background: black;
    top: 52px;
    box-shadow: 0 0 10px #ddd;

    &:after {
        position: absolute;
        z-index: 99;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid white;
        content: "";
        top: -5px;
        // left: 170px;
        right: 0;
        margin-right: 28px;
        box-shadow: 0 0 10px #ddd;
    }

    .cs-popover-avatar {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cs-user-name {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 0;
        margin-bottom: 5px;
    }

    .cs-user-mailid {
        font-size: 11px;
        color: gray;
        font-weight: 100;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }

    .cs-user-borderset {
        border-bottom: 1px solid lightgray;
        margin-left: 64px;
        width: calc(100% - 128px);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cs-user-manage {
        margin: 0;
        padding: 0;
        font-size: 11px;
        text-align: center;
    }

    .cs-user-manage-logo {
        width: 70px;
        height: 12px;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        img {
            max-height: 100%;
        }
    }

    .cs-user-sel-option {
        display: block;
        text-align: center;
        .cs-user-sel-option-icon {
            margin: 10px 20px 10px 27px;
            color: var(--ion-color-primary);
        }

        .cs-user-sel-option-icon-divider {
            height: 20px;
            width: 1px;
            margin-top: 10px;
            display: inline-block;
            vertical-align: top;
            background: lightgray;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
.cs-detail-first-item{
    background: #f1f8ff;
    background:none!important;
    --background: none !important;
    --ion-background-color: none !important;
}

.cs-colors-padiing-set{
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}
.cs-ta-c{
    text-align: center;
}
.cs-cur{
    cursor: pointer;
}