<ion-button *ngIf="!iconName && !iconClass" (click)="iconClick($event)">
    <ion-icon name="ios-information-circle-outline" slot="icon-only"></ion-icon>
</ion-button>
<ion-button *ngIf="iconName || (iconName && iconClass)" (click)="iconClick($event)">
    <ion-icon name="{{iconName}}" slot="icon-only"></ion-icon>
</ion-button>
<ion-button *ngIf="iconClass && !iconName" (click)="iconClick($event)">
    <ion-icon class="{{iconClass}}" slot="icon-only"></ion-icon>
</ion-button>