<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'LineitemCreatepage_MOBILE_Grid.Layout.LineitemCreatepage_MOBILE_Grid'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header no-border="" padding-top="" padding-start="" class="header-listpreview-sub-header">
    <h5 no-margin="" padding-start="">{{parentObjValue}}</h5>
    <ion-label>
        <ion-item lines="none">
            <P no-margin="" padding-bottom="">{{parentObjLabel | translate}}
                <ion-text color="danger" class="cs-mandatory">*</ion-text>
            </P>
        </ion-item>
    </ion-label>
</ion-header>
<ion-content #parentContent="" padding="" class="cs-list-preview scrollHeight" style="height:100%;">
    <ion-list no-padding="" class="hl-scroll-list-text" [ngClass]="{'cs-scroll-height-dockerstatelistpreview' : drawerComponentCurrentState == 1 , 'cs-scroll-height-minimumstate' : drawerComponentCurrentState == 0 }">
        <ion-row style="padding-bottom: 25px;">
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_orderid']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm144373_orderid']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_orderstatus']['label'] | translate}}</p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm144373_orderstatus']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <p>{{gridFieldInfo['pfm144373_orderconfirmeddate']['label'] | translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </p>
                        <ion-label no-margin="">{{parentObject | cspfm_data_display: gridFieldInfo['pfm144373_orderconfirmeddate']}}</ion-label>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-bottom-drawer [(state)]="drawerComponentCurrentState" [minimumHeight]="110" [dockedHeight]="drawerComponentDockedHeight" [shouldBounce]="true" [distanceTop]="150" class="cs-list-preview-btdrawer icon-handle">
    <div class="cs-btdrawer-icon-handle">
        <ion-icon class="cs-btdrawer-icon" [ngClass]="(drawerComponentCurrentState == 0 || drawerComponentPreviousState == 0) ? ' icon-mat-keyboard_arrow_up' : (drawerComponentCurrentState == 2 || drawerComponentPreviousState == 2) ? 'icon-mat-keyboard_arrow_down' : 'icon-mat-keyboard_arrow_down'" (click)="dockerButtonOnClick()" margin-bottom=""></ion-icon>
    </div>
    <ion-content #childContent="" class="entry-page-content" [ngClass]="{ 'cs-scroll-height-dockerstate-hl_listpreviewpage' : drawerComponentCurrentState == 1 , 'cs-scroll-height-topstate-hl_listpreviewpage' : drawerComponentCurrentState == 2 }">
        <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading" style="margin-top: 20px !important; margin-left: 16px;width: calc(100% - 32px);border: 1px solid #d7d8da;padding-top: 0px !important;">
            <ion-list no-padding="">
                <ion-row padding-horizontal="" padding-bottom="">
                    <ion-col formGroupName="pfm144393" id="pfm144393_olineid" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.olineid'| translate}}</ion-label>
                            <ion-input type="text" disabled="disabled">{{obj_pfm144393['olineid']}}</ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_partno" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['partno'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" class="mandatory-field">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.partno'| translate}}
                                <ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label>
                            <ion-input type="text" [(ngModel)]="obj_pfm144393['partno']" formControlName="partno" required=""></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm144393').get('partno').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Part No</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_productdescription" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['productdescription'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.productdescription'| translate}}</ion-label>
                            <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="productdescription" [(ngModel)]="obj_pfm144393.productdescription"></ion-textarea>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm144393').get('productdescription').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Product Description</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_quantity" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['quantity'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" class="mandatory-field">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.quantity'| translate}}
                                <ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label>
                            <ion-input type="number" [(ngModel)]="obj_pfm144393['quantity']" formControlName="quantity" required=""></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm144393').get('quantity').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Quantity</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" [ngClass]="objResultMap.has('pfm144393') && objResultMap.get('pfm144393').status=='SUCCESS'? 'remove-Bottom-line' : ''" id="pfm144393_product" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                        <ion-item no-padding="" class="entry-o-info-loc-item" (dblclick)="(objResultMap.has('pfm144393') && objResultMap.get('pfm144393').status!='SUCCESS') ||objResultMap.size==0 ? showLookup_289353('pfm142973_289353','LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.product',['name','listprice','productname','itemno']) : '' ">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.product'| translate}}
                                <ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label>
                            <ion-input type="text" *ngIf="!obj_pfm142973_289353['product']" [(ngModel)]="pfm142973_289353_searchKey" formControlName="pfm142973_289353_searchKey">{{obj_pfm142973_289353['name']}}</ion-input>
                            <ion-input type="text" *ngIf="obj_pfm142973_289353['product']" [(ngModel)]="pfm142973_289353_searchKey" formControlName="pfm142973_289353_searchKey">{{obj_pfm142973_289353['name']}}</ion-input>
                            <ion-icon *ngIf="obj_pfm144393['pfm142973_289353'] == null" slot="end" name="search" (click)="showLookup_289353('pfm142973_289353','LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.product',['name','listprice','productname','itemno'])" color="dark" item-right=""></ion-icon>
                            <ion-icon *ngIf="obj_pfm144393['pfm142973_289353'] != null" slot="end" name="close" (click)="lookupClearAction(obj_pfm144393,'pfm142973_289353',obj_pfm142973_289353,'name','obj_pfm144393_pfm142973_289353')" color="dark" item-right=""></ion-icon>
                        </ion-item>
                        <ion-row padding-horizontal="" class="entry-o-info-loc-row" *ngIf="!obj_pfm142973_289353['name'] && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Product</p>
                        </ion-row>
                    </ion-col>
                    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                        <ion-item no-padding="" class="cs-entry-item-disabled">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmproduct.productname'| translate}}</ion-label>
                            <ion-input type="text" [readonly]="true" *ngIf="obj_pfm144393['pfm142973_289353'] || obj_pfm144393['pfm142973']">{{obj_pfm142973_289353['productname']}}</ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                        <ion-item no-padding="" class="cs-entry-item-disabled">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmproduct.listprice'| translate}}</ion-label>
                            <ion-input type="text" [readonly]="true" *ngIf="obj_pfm144393['pfm142973_289353'] || obj_pfm144393['pfm142973']">{{obj_pfm142973_289353['listprice']}}</ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                        <ion-item no-padding="" class="cs-entry-item-disabled">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmproduct.itemno'| translate}}</ion-label>
                            <ion-input type="text" [readonly]="true" *ngIf="obj_pfm144393['pfm142973_289353'] || obj_pfm144393['pfm142973']">{{obj_pfm142973_289353['itemno']}}</ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_taxpercentage" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['taxpercentage'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.taxpercentage'| translate}}</ion-label>
                            <ion-input type="number" [(ngModel)]="obj_pfm144393['taxpercentage']" formControlName="taxpercentage"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm144393').get('taxpercentage').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Tax Percentage</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_discountpercentage" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['discountpercentage'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.discountpercentage'| translate}}</ion-label>
                            <ion-input type="number" [(ngModel)]="obj_pfm144393['discountpercentage']" formControlName="discountpercentage"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm144393').get('discountpercentage').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Discount Percentage</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_listprice" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['listprice'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item no-padding="" class="mandatory-field">
                            <ion-label position="stacked">{{'LineitemCreatepage_MOBILE_Grid.Element.crmsaleorderlines.listprice'| translate}} in INR<ion-text color="danger" class="cs-mandatory">*</ion-text>
                            </ion-label><span style="margin:0px 5px -27px 1px" slot="start" class="currencysymbolpreffix">₹</span>
                            <ion-input type="number" [(ngModel)]="obj_pfm144393['listprice']" formControlName="listprice" class="currencysymbolfield" required=""></ion-input>
                        </ion-item>
                        <ion-row *ngIf="!formGroup.get('pfm144393').get('listprice').valid && !isValidFrom">
                            <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Selling Price</p>
                        </ion-row>
                    </ion-col>
                    <ion-col formGroupName="pfm144393" id="pfm144393_totalamount" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144393['totalamount'] == ''? 'cs-dep-alert-block' : ''" class="">
                        <ion-item lines="none">
                            <cspfmformula [csformulaFieldLabel]="'Total Amount'" [csformulaField]="'totalamount'" [csformuladefaultValue]="0" [csformulaprecisionValue]="3" [csformuladataSource]="dbServiceProvider" [(csformulaConfig)]="formulaConfigJSON['pfm144393']['totalamount']" [(csformulaObject)]="formulaObject"></cspfmformula>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </form>
        <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
            <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                    <ion-item lines="none">
                        <ion-label no-margin="">
                            <h5>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h5>
                            <h6>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </h6>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-content>
</ion-bottom-drawer>