<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="backButtonOnclick()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Attachment & Document</ion-title>
    <ion-buttons class="cs-am-header-attdoc" slot="end">
      <ion-button (click)="uploadButtonAction()">
        <ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="selectedSegment == 'Document'" (click)="filterButtonAction()">
        <ion-icon name="funnel" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="selectOptionButtonAction()">
        <ion-icon name="document" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical class="cs-am-attdoc">

  <ion-searchbar padding-horizontal [(ngModel)]="searchText" (ionInput)="getSearchedItems($event.target.value)"
    (ionCancel)="onCancel()" [animated]="true">
  </ion-searchbar>

  <ion-item lines="none" class="cs-am-title-align" padding-horizontal>
    <ion-text>
      <ion-label class="cs-am-titletext">{{selectedObjDisplayName}}</ion-label>
      <ion-label class="cs-am-topdetail">{{ selectedObj['prominentFieldDetails'][0]['columnvalue'] }}</ion-label>
      <ion-label no-margin class="cs-am-bottomdetail">{{ selectedObj['prominentFieldDetails'][1]['columnvalue'] }}</ion-label>
    </ion-text>


  </ion-item>
  <ion-grid padding-vertical no-padding class="cs-am-att-nd-doc-buttons">
    <ion-row>
      <ion-col size="6" class="cs-am-att" [ngClass]="{'active' : selectedSegment==='Attachment'}"
        (click)="attachementSelected()">
        <ion-label class="cs-am-docattfont  cs-am-rmar-icon">
              <span>Attachment</span>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="cs-am-doc" [ngClass]="{'active' : selectedSegment==='Document'}"
        (click)="documentSelected()">
        <ion-label class="cs-am-docattfont">
        <span>Document</span>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>




  <div *ngIf="selectedSegment == 'Document'">
    <ion-list>
      <ion-row *ngFor="let object of documentDataArray; let indexVal= index">
        <ion-item-sliding class="cs-am-attachlist-slide">
          <ion-item class="cs-am-attachlist">
            <ion-label class="cs-am-doclistcontrol">
              <h2><span class="cs-am-filename">{{object['documentName']}}</span></h2>
              <h2><span class="cs-am-date">{{object['frequency']}}</span></h2>
            </ion-label>
          </ion-item>
          <ion-item-options [side]="left">

            <ion-button class="cs-am-btnheight" expand="full" ion-button (click)="multiselectDocumentClickAction(indexVal)">
              <ion-icon name="download"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
         <div class="div-slides"> 
          <div *ngFor="let innerObj of groupedResultList[object['objDocumentConfigId']]; let indexFordata = index">
            <ion-slides class="swiper-container" (ionSlideDidChange)="slideChanged()" #sliderView options="{
            slidesPerView: 1,
            slidesPerColumn: 1,
            slidesPerGroup: 1,
            watchSlidesProgress: true,
            spaceBetween: 0,
            virtualTranslate: true,
          };">
              <ion-slide pager='true' class="swiper-wrapper" *ngFor="let slideData of innerObj; let indexValue= index">
                <ion-item class="cs-am-paddingdisovle" lines="none" (click)="showDocumentDownloadedFile(indexVal,indexFordata,indexValue)">

                  <ion-label class="cs-am-docsublistcontrol cs-pr">

                    <div [ngClass]="{'cs-none': innerObj.length == 1}" class="cs-pa cs-am-leftarrow">
                      <ion-icon name="arrow-dropleft" (click)="prevButtonPressed(sliderView, $event)"></ion-icon>
                    </div>

                    <div class="cs-block cs-am-docsubnamesize">
                      <div class="cs-flex cs-jc-sb">
                        <div class="cs-am-contentalignleft ion-text-left">
                          <div class="ion-text-center">
                            <h2 class="cs-am-filename">{{slideData['file_name']}}</h2>
                            <h5 class="cs-am-date">
                              {{slideData['created_on'] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}
                            </h5>
                            <h2 *ngIf="slideData['file_size'] < 1024" class="cs-am-size cs-am-badge">{{slideData['file_size']}} KB</h2>
                            <h2 *ngIf="slideData['file_size'] >= 1024" class="cs-am-size cs-am-badge">{{(slideData['file_size'] / 1024).toFixed(2)}} MB</h2>
                          </div>
                        </div>

                        <div class="cs-am-contentalignright ion-text-center">
                          <ion-img src="assets/img/user_icon.png"></ion-img>
                          <h3 class="cs-am-count"><span class="cs-am-strong">{{indexValue+1}}</span> /
                            {{innerObj.length}}</h3>
                        </div>
                      </div>
                    </div>
                    <div [ngClass]="{'cs-none': innerObj.length == 1}" class="cs-pa cs-am-rightarrow">
                      <ion-icon name="arrow-dropright" (click)="nextButtonPressed(sliderView, $event)"></ion-icon>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-slide>
            </ion-slides>
          </div>
        </div>
      </ion-row>
    </ion-list>
  </div>



 <div *ngIf="selectedSegment == 'Attachment'">
    <ion-list class="cs-pr cs-am-marginzero" padding-horizontal>
      <ion-row>
        <ion-col  size="12" sizeMd="6" sizeLg="4" sizeXl="3" *ngFor="let object of filteredResultList; let indexVal= index" (click)="showAttachmentDownloadedFile(indexVal)">
          <ion-item-sliding>
            <ion-item (press)="multiselectAction()" (click)="multiSelectRadioButton(indexVal)" class="cs-am-attach-paddingstart">
              <ion-label class="cs-am-attachlistcontrol">
                <ion-grid>
                  <ion-row>
                    <ion-col *ngIf="isMultiselect" size="3" sizeMd="3" sizeLg="3" sizeXl="3">
                      <ion-buttons>
                        <ion-button class="cs-am-checkboxcolor"
                          *ngIf="object.isSelected == nil || object.isSelected==false">
                          <ion-icon class="cs-am-grey" name="checkmark" slot="icon-only"></ion-icon>

                        </ion-button>
                        <ion-button class="cs-am-checkboxcoloractive" *ngIf="object.isSelected==true">
                          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>

                    <ion-col *ngIf="!isMultiselect" size="3" sizeMd="3" sizeLg="3" sizeXl="3">
                      <ion-img src="assets/img/user_icon.png"></ion-img>
                    </ion-col>
                    <ion-col size="6" sizeMd="6" sizeLg="6" sizeXl="6">
                      <div class="ion-truncate">
                        <h2 class="cs-am-filname-header"><span class="cs-am-filename ion-truncate">{{object['file_name']}}.{{object['file_extension']}}</span>
                        </h2>
                        <h3 class="cs-am-filname-header"><span
                            class="cs-am-date ion-truncate">{{object['created_on'] | date:appUtilityConfig.userDateFormat:appUtilityConfig.userZoneOffsetValue}}</span>
                        </h3>
                      </div>
                    </ion-col>
                    <ion-col size="3" sizeMd="3" sizeLg="3" sizeXl="3">
                      <h3 class="ion-truncate cs-am-file-size- text-center" *ngIf="object['file_size'] < 1024" ><span class="cs-am-size">{{object['file_size']}} KB</span></h3>
                      <h3 class="ion-truncate cs-am-file-size text-center" *ngIf="object['file_size'] >= 1024" ><span class="cs-am-size">{{(object['file_size'] / 1024).toFixed(2)}} MB</span></h3>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
            <ion-item-options [side]="left">
              <!-- <ion-button expand="full" ion-button color="danger"(click)="favorite()">
                  <ion-icon name="trash"></ion-icon></ion-button> -->
              <ion-button expand="full" class="cs-am-btnheight" ion-button (click)="downloadClickAction(indexVal,$event)">
                <ion-icon name="download"></ion-icon>
              </ion-button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

</ion-content>

<ion-fab *ngIf="isMultiselect" vertical="bottom" horizontal="end" class="cs-am-multisel-fab">
  <ion-fab-button>
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="allSelectAction()">
      <ion-icon name="code-working"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="allDeSelectAction()">
      <ion-icon name="code"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="multiselectdeleteAction()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="multiselectAttachementdownloadAction()">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button (click)="multiselectcancelPressed()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>



<div class="cs-doc-alert" [hidden]="!isSelectOption">
  <div class="cs-top-alert">

    <ion-list class="cs-am-doc-scroll">
      <div *ngFor="let item of navParameters" (click)="attachementSelectOption(item)">
        <!-- newVariable -->
        <ion-item ion-item padding-start no-margin lines="none">
          <span>{{item.parentDisplayName}}</span>
        </ion-item>
      </div>
    </ion-list>

  </div>
</div>

<div class="cs-filter-alert" [hidden]="!isFilterOption">
  <div class="cs-am-filter cs-pr">
    <div class="cs-pa cs-am-close">
      <ion-icon name="close" (click)="frequencyCloseButton()"></ion-icon>
    </div>
    <ion-list>
      <ion-row *ngFor="let item of frequencyArray; let indexVal= index" (click)="selectedFrequency(indexVal)">
        <ion-label [ngClass]="{'freqSelectedItem': selectedFrequencyVal == indexVal,'cs-am-checkalignparent':true}"
          no-margin padding-start>
          {{item}}
          <ion-icon class="cs-am-checkalign" *ngIf="selectedFrequencyVal == indexVal" name="checkmark" slot="icon-only">
          </ion-icon>
        </ion-label>
      </ion-row>
      <div class="cs-am-bline"></div>
      <ion-row *ngFor="let item of documentTypeArray; let indexVal= index" (click)="multipleDocSelect(indexVal)">
        <ion-label no-margin padding-start class="cs-am-width">
          <span class="cs-am-checkalignparentsm">
            <span
              [ngClass]="{'freqSelectedItem': selectedDocTypeVal == indexVal,'cs-am-singlemultiple-alignmiddle':true}">
              <ion-icon name="document" [ngClass]="{'cs-am-singlec' : indexVal===0,'cs-am-multic' : indexVal===1}"
                slot="icon-only"></ion-icon>
              {{item}}
            </span>
            <!-- For Multiple Document use cs-am-singlec class insted of cs-am-multic  -->
            <ion-icon class="cs-am-checkalign" *ngIf="selectedDocTypeVal == indexVal" name="checkmark" slot="icon-only">
            </ion-icon>
          </span>
        </ion-label>
      </ion-row>
    </ion-list>
  </div>
</div>