<ion-label no-padding>
    <p>{{formulaFieldLabel ? formulaFieldLabel : ""}}</p>
    <ion-label *ngIf = "dataSource=='JsonDB'" style="background-color: rgb(205,205,205);">
        <span>0</span>
    </ion-label>
    <ion-label *ngIf = "dataSource=='CouchDB' || dataSource == 'PouchDB'">
        <span>{{formulaResult ? formulaResult : defaultValue}}</span>
    </ion-label>
    <!-- <p *ngIf="showErrorValue" style="color: rgb(219, 30, 30);">{{errorMessage}}</p> -->
</ion-label>