<ion-header no-border="">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="appUtility.isMobile">
            <ion-menu-button *ngIf="isFromMenu"></ion-menu-button>
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!appUtility.isMobile">
            <ion-button *ngIf="!isFromMenu" (click)="backButtonOnclick()">
                <h2>
                    <ion-icon class="icon-mat-arrow_back"></ion-icon>
                </h2>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'crmsaleorders_d_m_entry.Layout.crmsaleorders_d_m_entry'| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="isSkeletonLoading" icon-only="" (click)="saveButtonOnclick()">
                <ion-icon name="done-all"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="entry-page-content">
    <ion-list *ngIf="isParentObjectShow">
        <h5 no-margin="" padding-start="" padding-top="" margin-start="">{{parentObjValue}}</h5>
        <p no-margin="" padding-start="" margin-start="">{{parentObjLabel | translate}}</p>
        <ion-item-divider lines="none"></ion-item-divider>
    </ion-list>
    <form [formGroup]="formGroup" *ngIf="!isSkeletonLoading">
        <ion-list no-padding="">
            <ion-row padding-horizontal="" padding-bottom="">
                <ion-col formGroupName="pfm144373" id="pfm144373_orderid" size="12" sizeMd="6" sizeLg="4" sizeXl="4" class="entry_auto_num_field" *ngIf="action =='Edit'" padding-bottom="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.orderid'| translate}}</ion-label>
                        <ion-input type="text" disabled="disabled">{{obj_pfm144373['orderid']}}</ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm144373" [ngClass]="objResultMap.has('pfm144373') && objResultMap.get('pfm144373').status=='SUCCESS'? 'remove-Bottom-line' : ''" id="pfm144373_customername" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                    <ion-item no-padding="" class="entry-o-info-loc-item" (dblclick)="(objResultMap.has('pfm144373') && objResultMap.get('pfm144373').status!='SUCCESS') ||objResultMap.size==0 ? showLookup_301933('pfm147213_301933','crmsaleorders_d_m_entry.Element.crmsaleorders.customername',['accountno','accountname','customercontact']) : '' ">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.customername'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" *ngIf="!obj_pfm147213_301933['customername']" [(ngModel)]="pfm147213_301933_searchKey" formControlName="pfm147213_301933_searchKey">{{obj_pfm147213_301933['accountno']}}</ion-input>
                        <ion-input type="text" *ngIf="obj_pfm147213_301933['customername']" [(ngModel)]="pfm147213_301933_searchKey" formControlName="pfm147213_301933_searchKey">{{obj_pfm147213_301933['accountno']}}</ion-input>
                        <ion-icon *ngIf="obj_pfm144373['pfm147213_301933'] == null" slot="end" name="search" (click)="showLookup_301933('pfm147213_301933','crmsaleorders_d_m_entry.Element.crmsaleorders.customername',['accountno','accountname','customercontact'])" color="dark" item-right=""></ion-icon>
                        <ion-icon *ngIf="obj_pfm144373['pfm147213_301933'] != null" slot="end" name="close" (click)="lookupClearAction(obj_pfm144373,'pfm147213_301933',obj_pfm147213_301933,'accountno','obj_pfm144373_pfm147213_301933')" color="dark" item-right=""></ion-icon>
                    </ion-item>
                    <ion-row padding-horizontal="" class="entry-o-info-loc-row" *ngIf="!obj_pfm147213_301933['accountno'] && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Customer</p>
                    </ion-row>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                    <ion-item no-padding="" class="cs-entry-item-disabled">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.customermaster.accountname'| translate}}</ion-label>
                        <ion-input type="text" [readonly]="true" *ngIf="obj_pfm144373['pfm147213_301933'] || obj_pfm144373['pfm147213']">{{obj_pfm147213_301933['accountname']}}</ion-input>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm144373" id="pfm144373_customercontact" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144373['customercontact'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.customercontact'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm144373['customercontact']" formControlName="customercontact"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144373').get('customercontact').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Customer Contact</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144373" id="pfm144373_customernumber" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144373['customernumber'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.customernumber'| translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="obj_pfm144373['customernumber']" formControlName="customernumber"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144373').get('customernumber').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Customer Number</p>
                    </ion-row>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="">
                    <cs-status-workflow [fieldId]="289221" [inputPage]="'entry'" [data]="orderstatus_289221_swList" [currentStatus]="orderstatus_289221_defaultStatus" [label]="'Order Status'" (onStatusChanged)="statusChange($event,orderstatus_289221_status, 'Order Status', '289221')"></cs-status-workflow>
                </ion-col>
                <ion-col formGroupName="pfm144373" id="pfm144373_orderconfirmeddate" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144373['orderconfirmeddate'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="" class="mandatory-field">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.orderconfirmeddate'| translate}}
                            <ion-text color="danger" class="cs-mandatory">*</ion-text>
                        </ion-label>
                        <ion-datetime displayFormat="{{appUtility.userDatePickerFormat}}" max="2050" value="{{ionDateTimeDisplayValue['obj_pfm144373_orderconfirmeddate']}}" formControlName="orderconfirmeddate" required="" [(ngModel)]="obj_pfm144373['orderconfirmeddate']" pickerFormat="{{appUtility.userDatePickerFormat}}"></ion-datetime>
                    </ion-item>
                    <ion-row *ngIf="obj_pfm144373['orderconfirmeddate'] == '' && !isValidFrom">
                        <p style="color: rgb(219, 30, 30);padding-left:16px;">Please enter Order Confirmed Date</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144373" id="pfm144373_ordercompleteddate" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144373['ordercompleteddate'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.ordercompleteddate'| translate}}</ion-label>
                        <ion-datetime max="2050" value="{{ionDateTimeDisplayValue['obj_pfm144373_ordercompleteddate']}}" displayFormat="{{appUtility.userDatePickerFormat}}" formControlName="ordercompleteddate" [(ngModel)]="obj_pfm144373['ordercompleteddate']" pickerFormat="{{appUtility.userDatePickerFormat}}"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col formGroupName="pfm144373" id="pfm144373_shiptoaddress" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144373['shiptoaddress'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.shiptoaddress'| translate}}</ion-label>
                        <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="shiptoaddress" [(ngModel)]="obj_pfm144373.shiptoaddress"></ion-textarea>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144373').get('shiptoaddress').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Ship To Address</p>
                    </ion-row>
                </ion-col>
                <ion-col formGroupName="pfm144373" id="pfm144373_billtoaddress" size="12" sizeMd="6" sizeLg="4" sizeXl="4" padding-bottom="" [ngClass]="obj_pfm144373['billtoaddress'] == ''? 'cs-dep-alert-block' : ''" class="">
                    <ion-item no-padding="">
                        <ion-label position="stacked">{{'crmsaleorders_d_m_entry.Element.crmsaleorders.billtoaddress'| translate}}</ion-label>
                        <ion-textarea rows="6" spellcheck="true" autosize="" formControlName="billtoaddress" [(ngModel)]="obj_pfm144373.billtoaddress"></ion-textarea>
                    </ion-item>
                    <ion-row *ngIf="!formGroup.get('pfm144373').get('billtoaddress').valid && !isValidFrom">
                        <p style="color: rgb(219, 30, 30); padding-left:16px;">Please enter valid Bill To Address</p>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>
    <ion-list class="hl-detailscroll-list-text" *ngIf="isSkeletonLoading">
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="4" no-padding="" padding-end="" padding-bottom="" *ngFor="let a of 'skeletons'.split('')">
                <ion-item lines="none">
                    <ion-label no-margin="">
                        <h5>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                        <h6>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>