$icomoon-font-family: "material" !default;
$icomoon-font-path: "assets/mat-icons/fonts" !default;


$icon-mat-error: "\e900";
$icon-mat-error_outline: "\e901";
$icon-mat-warning: "\e902";
$icon-mat-report_problem: "\e902";
$icon-mat-add_alert: "\e903";
$icon-mat-notification_important: "\e904";
$icon-mat-album: "\e905";
$icon-mat-av_timer: "\e906";
$icon-mat-closed_caption: "\e907";
$icon-mat-equalizer: "\e908";
$icon-mat-explicit: "\e909";
$icon-mat-fast_forward: "\e90a";
$icon-mat-fast_rewind: "\e90b";
$icon-mat-games: "\e90c";
$icon-mat-gamepad: "\e90c";
$icon-mat-hearing: "\e90d";
$icon-mat-high_quality: "\e90e";
$icon-mat-loop: "\e90f";
$icon-mat-sync: "\e90f";
$icon-mat-mic: "\e910";
$icon-mat-mic_none: "\e911";
$icon-mat-mic_off: "\e912";
$icon-mat-movie: "\e913";
$icon-mat-movie_creation: "\e913";
$icon-mat-library_add: "\e914";
$icon-mat-queue: "\e914";
$icon-mat-add_to_photos: "\e914";
$icon-mat-library_books: "\e915";
$icon-mat-library_music: "\e916";
$icon-mat-new_releases: "\e917";
$icon-mat-not_interested: "\e918";
$icon-mat-do_not_disturb: "\e918";
$icon-mat-pause: "\e919";
$icon-mat-pause_circle_filled: "\e91a";
$icon-mat-pause_circle_outline: "\e91b";
$icon-mat-play_arrow: "\e91c";
$icon-mat-play_circle_filled: "\e91d";
$icon-mat-play_circle_outline: "\e91e";
$icon-mat-playlist_add: "\e91f";
$icon-mat-queue_music: "\e920";
$icon-mat-radio: "\e921";
$icon-mat-recent_actors: "\e922";
$icon-mat-repeat: "\e923";
$icon-mat-repeat_one: "\e924";
$icon-mat-replay: "\e925";
$icon-mat-shuffle: "\e926";
$icon-mat-skip_next: "\e927";
$icon-mat-skip_previous: "\e928";
$icon-mat-snooze: "\e929";
$icon-mat-stop: "\e92a";
$icon-mat-subtitles: "\e92b";
$icon-mat-surround_sound: "\e92c";
$icon-mat-video_collection: "\e92d";
$icon-mat-videocam: "\e92e";
$icon-mat-videocam_off: "\e92f";
$icon-mat-volume_down: "\e930";
$icon-mat-volume_mute: "\e931";
$icon-mat-volume_off: "\e932";
$icon-mat-volume_up: "\e933";
$icon-mat-web: "\e934";
$icon-mat-hd: "\e935";
$icon-mat-sort_by_alpha: "\e936";
$icon-mat-airplay: "\e937";
$icon-mat-forward_10: "\e938";
$icon-mat-forward_30: "\e939";
$icon-mat-forward_5: "\e93a";
$icon-mat-replay_10: "\e93b";
$icon-mat-replay_30: "\e93c";
$icon-mat-replay_5: "\e93d";
$icon-mat-add_to_queue: "\e93e";
$icon-mat-fiber_dvr: "\e93f";
$icon-mat-fiber_new: "\e940";
$icon-mat-playlist_play: "\e941";
$icon-mat-art_track: "\e942";
$icon-mat-fiber_manual_record: "\e943";
$icon-mat-fiber_smart_record: "\e944";
$icon-mat-music_video: "\e945";
$icon-mat-subscriptions: "\e946";
$icon-mat-playlist_add_check: "\e947";
$icon-mat-queue_play_next: "\e948";
$icon-mat-remove_from_queue: "\e949";
$icon-mat-slow_motion_video: "\e94a";
$icon-mat-web_asset: "\e94b";
$icon-mat-fiber_pin: "\e94c";
$icon-mat-branding_watermark: "\e94d";
$icon-mat-call_to_action: "\e94e";
$icon-mat-featured_play_list: "\e94f";
$icon-mat-featured_video: "\e950";
$icon-mat-note: "\e951";
$icon-mat-video_call: "\e952";
$icon-mat-video_label: "\e953";
$icon-mat-4k: "\e954";
$icon-mat-missed_video_call: "\e955";
$icon-mat-control_camera: "\e956";
$icon-mat-business: "\e957";
$icon-mat-domain: "\e957";
$icon-mat-call: "\e958";
$icon-mat-call_end: "\e959";
$icon-mat-call_made: "\e95a";
$icon-mat-call_merge: "\e95b";
$icon-mat-merge_type: "\e95b";
$icon-mat-call_missed: "\e95c";
$icon-mat-call_received: "\e95d";
$icon-mat-call_split: "\e95e";
$icon-mat-chat: "\e95f";
$icon-mat-clear_all: "\e960";
$icon-mat-comment: "\e961";
$icon-mat-contacts: "\e962";
$icon-mat-dialer_sip: "\e963";
$icon-mat-dialpad: "\e964";
$icon-mat-email: "\e965";
$icon-mat-mail: "\e965";
$icon-mat-markunread: "\e965";
$icon-mat-local_post_office: "\e965";
$icon-mat-forum: "\e966";
$icon-mat-question_answer: "\e966";
$icon-mat-import_export: "\e967";
$icon-mat-invert_colors_off: "\e968";
$icon-mat-live_help: "\e969";
$icon-mat-location_off: "\e96a";
$icon-mat-location_on: "\e96b";
$icon-mat-place: "\e96b";
$icon-mat-room: "\e96b";
$icon-mat-message: "\e96c";
$icon-mat-chat_bubble: "\e96d";
$icon-mat-chat_bubble_outline: "\e96e";
$icon-mat-no_sim: "\e96f";
$icon-mat-signal_cellular_no_sim: "\e96f";
$icon-mat-phone: "\e970";
$icon-mat-local_phone: "\e970";
$icon-mat-portable_wifi_off: "\e971";
$icon-mat-contact_phone: "\e972";
$icon-mat-contact_mail: "\e973";
$icon-mat-ring_volume: "\e974";
$icon-mat-speaker_phone: "\e975";
$icon-mat-stay_current_landscape: "\e976";
$icon-mat-stay_primary_landscape: "\e976";
$icon-mat-stay_current_portrait: "\e977";
$icon-mat-stay_primary_portrait: "\e977";
$icon-mat-smartphone: "\e977";
$icon-mat-swap_calls: "\e978";
$icon-mat-textsms: "\e979";
$icon-mat-sms: "\e979";
$icon-mat-voicemail: "\e97a";
$icon-mat-vpn_key: "\e97b";
$icon-mat-phonelink_erase: "\e97c";
$icon-mat-phonelink_lock: "\e97d";
$icon-mat-phonelink_ring: "\e97e";
$icon-mat-phonelink_setup: "\e97f";
$icon-mat-present_to_all: "\e980";
$icon-mat-import_contacts: "\e981";
$icon-mat-mail_outline: "\e982";
$icon-mat-screen_share: "\e983";
$icon-mat-stop_screen_share: "\e984";
$icon-mat-call_missed_outgoing: "\e985";
$icon-mat-rss_feed: "\e986";
$icon-mat-alternate_email: "\e987";
$icon-mat-mobile_screen_share: "\e988";
$icon-mat-add_call: "\e989";
$icon-mat-cancel_presentation: "\e98a";
$icon-mat-pause_presentation: "\e98b";
$icon-mat-unsubscribe: "\e98c";
$icon-mat-cell_wifi: "\e98d";
$icon-mat-sentiment_satisfied_alt: "\e98e";
$icon-mat-list_alt: "\e98f";
$icon-mat-domain_disabled: "\e990";
$icon-mat-lightbulb: "\e991";
$icon-mat-add: "\e992";
$icon-mat-add_box: "\e993";
$icon-mat-add_circle: "\e994";
$icon-mat-add_circle_outline: "\e995";
$icon-mat-control_point: "\e995";
$icon-mat-archive: "\e996";
$icon-mat-backspace: "\e997";
$icon-mat-block: "\e998";
$icon-mat-clear: "\e999";
$icon-mat-close: "\e999";
$icon-mat-content_copy: "\e99a";
$icon-mat-content_cut: "\e99b";
$icon-mat-content_paste: "\e99c";
$icon-mat-create: "\e99d";
$icon-mat-mode_edit: "\e99d";
$icon-mat-edit: "\e99d";
$icon-mat-drafts: "\e99e";
$icon-mat-filter_list: "\e99f";
$icon-mat-flag: "\e9a0";
$icon-mat-assistant_photo: "\e9a0";
$icon-mat-forward: "\e9a1";
$icon-mat-gesture: "\e9a2";
$icon-mat-inbox: "\e9a3";
$icon-mat-link: "\e9a4";
$icon-mat-insert_link: "\e9a4";
$icon-mat-redo: "\e9a5";
$icon-mat-remove: "\e9a6";
$icon-mat-remove_circle: "\e9a7";
$icon-mat-do_not_disturb_on: "\e9a7";
$icon-mat-remove_circle_outline: "\e9a8";
$icon-mat-reply: "\e9a9";
$icon-mat-reply_all: "\e9aa";
$icon-mat-report: "\e9ab";
$icon-mat-save: "\e9ac";
$icon-mat-select_all: "\e9ad";
$icon-mat-send: "\e9ae";
$icon-mat-sort: "\e9af";
$icon-mat-text_format: "\e9b0";
$icon-mat-undo: "\e9b1";
$icon-mat-font_download: "\e9b2";
$icon-mat-move_to_inbox: "\e9b3";
$icon-mat-unarchive: "\e9b4";
$icon-mat-next_week: "\e9b5";
$icon-mat-weekend: "\e9b6";
$icon-mat-delete_sweep: "\e9b7";
$icon-mat-low_priority: "\e9b8";
$icon-mat-outlined_flag: "\e9b9";
$icon-mat-link_off: "\e9ba";
$icon-mat-report_off: "\e9bb";
$icon-mat-save_alt: "\e9bc";
$icon-mat-ballot: "\e9bd";
$icon-mat-file_copy: "\e9be";
$icon-mat-how_to_reg: "\e9bf";
$icon-mat-how_to_vote: "\e9c0";
$icon-mat-waves: "\e9c1";
$icon-mat-where_to_vote: "\e9c2";
$icon-mat-add_link: "\e9c3";
$icon-mat-inventory: "\e9c4";
$icon-mat-access_alarm: "\e9c5";
$icon-mat-alarm: "\e9c5";
$icon-mat-access_alarms: "\e9c6";
$icon-mat-access_time: "\e9c7";
$icon-mat-query_builder: "\e9c7";
$icon-mat-schedule: "\e9c7";
$icon-mat-add_alarm: "\e9c8";
$icon-mat-alarm_add: "\e9c8";
$icon-mat-airplanemode_inactive: "\e9c9";
$icon-mat-airplanemode_active: "\e9ca";
$icon-mat-flight: "\e9ca";
$icon-mat-local_airport: "\e9ca";
$icon-mat-battery_alert: "\e9cb";
$icon-mat-battery_charging_full: "\e9cc";
$icon-mat-battery_full: "\e9cd";
$icon-mat-battery_std: "\e9cd";
$icon-mat-battery_unknown: "\e9ce";
$icon-mat-bluetooth: "\e9cf";
$icon-mat-bluetooth_connected: "\e9d0";
$icon-mat-bluetooth_disabled: "\e9d1";
$icon-mat-bluetooth_searching: "\e9d2";
$icon-mat-bluetooth_audio: "\e9d2";
$icon-mat-brightness_auto: "\e9d3";
$icon-mat-brightness_high: "\e9d4";
$icon-mat-brightness_7: "\e9d4";
$icon-mat-brightness_low: "\e9d5";
$icon-mat-brightness_5: "\e9d5";
$icon-mat-brightness_medium: "\e9d6";
$icon-mat-brightness_6: "\e9d6";
$icon-mat-data_usage: "\e9d7";
$icon-mat-developer_mode: "\e9d8";
$icon-mat-devices: "\e9d9";
$icon-mat-phonelink: "\e9d9";
$icon-mat-dvr: "\e9da";
$icon-mat-gps_fixed: "\e9db";
$icon-mat-my_location: "\e9db";
$icon-mat-gps_not_fixed: "\e9dc";
$icon-mat-location_searching: "\e9dc";
$icon-mat-gps_off: "\e9dd";
$icon-mat-location_disabled: "\e9dd";
$icon-mat-graphic_eq: "\e9de";
$icon-mat-network_cell: "\e9df";
$icon-mat-network_wifi: "\e9e0";
$icon-mat-nfc: "\e9e1";
$icon-mat-now_wallpaper: "\e9e2";
$icon-mat-now_widgets: "\e9e3";
$icon-mat-screen_lock_landscape: "\e9e4";
$icon-mat-screen_lock_portrait: "\e9e5";
$icon-mat-screen_lock_rotation: "\e9e6";
$icon-mat-screen_rotation: "\e9e7";
$icon-mat-sd_storage: "\e9e8";
$icon-mat-sd_card: "\e9e8";
$icon-mat-settings_system_daydream: "\e9e9";
$icon-mat-signal_cellular_4_bar: "\e9ea";
$icon-mat-signal_cellular_connected_no_internet_4_bar: "\e9eb";
$icon-mat-signal_cellular_null: "\e9ec";
$icon-mat-signal_cellular_off: "\e9ed";
$icon-mat-signal_wifi_4_bar: "\e9ee";
$icon-mat-signal_wifi_4_bar_lock: "\e9ef";
$icon-mat-signal_wifi_off: "\e9f0";
$icon-mat-storage: "\e9f1";
$icon-mat-usb: "\e9f2";
$icon-mat-wifi_lock: "\e9f3";
$icon-mat-wifi_tethering: "\e9f4";
$icon-mat-add_to_home_screen: "\e9f5";
$icon-mat-device_thermostat: "\e9f6";
$icon-mat-mobile_friendly: "\e9f7";
$icon-mat-mobile_off: "\e9f8";
$icon-mat-signal_cellular_alt: "\e9f9";
$icon-mat-attach_file: "\e9fa";
$icon-mat-attach_money: "\e9fb";
$icon-mat-border_all: "\e9fc";
$icon-mat-border_bottom: "\e9fd";
$icon-mat-border_clear: "\e9fe";
$icon-mat-border_color: "\e9ff";
$icon-mat-border_horizontal: "\ea00";
$icon-mat-border_inner: "\ea01";
$icon-mat-border_left: "\ea02";
$icon-mat-border_outer: "\ea03";
$icon-mat-border_right: "\ea04";
$icon-mat-border_style: "\ea05";
$icon-mat-border_top: "\ea06";
$icon-mat-border_vertical: "\ea07";
$icon-mat-format_align_center: "\ea08";
$icon-mat-format_align_justify: "\ea09";
$icon-mat-format_align_left: "\ea0a";
$icon-mat-format_align_right: "\ea0b";
$icon-mat-format_bold: "\ea0c";
$icon-mat-format_clear: "\ea0d";
$icon-mat-format_color_fill: "\ea0e";
$icon-mat-format_color_reset: "\ea0f";
$icon-mat-format_color_text: "\ea10";
$icon-mat-format_indent_decrease: "\ea11";
$icon-mat-format_indent_increase: "\ea12";
$icon-mat-format_italic: "\ea13";
$icon-mat-format_line_spacing: "\ea14";
$icon-mat-format_list_bulleted: "\ea15";
$icon-mat-format_list_numbered: "\ea16";
$icon-mat-format_paint: "\ea17";
$icon-mat-format_quote: "\ea18";
$icon-mat-format_size: "\ea19";
$icon-mat-format_strikethrough: "\ea1a";
$icon-mat-format_textdirection_l_to_r: "\ea1b";
$icon-mat-format_textdirection_r_to_l: "\ea1c";
$icon-mat-format_underlined: "\ea1d";
$icon-mat-functions: "\ea1e";
$icon-mat-insert_chart: "\ea1f";
$icon-mat-poll: "\ea1f";
$icon-mat-assessment: "\ea1f";
$icon-mat-insert_comment: "\ea20";
$icon-mat-insert_drive_file: "\ea21";
$icon-mat-insert_emoticon: "\ea22";
$icon-mat-tag_faces: "\ea22";
$icon-mat-mood: "\ea22";
$icon-mat-insert_invitation: "\ea23";
$icon-mat-event: "\ea23";
$icon-mat-insert_photo: "\ea24";
$icon-mat-image: "\ea24";
$icon-mat-photo: "\ea24";
$icon-mat-mode_comment: "\ea25";
$icon-mat-publish: "\ea26";
$icon-mat-space_bar: "\ea27";
$icon-mat-strikethrough_s: "\ea28";
$icon-mat-vertical_align_bottom: "\ea29";
$icon-mat-vertical_align_center: "\ea2a";
$icon-mat-vertical_align_top: "\ea2b";
$icon-mat-wrap_text: "\ea2c";
$icon-mat-money_off: "\ea2d";
$icon-mat-drag_handle: "\ea2e";
$icon-mat-format_shapes: "\ea2f";
$icon-mat-highlight: "\ea30";
$icon-mat-linear_scale: "\ea31";
$icon-mat-short_text: "\ea32";
$icon-mat-text_fields: "\ea33";
$icon-mat-monetization_on: "\ea34";
$icon-mat-title: "\ea35";
$icon-mat-table_chart: "\ea36";
$icon-mat-add_comment: "\ea37";
$icon-mat-format_list_numbered_rtl: "\ea38";
$icon-mat-scatter_plot: "\ea39";
$icon-mat-score: "\ea3a";
$icon-mat-insert_chart_outlined: "\ea3b";
$icon-mat-bar_chart: "\ea3c";
$icon-mat-notes: "\ea3d";
$icon-mat-attachment: "\ea3e";
$icon-mat-cloud: "\ea3f";
$icon-mat-cloud_circle: "\ea40";
$icon-mat-cloud_done: "\ea41";
$icon-mat-cloud_download: "\ea42";
$icon-mat-cloud_off: "\ea43";
$icon-mat-cloud_queue: "\ea44";
$icon-mat-cloud_upload: "\ea45";
$icon-mat-backup: "\ea45";
$icon-mat-file_download: "\ea46";
$icon-mat-get_app: "\ea46";
$icon-mat-file_upload: "\ea47";
$icon-mat-folder: "\ea48";
$icon-mat-folder_open: "\ea49";
$icon-mat-folder_shared: "\ea4a";
$icon-mat-create_new_folder: "\ea4b";
$icon-mat-cast: "\ea4c";
$icon-mat-cast_connected: "\ea4d";
$icon-mat-computer: "\ea4e";
$icon-mat-laptop: "\ea4e";
$icon-mat-desktop_mac: "\ea4f";
$icon-mat-desktop_windows: "\ea50";
$icon-mat-developer_board: "\ea51";
$icon-mat-dock: "\ea52";
$icon-mat-headset: "\ea53";
$icon-mat-headset_mic: "\ea54";
$icon-mat-keyboard: "\ea55";
$icon-mat-keyboard_arrow_down: "\ea56";
$icon-mat-keyboard_arrow_left: "\ea57";
$icon-mat-keyboard_arrow_right: "\ea58";
$icon-mat-keyboard_arrow_up: "\ea59";
$icon-mat-keyboard_backspace: "\ea5a";
$icon-mat-keyboard_capslock: "\ea5b";
$icon-mat-keyboard_hide: "\ea5c";
$icon-mat-keyboard_return: "\ea5d";
$icon-mat-keyboard_tab: "\ea5e";
$icon-mat-keyboard_voice: "\ea5f";
$icon-mat-laptop_chromebook: "\ea60";
$icon-mat-laptop_mac: "\ea61";
$icon-mat-laptop_windows: "\ea62";
$icon-mat-memory: "\ea63";
$icon-mat-mouse: "\ea64";
$icon-mat-phone_android: "\ea65";
$icon-mat-phone_iphone: "\ea66";
$icon-mat-phonelink_off: "\ea67";
$icon-mat-router: "\ea68";
$icon-mat-scanner: "\ea69";
$icon-mat-security: "\ea6a";
$icon-mat-sim_card: "\ea6b";
$icon-mat-speaker: "\ea6c";
$icon-mat-speaker_group: "\ea6d";
$icon-mat-tablet: "\ea6e";
$icon-mat-tablet_android: "\ea6f";
$icon-mat-tablet_mac: "\ea70";
$icon-mat-toys: "\ea71";
$icon-mat-tv: "\ea72";
$icon-mat-watch: "\ea73";
$icon-mat-device_hub: "\ea74";
$icon-mat-power_input: "\ea75";
$icon-mat-devices_other: "\ea76";
$icon-mat-videogame_asset: "\ea77";
$icon-mat-device_unknown: "\ea78";
$icon-mat-headset_off: "\ea79";
$icon-mat-adjust: "\ea7a";
$icon-mat-assistant: "\ea7b";
$icon-mat-audiotrack: "\ea7c";
$icon-mat-blur_circular: "\ea7d";
$icon-mat-blur_linear: "\ea7e";
$icon-mat-blur_off: "\ea7f";
$icon-mat-blur_on: "\ea80";
$icon-mat-brightness_1: "\ea81";
$icon-mat-brightness_2: "\ea82";
$icon-mat-brightness_3: "\ea83";
$icon-mat-brightness_4: "\ea84";
$icon-mat-broken_image: "\ea85";
$icon-mat-brush: "\ea86";
$icon-mat-camera: "\ea87";
$icon-mat-camera_alt: "\ea88";
$icon-mat-photo_camera: "\ea88";
$icon-mat-local_see: "\ea88";
$icon-mat-camera_front: "\ea89";
$icon-mat-camera_rear: "\ea8a";
$icon-mat-camera_roll: "\ea8b";
$icon-mat-center_focus_strong: "\ea8c";
$icon-mat-center_focus_weak: "\ea8d";
$icon-mat-collections: "\ea8e";
$icon-mat-photo_library: "\ea8e";
$icon-mat-color_lens: "\ea8f";
$icon-mat-palette: "\ea8f";
$icon-mat-colorize: "\ea90";
$icon-mat-compare: "\ea91";
$icon-mat-control_point_duplicate: "\ea92";
$icon-mat-crop_16_9: "\ea93";
$icon-mat-crop_3_2: "\ea94";
$icon-mat-crop: "\ea95";
$icon-mat-crop_5_4: "\ea96";
$icon-mat-crop_landscape: "\ea96";
$icon-mat-crop_7_5: "\ea97";
$icon-mat-crop_din: "\ea98";
$icon-mat-crop_free: "\ea99";
$icon-mat-crop_original: "\ea9a";
$icon-mat-crop_portrait: "\ea9b";
$icon-mat-crop_square: "\ea9c";
$icon-mat-dehaze: "\ea9d";
$icon-mat-details: "\ea9e";
$icon-mat-exposure: "\ea9f";
$icon-mat-exposure_minus_1: "\eaa0";
$icon-mat-exposure_minus_2: "\eaa1";
$icon-mat-exposure_plus_1: "\eaa2";
$icon-mat-exposure_plus_2: "\eaa3";
$icon-mat-exposure_zero: "\eaa4";
$icon-mat-filter_1: "\eaa5";
$icon-mat-filter_2: "\eaa6";
$icon-mat-filter_3: "\eaa7";
$icon-mat-filter: "\eaa8";
$icon-mat-filter_4: "\eaa9";
$icon-mat-filter_5: "\eaaa";
$icon-mat-filter_6: "\eaab";
$icon-mat-filter_7: "\eaac";
$icon-mat-filter_8: "\eaad";
$icon-mat-filter_9: "\eaae";
$icon-mat-filter_9_plus: "\eaaf";
$icon-mat-filter_b_and_w: "\eab0";
$icon-mat-filter_center_focus: "\eab1";
$icon-mat-filter_drama: "\eab2";
$icon-mat-filter_frames: "\eab3";
$icon-mat-filter_hdr: "\eab4";
$icon-mat-landscape: "\eab4";
$icon-mat-terrain: "\eab4";
$icon-mat-filter_none: "\eab5";
$icon-mat-filter_tilt_shift: "\eab6";
$icon-mat-filter_vintage: "\eab7";
$icon-mat-flare: "\eab8";
$icon-mat-flash_auto: "\eab9";
$icon-mat-flash_off: "\eaba";
$icon-mat-flash_on: "\eabb";
$icon-mat-flip: "\eabc";
$icon-mat-gradient: "\eabd";
$icon-mat-grain: "\eabe";
$icon-mat-grid_off: "\eabf";
$icon-mat-grid_on: "\eac0";
$icon-mat-hdr_off: "\eac1";
$icon-mat-hdr_on: "\eac2";
$icon-mat-hdr_strong: "\eac3";
$icon-mat-hdr_weak: "\eac4";
$icon-mat-healing: "\eac5";
$icon-mat-image_aspect_ratio: "\eac6";
$icon-mat-iso: "\eac7";
$icon-mat-leak_add: "\eac8";
$icon-mat-leak_remove: "\eac9";
$icon-mat-lens: "\eaca";
$icon-mat-looks_3: "\eacb";
$icon-mat-looks: "\eacc";
$icon-mat-looks_4: "\eacd";
$icon-mat-looks_5: "\eace";
$icon-mat-looks_6: "\eacf";
$icon-mat-looks_one: "\ead0";
$icon-mat-looks_two: "\ead1";
$icon-mat-loupe: "\ead2";
$icon-mat-monochrome_photos: "\ead3";
$icon-mat-music_note: "\ead4";
$icon-mat-nature: "\ead5";
$icon-mat-nature_people: "\ead6";
$icon-mat-navigate_before: "\ead7";
$icon-mat-chevron_left: "\ead7";
$icon-mat-navigate_next: "\ead8";
$icon-mat-chevron_right: "\ead8";
$icon-mat-panorama: "\ead9";
$icon-mat-panorama_fish_eye: "\eada";
$icon-mat-radio_button_unchecked: "\eada";
$icon-mat-panorama_horizontal: "\eadb";
$icon-mat-panorama_vertical: "\eadc";
$icon-mat-panorama_wide_angle: "\eadd";
$icon-mat-photo_album: "\eade";
$icon-mat-picture_as_pdf: "\eadf";
$icon-mat-portrait: "\eae0";
$icon-mat-remove_red_eye: "\eae1";
$icon-mat-visibility: "\eae1";
$icon-mat-rotate_90_degrees_ccw: "\eae2";
$icon-mat-rotate_left: "\eae3";
$icon-mat-rotate_right: "\eae4";
$icon-mat-slideshow: "\eae5";
$icon-mat-straighten: "\eae6";
$icon-mat-style: "\eae7";
$icon-mat-switch_camera: "\eae8";
$icon-mat-switch_video: "\eae9";
$icon-mat-texture: "\eaea";
$icon-mat-timelapse: "\eaeb";
$icon-mat-timer_10: "\eaec";
$icon-mat-timer_3: "\eaed";
$icon-mat-timer: "\eaee";
$icon-mat-timer_off: "\eaef";
$icon-mat-tonality: "\eaf0";
$icon-mat-transform: "\eaf1";
$icon-mat-tune: "\eaf2";
$icon-mat-view_comfortable: "\eaf3";
$icon-mat-view_compact: "\eaf4";
$icon-mat-wb_auto: "\eaf5";
$icon-mat-wb_cloudy: "\eaf6";
$icon-mat-wb_incandescent: "\eaf7";
$icon-mat-wb_sunny: "\eaf8";
$icon-mat-collections_bookmark: "\eaf9";
$icon-mat-photo_size_select_actual: "\eafa";
$icon-mat-photo_size_select_large: "\eafb";
$icon-mat-photo_size_select_small: "\eafc";
$icon-mat-vignette: "\eafd";
$icon-mat-wb_iridescent: "\eafe";
$icon-mat-crop_rotate: "\eaff";
$icon-mat-linked_camera: "\eb00";
$icon-mat-add_a_photo: "\eb01";
$icon-mat-movie_filter: "\eb02";
$icon-mat-photo_filter: "\eb03";
$icon-mat-burst_mode: "\eb04";
$icon-mat-shutter_speed: "\eb05";
$icon-mat-add_photo_alternate: "\eb06";
$icon-mat-image_search: "\eb07";
$icon-mat-music_off: "\eb08";
$icon-mat-beenhere: "\eb09";
$icon-mat-directions: "\eb0a";
$icon-mat-directions_bike: "\eb0b";
$icon-mat-directions_bus: "\eb0c";
$icon-mat-directions_car: "\eb0d";
$icon-mat-directions_ferry: "\eb0e";
$icon-mat-directions_subway: "\eb0f";
$icon-mat-directions_transit: "\eb0f";
$icon-mat-directions_railway: "\eb10";
$icon-mat-directions_walk: "\eb11";
$icon-mat-hotel: "\eb12";
$icon-mat-local_hotel: "\eb12";
$icon-mat-layers: "\eb13";
$icon-mat-layers_clear: "\eb14";
$icon-mat-local_atm: "\eb15";
$icon-mat-local_attraction: "\eb16";
$icon-mat-local_play: "\eb16";
$icon-mat-local_bar: "\eb17";
$icon-mat-local_cafe: "\eb18";
$icon-mat-free_breakfast: "\eb18";
$icon-mat-local_car_wash: "\eb19";
$icon-mat-local_convenience_store: "\eb1a";
$icon-mat-local_drink: "\eb1b";
$icon-mat-local_florist: "\eb1c";
$icon-mat-local_gas_station: "\eb1d";
$icon-mat-local_grocery_store: "\eb1e";
$icon-mat-shopping_cart: "\eb1e";
$icon-mat-local_hospital: "\eb1f";
$icon-mat-local_laundry_service: "\eb20";
$icon-mat-local_library: "\eb21";
$icon-mat-local_mall: "\eb22";
$icon-mat-local_movies: "\eb23";
$icon-mat-theaters: "\eb23";
$icon-mat-local_offer: "\eb24";
$icon-mat-local_parking: "\eb25";
$icon-mat-local_pharmacy: "\eb26";
$icon-mat-local_pizza: "\eb27";
$icon-mat-local_print_shop: "\eb28";
$icon-mat-print: "\eb28";
$icon-mat-local_restaurant: "\eb29";
$icon-mat-restaurant_menu: "\eb29";
$icon-mat-local_shipping: "\eb2a";
$icon-mat-local_taxi: "\eb2b";
$icon-mat-location_history: "\eb2c";
$icon-mat-map: "\eb2d";
$icon-mat-navigation: "\eb2e";
$icon-mat-pin_drop: "\eb2f";
$icon-mat-rate_review: "\eb30";
$icon-mat-satellite: "\eb31";
$icon-mat-store_mall_directory: "\eb32";
$icon-mat-store: "\eb32";
$icon-mat-traffic: "\eb33";
$icon-mat-directions_run: "\eb34";
$icon-mat-add_location: "\eb35";
$icon-mat-edit_location: "\eb36";
$icon-mat-near_me: "\eb37";
$icon-mat-person_pin_circle: "\eb38";
$icon-mat-zoom_out_map: "\eb39";
$icon-mat-restaurant: "\eb3a";
$icon-mat-ev_station: "\eb3b";
$icon-mat-streetview: "\eb3c";
$icon-mat-subway: "\eb3d";
$icon-mat-train: "\eb3e";
$icon-mat-tram: "\eb3f";
$icon-mat-transfer_within_a_station: "\eb40";
$icon-mat-atm: "\eb41";
$icon-mat-category: "\eb42";
$icon-mat-not_listed_location: "\eb43";
$icon-mat-departure_board: "\eb44";
$icon-mat-360: "\eb45";
$icon-mat-edit_attributes: "\eb46";
$icon-mat-transit_enterexit: "\eb47";
$icon-mat-fastfood: "\eb48";
$icon-mat-trip_origin: "\eb49";
$icon-mat-compass_calibration: "\eb4a";
$icon-mat-money: "\eb4b";
$icon-mat-apps: "\eb4c";
$icon-mat-arrow_back: "\eb4d";
$icon-mat-arrow_drop_down: "\eb4e";
$icon-mat-arrow_drop_down_circle: "\eb4f";
$icon-mat-arrow_drop_up: "\eb50";
$icon-mat-arrow_forward: "\eb51";
$icon-mat-cancel: "\eb52";
$icon-mat-check: "\eb53";
$icon-mat-expand_less: "\eb54";
$icon-mat-expand_more: "\eb55";
$icon-mat-fullscreen: "\eb56";
$icon-mat-fullscreen_exit: "\eb57";
$icon-mat-menu: "\eb58";
$icon-mat-keyboard_control: "\eb59";
$icon-mat-more_vert: "\eb5a";
$icon-mat-refresh: "\eb5b";
$icon-mat-unfold_less: "\eb5c";
$icon-mat-unfold_more: "\eb5d";
$icon-mat-arrow_upward: "\eb5e";
$icon-mat-subdirectory_arrow_left: "\eb5f";
$icon-mat-subdirectory_arrow_right: "\eb60";
$icon-mat-arrow_downward: "\eb61";
$icon-mat-first_page: "\eb62";
$icon-mat-last_page: "\eb63";
$icon-mat-arrow_left: "\eb64";
$icon-mat-arrow_right: "\eb65";
$icon-mat-arrow_back_ios: "\eb66";
$icon-mat-arrow_forward_ios: "\eb67";
$icon-mat-adb: "\eb68";
$icon-mat-disc_full: "\eb69";
$icon-mat-do_not_disturb_alt: "\eb6a";
$icon-mat-drive_eta: "\eb6b";
$icon-mat-time_to_leave: "\eb6b";
$icon-mat-event_available: "\eb6c";
$icon-mat-event_busy: "\eb6d";
$icon-mat-event_note: "\eb6e";
$icon-mat-folder_special: "\eb6f";
$icon-mat-mms: "\eb70";
$icon-mat-more: "\eb71";
$icon-mat-network_locked: "\eb72";
$icon-mat-phone_bluetooth_speaker: "\eb73";
$icon-mat-phone_forwarded: "\eb74";
$icon-mat-phone_in_talk: "\eb75";
$icon-mat-phone_locked: "\eb76";
$icon-mat-phone_missed: "\eb77";
$icon-mat-phone_paused: "\eb78";
$icon-mat-sim_card_alert: "\eb79";
$icon-mat-sms_failed: "\eb7a";
$icon-mat-feedback: "\eb7a";
$icon-mat-sync_disabled: "\eb7b";
$icon-mat-sync_problem: "\eb7c";
$icon-mat-system_update: "\eb7d";
$icon-mat-tap_and_play: "\eb7e";
$icon-mat-vibration: "\eb7f";
$icon-mat-voice_chat: "\eb80";
$icon-mat-vpn_lock: "\eb81";
$icon-mat-airline_seat_flat: "\eb82";
$icon-mat-airline_seat_flat_angled: "\eb83";
$icon-mat-airline_seat_individual_suite: "\eb84";
$icon-mat-airline_seat_legroom_extra: "\eb85";
$icon-mat-airline_seat_legroom_normal: "\eb86";
$icon-mat-airline_seat_legroom_reduced: "\eb87";
$icon-mat-airline_seat_recline_extra: "\eb88";
$icon-mat-airline_seat_recline_normal: "\eb89";
$icon-mat-confirmation_number: "\eb8a";
$icon-mat-live_tv: "\eb8b";
$icon-mat-ondemand_video: "\eb8c";
$icon-mat-personal_video: "\eb8d";
$icon-mat-power: "\eb8e";
$icon-mat-wc: "\eb8f";
$icon-mat-wifi: "\eb90";
$icon-mat-enhanced_encryption: "\eb91";
$icon-mat-network_check: "\eb92";
$icon-mat-no_encryption: "\eb93";
$icon-mat-rv_hookup: "\eb94";
$icon-mat-do_not_disturb_off: "\eb95";
$icon-mat-priority_high: "\eb96";
$icon-mat-power_off: "\eb97";
$icon-mat-tv_off: "\eb98";
$icon-mat-wifi_off: "\eb99";
$icon-mat-phone_callback: "\eb9a";
$icon-mat-pie_chart: "\eb9b";
$icon-mat-pie_chart_outlined: "\eb9c";
$icon-mat-bubble_chart: "\eb9d";
$icon-mat-multiline_chart: "\eb9e";
$icon-mat-show_chart: "\eb9f";
$icon-mat-cake: "\eba0";
$icon-mat-group: "\eba1";
$icon-mat-people: "\eba1";
$icon-mat-group_add: "\eba2";
$icon-mat-location_city: "\eba3";
$icon-mat-mood_bad: "\eba4";
$icon-mat-notifications: "\eba5";
$icon-mat-notifications_none: "\eba6";
$icon-mat-notifications_off: "\eba7";
$icon-mat-notifications_active: "\eba8";
$icon-mat-notifications_paused: "\eba9";
$icon-mat-pages: "\ebaa";
$icon-mat-party_mode: "\ebab";
$icon-mat-people_outline: "\ebac";
$icon-mat-person: "\ebad";
$icon-mat-person_add: "\ebae";
$icon-mat-person_outline: "\ebaf";
$icon-mat-perm_identity: "\ebaf";
$icon-mat-plus_one: "\ebb0";
$icon-mat-public: "\ebb1";
$icon-mat-school: "\ebb2";
$icon-mat-share: "\ebb3";
$icon-mat-whatshot: "\ebb4";
$icon-mat-sentiment_dissatisfied: "\ebb5";
$icon-mat-sentiment_neutral: "\ebb6";
$icon-mat-sentiment_satisfied: "\ebb7";
$icon-mat-sentiment_very_dissatisfied: "\ebb8";
$icon-mat-sentiment_very_satisfied: "\ebb9";
$icon-mat-thumb_down_alt: "\ebba";
$icon-mat-thumb_up_alt: "\ebbb";
$icon-mat-check_box: "\ebbc";
$icon-mat-check_box_outline_blank: "\ebbd";
$icon-mat-radio_button_checked: "\ebbe";
$icon-mat-star: "\ebbf";
$icon-mat-grade: "\ebbf";
$icon-mat-star_half: "\ebc0";
$icon-mat-star_outline: "\ebc1";
$icon-mat-3d_rotation: "\ebc2";
$icon-mat-accessibility: "\ebc3";
$icon-mat-account_balance: "\ebc4";
$icon-mat-account_balance_wallet: "\ebc5";
$icon-mat-account_box: "\ebc6";
$icon-mat-account_circle: "\ebc7";
$icon-mat-add_shopping_cart: "\ebc8";
$icon-mat-alarm_off: "\ebc9";
$icon-mat-alarm_on: "\ebca";
$icon-mat-android: "\ebcb";
$icon-mat-announcement: "\ebcc";
$icon-mat-aspect_ratio: "\ebcd";
$icon-mat-assignment: "\ebce";
$icon-mat-assignment_ind: "\ebcf";
$icon-mat-assignment_late: "\ebd0";
$icon-mat-assignment_return: "\ebd1";
$icon-mat-assignment_returned: "\ebd2";
$icon-mat-assignment_turned_in: "\ebd3";
$icon-mat-autorenew: "\ebd4";
$icon-mat-book: "\ebd5";
$icon-mat-class: "\ebd5";
$icon-mat-bookmark: "\ebd6";
$icon-mat-turned_in: "\ebd6";
$icon-mat-bookmark_outline: "\ebd7";
$icon-mat-turned_in_not: "\ebd7";
$icon-mat-bug_report: "\ebd8";
$icon-mat-build: "\ebd9";
$icon-mat-cached: "\ebda";
$icon-mat-change_history: "\ebdb";
$icon-mat-check_circle: "\ebdc";
$icon-mat-chrome_reader_mode: "\ebdd";
$icon-mat-code: "\ebde";
$icon-mat-credit_card: "\ebdf";
$icon-mat-payment: "\ebdf";
$icon-mat-dashboard: "\ebe0";
$icon-mat-delete: "\ebe1";
$icon-mat-description: "\ebe2";
$icon-mat-dns: "\ebe3";
$icon-mat-done: "\ebe4";
$icon-mat-done_all: "\ebe5";
$icon-mat-exit_to_app: "\ebe6";
$icon-mat-explore: "\ebe7";
$icon-mat-extension: "\ebe8";
$icon-mat-face: "\ebe9";
$icon-mat-favorite: "\ebea";
$icon-mat-favorite_outline: "\ebeb";
$icon-mat-find_in_page: "\ebec";
$icon-mat-find_replace: "\ebed";
$icon-mat-flip_to_back: "\ebee";
$icon-mat-flip_to_front: "\ebef";
$icon-mat-group_work: "\ebf0";
$icon-mat-help: "\ebf1";
$icon-mat-highlight_remove: "\ebf2";
$icon-mat-history: "\ebf3";
$icon-mat-restore: "\ebf3";
$icon-mat-home: "\ebf4";
$icon-mat-hourglass_empty: "\ebf5";
$icon-mat-hourglass_full: "\ebf6";
$icon-mat-https: "\ebf7";
$icon-mat-lock: "\ebf7";
$icon-mat-info: "\ebf8";
$icon-mat-info_outline: "\ebf9";
$icon-mat-input: "\ebfa";
$icon-mat-invert_colors_on: "\ebfb";
$icon-mat-label: "\ebfc";
$icon-mat-label_outline: "\ebfd";
$icon-mat-language: "\ebfe";
$icon-mat-launch: "\ebff";
$icon-mat-open_in_new: "\ebff";
$icon-mat-list: "\ec00";
$icon-mat-lock_open: "\ec01";
$icon-mat-lock_outline: "\ec02";
$icon-mat-loyalty: "\ec03";
$icon-mat-markunread_mailbox: "\ec04";
$icon-mat-note_add: "\ec05";
$icon-mat-open_in_browser: "\ec06";
$icon-mat-open_with: "\ec07";
$icon-mat-pageview: "\ec08";
$icon-mat-perm_camera_mic: "\ec09";
$icon-mat-perm_contact_calendar: "\ec0a";
$icon-mat-perm_data_setting: "\ec0b";
$icon-mat-perm_device_information: "\ec0c";
$icon-mat-perm_media: "\ec0d";
$icon-mat-perm_phone_msg: "\ec0e";
$icon-mat-perm_scan_wifi: "\ec0f";
$icon-mat-picture_in_picture: "\ec10";
$icon-mat-polymer: "\ec11";
$icon-mat-power_settings_new: "\ec12";
$icon-mat-receipt: "\ec13";
$icon-mat-redeem: "\ec14";
$icon-mat-card_giftcard: "\ec14";
$icon-mat-search: "\ec15";
$icon-mat-settings: "\ec16";
$icon-mat-settings_applications: "\ec17";
$icon-mat-settings_backup_restore: "\ec18";
$icon-mat-settings_bluetooth: "\ec19";
$icon-mat-settings_cell: "\ec1a";
$icon-mat-settings_brightness: "\ec1b";
$icon-mat-settings_ethernet: "\ec1c";
$icon-mat-settings_input_antenna: "\ec1d";
$icon-mat-settings_input_component: "\ec1e";
$icon-mat-settings_input_composite: "\ec1e";
$icon-mat-settings_input_hdmi: "\ec1f";
$icon-mat-settings_input_svideo: "\ec20";
$icon-mat-settings_overscan: "\ec21";
$icon-mat-settings_phone: "\ec22";
$icon-mat-settings_power: "\ec23";
$icon-mat-settings_remote: "\ec24";
$icon-mat-settings_voice: "\ec25";
$icon-mat-shop: "\ec26";
$icon-mat-shop_two: "\ec27";
$icon-mat-shopping_basket: "\ec28";
$icon-mat-speaker_notes: "\ec29";
$icon-mat-spellcheck: "\ec2a";
$icon-mat-stars: "\ec2b";
$icon-mat-subject: "\ec2c";
$icon-mat-supervisor_account: "\ec2d";
$icon-mat-swap_horiz: "\ec2e";
$icon-mat-swap_vert: "\ec2f";
$icon-mat-swap_vertical_circle: "\ec30";
$icon-mat-system_update_alt: "\ec31";
$icon-mat-tab: "\ec32";
$icon-mat-tab_unselected: "\ec33";
$icon-mat-thumb_down: "\ec34";
$icon-mat-thumb_up: "\ec35";
$icon-mat-thumbs_up_down: "\ec36";
$icon-mat-toc: "\ec37";
$icon-mat-today: "\ec38";
$icon-mat-toll: "\ec39";
$icon-mat-track_changes: "\ec3a";
$icon-mat-translate: "\ec3b";
$icon-mat-trending_down: "\ec3c";
$icon-mat-trending_neutral: "\ec3d";
$icon-mat-trending_up: "\ec3e";
$icon-mat-verified_user: "\ec3f";
$icon-mat-view_agenda: "\ec40";
$icon-mat-view_array: "\ec41";
$icon-mat-view_carousel: "\ec42";
$icon-mat-view_column: "\ec43";
$icon-mat-view_day: "\ec44";
$icon-mat-view_headline: "\ec45";
$icon-mat-view_list: "\ec46";
$icon-mat-view_module: "\ec47";
$icon-mat-view_quilt: "\ec48";
$icon-mat-view_stream: "\ec49";
$icon-mat-view_week: "\ec4a";
$icon-mat-visibility_off: "\ec4b";
$icon-mat-card_membership: "\ec4c";
$icon-mat-card_travel: "\ec4d";
$icon-mat-work: "\ec4e";
$icon-mat-youtube_searched_for: "\ec4f";
$icon-mat-eject: "\ec50";
$icon-mat-camera_enhance: "\ec51";
$icon-mat-help_outline: "\ec52";
$icon-mat-reorder: "\ec53";
$icon-mat-zoom_in: "\ec54";
$icon-mat-zoom_out: "\ec55";
$icon-mat-http: "\ec56";
$icon-mat-event_seat: "\ec57";
$icon-mat-flight_land: "\ec58";
$icon-mat-flight_takeoff: "\ec59";
$icon-mat-play_for_work: "\ec5a";
$icon-mat-gif: "\ec5b";
$icon-mat-indeterminate_check_box: "\ec5c";
$icon-mat-offline_pin: "\ec5d";
$icon-mat-all_out: "\ec5e";
$icon-mat-copyright: "\ec5f";
$icon-mat-fingerprint: "\ec60";
$icon-mat-gavel: "\ec61";
$icon-mat-lightbulb_outline: "\ec62";
$icon-mat-picture_in_picture_alt: "\ec63";
$icon-mat-important_devices: "\ec64";
$icon-mat-touch_app: "\ec65";
$icon-mat-accessible: "\ec66";
$icon-mat-compare_arrows: "\ec67";
$icon-mat-date_range: "\ec68";
$icon-mat-donut_large: "\ec69";
$icon-mat-donut_small: "\ec6a";
$icon-mat-line_style: "\ec6b";
$icon-mat-line_weight: "\ec6c";
$icon-mat-motorcycle: "\ec6d";
$icon-mat-opacity: "\ec6e";
$icon-mat-pets: "\ec6f";
$icon-mat-pregnant_woman: "\ec70";
$icon-mat-record_voice_over: "\ec71";
$icon-mat-rounded_corner: "\ec72";
$icon-mat-rowing: "\ec73";
$icon-mat-timeline: "\ec74";
$icon-mat-update: "\ec75";
$icon-mat-watch_later: "\ec76";
$icon-mat-pan_tool: "\ec77";
$icon-mat-euro_symbol: "\ec78";
$icon-mat-g_translate: "\ec79";
$icon-mat-remove_shopping_cart: "\ec7a";
$icon-mat-restore_page: "\ec7b";
$icon-mat-speaker_notes_off: "\ec7c";
$icon-mat-delete_forever: "\ec7d";
$icon-mat-accessibility_new: "\ec7e";
$icon-mat-check_circle_outline: "\ec7f";
$icon-mat-delete_outline: "\ec80";
$icon-mat-done_outline: "\ec81";
$icon-mat-maximize: "\ec82";
$icon-mat-minimize: "\ec83";
$icon-mat-offline_bolt: "\ec84";
$icon-mat-swap_horizontal_circle: "\ec85";
$icon-mat-accessible_forward: "\ec86";
$icon-mat-calendar_today: "\ec87";
$icon-mat-calendar_view_day: "\ec88";
$icon-mat-label_important: "\ec89";
$icon-mat-restore_from_trash: "\ec8a";
$icon-mat-supervised_user_circle: "\ec8b";
$icon-mat-text_rotate_up: "\ec8c";
$icon-mat-text_rotate_vertical: "\ec8d";
$icon-mat-text_rotation_angledown: "\ec8e";
$icon-mat-text_rotation_angleup: "\ec8f";
$icon-mat-text_rotation_down: "\ec90";
$icon-mat-text_rotation_none: "\ec91";
$icon-mat-commute: "\ec92";
$icon-mat-arrow_right_alt: "\ec93";
$icon-mat-work_off: "\ec94";
$icon-mat-work_outline: "\ec95";
$icon-mat-drag_indicator: "\ec96";
$icon-mat-horizontal_split: "\ec97";
$icon-mat-label_important_outline: "\ec98";
$icon-mat-vertical_split: "\ec99";
$icon-mat-voice_over_off: "\ec9a";
$icon-mat-segment: "\ec9b";
$icon-mat-contact_support: "\ec9c";
$icon-mat-compress: "\ec9d";
$icon-mat-filter_list_alt: "\ec9e";
$icon-mat-expand: "\ec9f";
$icon-mat-edit_off: "\eca0";
$icon-mat-10k: "\eca1";
$icon-mat-10mp: "\eca2";
$icon-mat-11mp: "\eca3";
$icon-mat-12mp: "\eca4";
$icon-mat-13mp: "\eca5";
$icon-mat-14mp: "\eca6";
$icon-mat-15mp: "\eca7";
$icon-mat-16mp: "\eca8";
$icon-mat-17mp: "\eca9";
$icon-mat-18mp: "\ecaa";
$icon-mat-19mp: "\ecab";
$icon-mat-1k: "\ecac";
$icon-mat-1k_plus: "\ecad";
$icon-mat-20mp: "\ecae";
$icon-mat-21mp: "\ecaf";
$icon-mat-22mp: "\ecb0";
$icon-mat-23mp: "\ecb1";
$icon-mat-24mp: "\ecb2";
$icon-mat-2k: "\ecb3";
$icon-mat-2k_plus: "\ecb4";
$icon-mat-2mp: "\ecb5";
$icon-mat-3k: "\ecb6";
$icon-mat-3k_plus: "\ecb7";
$icon-mat-3mp: "\ecb8";
$icon-mat-4k_plus: "\ecb9";
$icon-mat-4mp: "\ecba";
$icon-mat-5k: "\ecbb";
$icon-mat-5k_plus: "\ecbc";
$icon-mat-5mp: "\ecbd";
$icon-mat-6k: "\ecbe";
$icon-mat-6k_plus: "\ecbf";
$icon-mat-6mp: "\ecc0";
$icon-mat-7k: "\ecc1";
$icon-mat-7k_plus: "\ecc2";
$icon-mat-7mp: "\ecc3";
$icon-mat-8k: "\ecc4";
$icon-mat-8k_plus: "\ecc5";
$icon-mat-8mp: "\ecc6";
$icon-mat-9k: "\ecc7";
$icon-mat-9k_plus: "\ecc8";
$icon-mat-9mp: "\ecc9";
$icon-mat-account_tree: "\ecca";
$icon-mat-add_chart: "\eccb";
$icon-mat-add_ic_call: "\eccc";
$icon-mat-add_moderator: "\eccd";
$icon-mat-all_inbox: "\ecce";
$icon-mat-approval: "\eccf";
$icon-mat-assistant_direction: "\ecd0";
$icon-mat-assistant_navigation: "\ecd1";
$icon-mat-bookmarks: "\ecd2";
$icon-mat-bus_alert: "\ecd3";
$icon-mat-cases: "\ecd4";
$icon-mat-circle_notifications: "\ecd5";
$icon-mat-closed_caption_off: "\ecd6";
$icon-mat-connected_tv: "\ecd7";
$icon-mat-dangerous: "\ecd8";
$icon-mat-dashboard_customize: "\ecd9";
$icon-mat-desktop_access_disabled: "\ecda";
$icon-mat-drive_file_move_outline: "\ecdb";
$icon-mat-drive_file_rename_outline: "\ecdc";
$icon-mat-drive_folder_upload: "\ecdd";
$icon-mat-duo: "\ecde";
$icon-mat-explore_off: "\ecdf";
$icon-mat-file_download_done: "\ece0";
$icon-mat-rtt: "\ece1";
$icon-mat-grid_view: "\ece2";
$icon-mat-hail: "\ece3";
$icon-mat-home_filled: "\ece4";
$icon-mat-imagesearch_roller: "\ece5";
$icon-mat-label_off: "\ece6";
$icon-mat-library_add_check: "\ece7";
$icon-mat-logout: "\ece8";
$icon-mat-margin: "\ece9";
$icon-mat-mark_as_unread: "\ecea";
$icon-mat-menu_open: "\eceb";
$icon-mat-mp: "\ecec";
$icon-mat-offline_share: "\eced";
$icon-mat-padding: "\ecee";
$icon-mat-panorama_photosphere: "\ecef";
$icon-mat-panorama_photosphere_select: "\ecf0";
$icon-mat-person_add_disabled: "\ecf1";
$icon-mat-phone_disabled: "\ecf2";
$icon-mat-phone_enabled: "\ecf3";
$icon-mat-pivot_table_chart: "\ecf4";
$icon-mat-print_disabled: "\ecf5";
$icon-mat-railway_alert: "\ecf6";
$icon-mat-recommend: "\ecf7";
$icon-mat-remove_done: "\ecf8";
$icon-mat-remove_moderator: "\ecf9";
$icon-mat-repeat_on: "\ecfa";
$icon-mat-repeat_one_on: "\ecfb";
$icon-mat-replay_circle_filled: "\ecfc";
$icon-mat-reset_tv: "\ecfd";
$icon-mat-sd: "\ecfe";
$icon-mat-shield: "\ecff";
$icon-mat-shuffle_on: "\ed00";
$icon-mat-speed: "\ed01";
$icon-mat-stacked_bar_chart: "\ed02";
$icon-mat-stream: "\ed03";
$icon-mat-swipe: "\ed04";
$icon-mat-switch_account: "\ed05";
$icon-mat-tag: "\ed06";
$icon-mat-thumb_down_off_alt: "\ed07";
$icon-mat-thumb_up_off_alt: "\ed08";
$icon-mat-toggle_off: "\ed09";
$icon-mat-toggle_on: "\ed0a";
$icon-mat-two_wheeler: "\ed0b";
$icon-mat-upload_file: "\ed0c";
$icon-mat-view_in_ar: "\ed0d";
$icon-mat-waterfall_chart: "\ed0e";
$icon-mat-wb_shade: "\ed0f";
$icon-mat-wb_twighlight: "\ed10";
$icon-mat-home_work: "\ed11";
$icon-mat-schedule_send: "\ed12";
$icon-mat-bolt: "\ed13";
$icon-mat-send_and_archive: "\ed14";
$icon-mat-workspaces_filled: "\ed15";
$icon-mat-file_present: "\ed16";
$icon-mat-workspaces_outline: "\ed17";
$icon-mat-fit_screen: "\ed18";
$icon-mat-saved_search: "\ed19";
$icon-mat-storefront: "\ed1a";
$icon-mat-amp_stories: "\ed1b";
$icon-mat-dynamic_feed: "\ed1c";
$icon-mat-euro: "\ed1d";
$icon-mat-height: "\ed1e";
$icon-mat-policy: "\ed1f";
$icon-mat-sync_alt: "\ed20";
$icon-mat-menu_book: "\ed21";
$icon-mat-emoji_flags: "\ed22";
$icon-mat-emoji_food_beverage: "\ed23";
$icon-mat-emoji_nature: "\ed24";
$icon-mat-emoji_people: "\ed25";
$icon-mat-emoji_symbols: "\ed26";
$icon-mat-emoji_transportation: "\ed27";
$icon-mat-post_add: "\ed28";
$icon-mat-people_alt: "\ed29";
$icon-mat-emoji_emotions: "\ed2a";
$icon-mat-emoji_events: "\ed2b";
$icon-mat-emoji_objects: "\ed2c";
$icon-mat-sports_basketball: "\ed2d";
$icon-mat-sports_cricket: "\ed2e";
$icon-mat-sports_esports: "\ed2f";
$icon-mat-sports_football: "\ed30";
$icon-mat-sports_golf: "\ed31";
$icon-mat-sports_hockey: "\ed32";
$icon-mat-sports_mma: "\ed33";
$icon-mat-sports_motorsports: "\ed34";
$icon-mat-sports_rugby: "\ed35";
$icon-mat-sports_soccer: "\ed36";
$icon-mat-sports: "\ed37";
$icon-mat-sports_volleyball: "\ed38";
$icon-mat-sports_tennis: "\ed39";
$icon-mat-sports_handball: "\ed3a";
$icon-mat-sports_kabaddi: "\ed3b";
$icon-mat-eco: "\ed3c";
$icon-mat-museum: "\ed3d";
$icon-mat-flip_camera_android: "\ed3e";
$icon-mat-flip_camera_ios: "\ed3f";
$icon-mat-cancel_schedule_send: "\ed40";
$icon-mat-apartment: "\ed41";
$icon-mat-bathtub: "\ed42";
$icon-mat-deck: "\ed43";
$icon-mat-fireplace: "\ed44";
$icon-mat-house: "\ed45";
$icon-mat-king_bed: "\ed46";
$icon-mat-nights_stay: "\ed47";
$icon-mat-outdoor_grill: "\ed48";
$icon-mat-single_bed: "\ed49";
$icon-mat-square_foot: "\ed4a";
$icon-mat-double_arrow: "\ed4b";
$icon-mat-sports_baseball: "\ed4c";
$icon-mat-attractions: "\ed4d";
$icon-mat-bakery_dining: "\ed4e";
$icon-mat-breakfast_dining: "\ed4f";
$icon-mat-car_rental: "\ed50";
$icon-mat-car_repair: "\ed51";
$icon-mat-dinner_dining: "\ed52";
$icon-mat-dry_cleaning: "\ed53";
$icon-mat-hardware: "\ed54";
$icon-mat-liquor: "\ed55";
$icon-mat-lunch_dining: "\ed56";
$icon-mat-nightlife: "\ed57";
$icon-mat-park: "\ed58";
$icon-mat-ramen_dining: "\ed59";
$icon-mat-celebration: "\ed5a";
$icon-mat-theater_comedy: "\ed5b";
$icon-mat-badge: "\ed5c";
$icon-mat-festival: "\ed5d";
$icon-mat-icecream: "\ed5e";
$icon-mat-volunteer_activism: "\ed5f";
$icon-mat-contactless: "\ed60";
$icon-mat-delivery_dining: "\ed61";
$icon-mat-brunch_dining: "\ed62";
$icon-mat-takeout_dining: "\ed63";
$icon-mat-ac_unit: "\ed64";
$icon-mat-airport_shuttle: "\ed65";
$icon-mat-all_inclusive: "\ed66";
$icon-mat-beach_access: "\ed67";
$icon-mat-business_center: "\ed68";
$icon-mat-casino: "\ed69";
$icon-mat-child_care: "\ed6a";
$icon-mat-child_friendly: "\ed6b";
$icon-mat-fitness_center: "\ed6c";
$icon-mat-golf_course: "\ed6d";
$icon-mat-hot_tub: "\ed6e";
$icon-mat-kitchen: "\ed6f";
$icon-mat-pool: "\ed70";
$icon-mat-room_service: "\ed71";
$icon-mat-smoke_free: "\ed72";
$icon-mat-smoking_rooms: "\ed73";
$icon-mat-spa: "\ed74";
$icon-mat-no_meeting_room: "\ed75";
$icon-mat-meeting_room: "\ed76";
$icon-mat-goat: "\ed77";
$icon-mat-not-filtered_list: "\ed78";

